[2017-08-01 15:54] kkoch opened #159 "Add 45166 to Portal (and GLBuoys)"
Here is the data cache for 45166.
http://data.glos.us/portal/getObsByPlatform.php?provider=glos&platform=Lake+Champlain+%3F+Inland+Sea

The contact is Tom Manley for 45166 (tmanley@middlebury.edu). He knows about glbuoys but probably not about GLOS and why you would like metadata.

I’ve created a webpage for 45166 but tds has not yet created a directory for 45166. I thought this was done automatic

[2017-08-01 15:56] kkoch commented on #159
I have contacted the user who brought this up (Richard Furbush at Middlebury) and Tom Manley asking for the GN metadata form to be filled out.   In the interim I will create at least a bare-bones GN record.  If @cheryldmorse would work with @gcutrell to finish the process.  I also would like the process of adding a new buoy to be documented so I can add to our wiki.

[2017-08-01 15:59] kkoch commented on #48
This was originally closed because of above comment that there was no data coming from this buoy.  However, looks like we should revisit even if we are just showing for purposes of glbuoys that this is a valid buoy in the system for TDS etc.  There is a GN record for this and does show minimal record in the Portal > http://data.glos.us/metadata/srv/eng/main.home?uuid=4cbfa856-ea71-4d51-be58-a0ce07

[2017-08-01 16:25] kkoch commented on #159
GN record > http://data.glos.us/metadata/srv/eng/main.home?uuid=ef5af3b2-aea9-4125-a85f-b08f521b771b

[2017-08-01 18:08] kkoch commented on #159
We are all set on portal.  Gads I love it when the magic works.  Still pending 'real' metadata from owner (above GN record is based on me going to their website and NDBC, but good enough for now).

![image](https://user-images.githubusercontent.com/6392982/28839883-0fe44800-76c3-11e7-94c3-dfaaa9619ed9.png)

[2017-08-02 20:54] gcutrell commented on #159
@cheryldmorse Can y'all add 45166 to the list of the stations that are placed in thredds->buoys? We need data to be in there to populate the glbuoys website.

[2017-08-02 20:55] gcutrell commented on #48
@kkoch Data is available in the glos_obs database. @cheryldmorse Can y'all add 45173 to the list of stations on thredds -> buoys?

[2017-08-03 13:39] hellocomrade commented on #146
@gcutrell

Sorry for the late reply. Is this still an issue for you?

[2017-08-03 15:12] gcutrell commented on #146
@hellocomrade Yes. As far as I know no one has added tags for the glos_parser to read in since you left. There are some unhappy users out there who miss solar radiation and mean wave direction that the old greatlakesbuoys/NDBC provides. There are a few other parameters that need to be added as well but these are the biggest issue right now.

[2017-08-03 16:46] gcutrell commented on #152
The 2017 archive was prematurely made earlier this year. It was never deleted because it would eventually need to be created at the end of 2017 and it was not messing up anything. The current year's data is in http://tds.glos.us/thredds/glcfs/nowcast/glcfs_nowcast_current.html.

[2017-08-03 19:24] kkoch commented on #153
Done Life is good

[2017-08-03 19:24] #153 closed

[2017-08-04 14:02] kkoch commented on #57
Actually I just started checking and somehow most of the GLOS buoys are now not being suppressed (originally it was just the 4 in the original title of this issue ticket), so something got changed to un-suppress the others.  This means that if someone searches in the catalog for a buoy that we have a GN record on, they see two hits and of course they aren't going to understand why.

Basically anyt

[2017-08-04 14:27] Bobfrat commented on #57
@kkoch i can add a blacklist when we're collecting the NDBC stations in the Great Lakes.

[2017-08-04 14:28] kkoch commented on #57
@Bobfrat   just updated my comment above.  Somehow I think our blacklist has stopped working as most of the GLOS buoys are now showing double records.  Do you need a full list?

[2017-08-04 14:31] Bobfrat commented on #57
yes please

[2017-08-04 14:35] kkoch commented on #57
45013, 45014, 45020, 45022, 45023, 45024, 45025, 45026, 45027, 45028, 45029, 45161, 45162, 45163, 45164, 45165, 45167, 45168, 45169, 45170, 45171, 45172, 45173, 45174, 45175, 45176

[2017-08-04 14:39] everhamme commented on #57
What about 45164?

Ed Verhamme
Project Engineer
LimnoTech www.limno.com
Ph: (734) 332-1200<tel:(734)%20332-1200>
Direct/Cell:  (734) 681-0577<tel:(734)%20681-0577>
everhamme@limno.com<mailto:everhamme@limno.com>

-------- Original message --------
From: Kathy Koch <notifications@github.com>
Date: 8/4/17 10:35 AM (GMT-05:00)
To: glos/myglos <myglos@noreply.github.com>
Cc: Subscribed <subscribed@nor

[2017-08-04 14:40] kkoch commented on #57
@everhamme typo, fixed

[2017-08-07 15:29] cheryldmorse commented on #159
@gcutrell  This is done.
FYI - To add a new station to thredds just copy the uglos_tables.dat file to the following directory on process1: '/usr/local/glos/buoy_harvester/glos_harvest'

[2017-08-08 12:32] Bobfrat commented on #57
@kkoch I removed those stations from the NDBC feed.

[2017-08-08 13:47] kkoch commented on #57
Looks good. Closing and thanks.

[2017-08-08 13:47] #57 closed

[2017-08-09 13:30] kkoch commented on #53
Just noticed that the abstracts for this manually curated data set still not showing in portal (brought to my attention by Colin). Can we get this done please @cheryldmorse @Bobfrat

Again reminder that the text that I'd suggested originally is in the first comment of this ticket/issue.

[2017-08-09 13:34] kkoch commented on #53
Comment from Colin at MTRI >

I was reminded in poking around the portal yesterday that the MTRI Great Lakes remote sensing products just have "MTRI Great Lakes Remote Sensing Products: Lake [name]" as their description when you display them in the Catalog or Map version. In the original way of accessing them, they had a slightly longer description that helped describe them as a group. I can't fin

[2017-08-09 14:46] Bobfrat commented on #53
@kkoch can we shorten the title from the suggested one:
[code]

<img width="313" alt="screen shot 2017-08-09 at 10 43 36 am" src="https://user-images.githubusercontent.com/5702672/29127672-c1405116-7cef-11e7-92d1-c0fae16096b5.png">

Or maybe put the lake first? 'Lake [insert lake name here]: MTRI Great Lakes Remote Sensing Products'

[2017-08-09 16:24] tslawecki opened #160 "CORS for tds.glos.us?"
I'm playing with a small charting web page that I'd like to populate with THREDDS requests like

  [http://tds.glos.us/thredds/dodsC/glos/glcfs/archivecurrent/erie/ncfmrc-3d/Lake_Erie_-_Nowcast_-_3D_-_Current_Year_best.ncd.ascii?time](url)

However, the XMLHttpRequest GET for this returns status 0, which seems to be related to cross-domain requests; there's an item at [https://github.com/axiom-dat

[2017-08-11 16:08] Bobfrat commented on #53
@kkoch any thoughts on the title? Things are looking pretty good other than that.

[2017-08-14 16:38] kkoch commented on #53
Sorry I was on vacation.

Colin (MTRI) let me know that he likes >

cdom @ MTRI Lake Superior

The problem with that is that the parameters don't show up until you click on the item as a pop-up which I get the impression he does not like.  But then it gets pretty ugly to have each of the parameters listed in a long list for each lake.  So I'm pushing back on that . I'll let you know.

As a side qu

[2017-08-15 12:43] Bobfrat commented on #53
@kkoch I'm not sure if thats possible because the parameter list would show on hover, but when you move your mouse towards the popup to add a parameter to the map, the window would disappear so you wouldn't be able to select anything.

[2017-08-15 13:48] kkoch commented on #53
@Bobfrat No worries on the pop-up - just thought I'd ask.

Colin has approved the following for the titles:

MTRI Remote Sensing Lake [name]

[2017-08-15 14:09] #114 closed

[2017-08-15 15:32] kkoch commented on #159
@gcutrell I have updated the GN metadata that Tom Manley provided.  Looks like we are good from the Portal standpoint so I'm closing this part of the ticket.  I see a direct link to http://glbuoys.glos.us/45166 but not on the main page so I'll leave that ticket open.

[2017-08-15 15:32] #159 closed

[2017-08-16 12:49] Bobfrat commented on #53
@kkoch Metadata is updated but the layers are not showing. I'll check if this issue is on my end

[2017-08-16 15:52] kkoch commented on #58
Was brought to my attention that my GLEAM permalinks are once again not working (the last time I really looked at this was in May following the server crash.  I'd rebuilt them and thought I'd done Luke's 'export' to json for all, but apparently I did not or something odd has even happened with that as I only have exports for 10 out of the 30 links (I am very puzzled about that).  There are only 12

[2017-08-16 17:42] Bobfrat commented on #58
@kkoch I think its safe to say any tasks that would have gone to Luke are now my responsibility.

I think I recall Luke discussing this issue before but I'm afraid I'm not sure what it means to programmatically get your permalinks back. Do you have any other info (emails?) detailing what Luke did for you last time? I'll search any resources and pull requests on my end as well. My email is robert.f

[2017-08-17 13:43] gcutrell commented on #152
@kkoch  Where you able to point Kyle to the correct directory for 2017?

[2017-08-17 13:44] gcutrell commented on #146
@hellocomrade Could you provide documentation for adding parameters for the glos_parser to read in from xml files? Thanks

[2017-08-17 18:29] kkoch commented on #150
@cheryldmorse  From MTRI >

We have two MTRI remote sensing data layers ready to integrate into the GLOS Data Portal - Our "KD490" and "Photic Zone Depth" data layers.

The main description for both of them is:
"The KD490 and Photic Zone Depth data layers are extensions of the remote sensing derived products derived using the Color Producing Agent Algorithm (CPA-A) described in Shuchman et al. 201

[2017-08-17 18:31] kkoch commented on #104
@gcutrell (from Colin) >
When we shared the 2016 Keweenaw North & South thermistor chain data, I noticed we had never shared the 2015 data with the GLOS Portal: those data are now available at:
ftp://ftp.mtri.org/pub/DMAC/Keweenaw_Thermistor/

Can we got those integrated into the Portal as well?

[2017-08-17 18:45] kkoch commented on #53
@Bobfrat  I see layers (random check of some parameters) but the boxes around the lakes don't seem quite right.  Also Lake Michigan is only showing the top half of the lake which is an even bigger issue.

[2017-08-18 12:50] Bobfrat commented on #53
@kkoch We're getting the bounding box info from the GetCaps request. http://spatial.mtri.org/cgi-bin/mapserv?REQUEST=GetCapabilities&SERVICE=WMS&map=watersensing_map&version=1.1.1

[2017-08-18 14:08] Bobfrat commented on #150
So these will be 2 more layers in the MTRI satellite layers for each Lake. THe current abstracts look like this:

Mapping of remote sensing products for Lake Superior. Imagery is provided for colored dissolved organic material (CDOM), chlorophyll (Chl), dissolved organic carbon (DOC), lake surface temperature, natural color imagery, and suspended minerals. Note that satellite data is generally una

[2017-08-18 14:13] Bobfrat commented on #150
@kkoch Also in the above abstract:
[code]

It looks like there is a Photic Zone Depth service for Lake Erie too.
<img width="452" alt="screen shot 2017-08-18 at 10 11 48 am" src="https://user-images.githubusercontent.com/5702672/29462545-bc4ac87a-83fd-11e7-8b80-7c75dc37b46e.png">

[2017-08-18 14:18] kkoch commented on #150
@Bobfrat: lets go with this blend >

Mapping of remote sensing products for [lake name]. Imagery is provided for colored dissolved organic material (CDOM), chlorophyll (Chl), dissolved organic carbon (DOC), lake surface temperature, natural color imagery, suspended minerals, KD490 and photic zone depth. The KD490 and Photic Zone Depth data layers are extensions of the remote sensing derived produc

[2017-08-18 16:03] Bobfrat commented on #150
Ok its up on dev. If you approve I'll move over to production

[2017-08-18 16:06] ColinNBrooks commented on #150
I like the description @kkoch

[2017-08-18 16:28] kkoch commented on #158
additional suggestions from user (we can discuss which get added to the above list - although I already added the 'set unit system' because it is something we have available on the Data Portal).

Hello - I am working with the "Boater's View" which seems promising. It would be great for it to remember your last view so you don't need to zoom into the right lake and toggle all the checkboxes and set

[2017-08-18 19:20] kkoch commented on #150
I have @ColinNBrooks verifying before pushing to production since we will want to be sure the legends are to his satisfaction, etc.

[2017-08-18 19:55] ColinNBrooks commented on #150
The Kd490 legend looks great. The PZD legend looks like its supposed to as well. The issue with PZD data is that we currently use a default value of 1.0 for background values (rather than a no data value), so that legitimate 1.0 values look the same as background values, which makes the raster look like a rather odd blue rectangle. We need to change that at MTRI. But in the meantime, the data are

[2017-08-23 17:14] kkoch commented on #58
Status: I have recreated all the permalinks yet again. I have exported all the jsons (34) and verified that they are there and valid.  I have updated the GLEAM website with the new urls and they are all working as of 11:00am today.

[2017-08-23 17:17] kkoch commented on #150
Done so I'm closing.  (BTW @ColinNBrooks we see more of Lake Michigan but still not the entire lake - I'm assuming this is still something on MTRI's end of things)

![image](https://user-images.githubusercontent.com/6392982/29629019-63a655b6-8805-11e7-93aa-a88f3c78cf20.png)

[2017-08-23 17:17] #150 closed

[2017-08-23 17:19] kkoch commented on #79
Pretty sure this is done so closing.

[2017-08-23 17:19] #79 closed

[2017-08-23 17:20] #48 closed

[2017-08-23 17:20] #53 closed

[2017-08-24 16:45] gcutrell commented on #104
@kkoch Now that I understand better how the parser and database works I don't think wehave any data from Keweenaw since 2013. I believe the issue is the station is name "North Keeweenaw Waterway" in the 2015 xml files (probably in the 2016 as well) but the parser is expecting "MTRI-NKW" or "MTRI-SKW". So the parser is reading in the xml files but doing nothing since there is no matching station ID

[2017-08-24 17:02] gcutrell commented on #104
@kkoch I still have the 2016 data so we just need the 2014.

[2017-08-24 17:54] kkoch commented on #104
@ColinNBrooks > punt! (see Greg's comments above)

[2017-08-25 03:16] ColinNBrooks commented on #104
OK, I'll send on the 2014 XML files too. I hadn't realized the issue with the station name.

[2017-08-25 13:51] kkoch opened #161 "St. Lawrence River Model Timestamp"
Model legend shows current date even though it is not functioning and last ran in 2015.

![image](https://user-images.githubusercontent.com/6392982/29716812-c8b0a1ca-897a-11e7-88a8-389c1bcb0c73.png)
![image](https://user-images.githubusercontent.com/6392982/29716823-d85e2476-897a-11e7-8aec-6dc76495f5b1.png)

Image shows user selects St. Lawrence model, adds to map, virtual buoy.  Shows that the da

[2017-08-25 14:23] kkoch opened #162 "Alerts in Portal do not appear to be working"
Behavior:
User adds model to portal (e.g., GLCFS, Huron, Currents).
User creates virtual buoy and has option to manage alerts (if not logged in - prompts for login so that part works)
![image](https://user-images.githubusercontent.com/6392982/29717834-9e8becca-897e-11e7-9704-d7815e2eb4cd.png)

User clicks on manage alerts and gets the following note to apply changes but no changes or options appea

[2017-08-25 14:36] kkoch commented on #162
Note that Becky has also found that she sometimes does not see manage alerts for a 'real' buoy.  I just tested and saw alert options for one (users may not know that they need to add to map but that's a documentation issue).

![image](https://user-images.githubusercontent.com/6392982/29718546-1f89816e-8981-11e7-981c-803bbbc64905.png)

@Bobfrat  >  I did notice that if you add to map from within th

[2017-08-25 16:33] kkoch commented on #162
@Bobfrat : I just detailed what I believe the issues are for Becky (although I could be wrong and there might be some randomness kicking in for her that I'm not seeing) >

1) click on a blue buoy icon without ‘adding to map’.  There is no alert option whether you are logged in or not – but I believe this is designed that way since you haven’t added it to map yet.  Now, that might not be what we ‘w

[2017-08-28 20:18] kkoch opened #163 "Buoy color for ndbc buoys (two stations not the same color icon)"
Wondering why buoy markers act this way -

I add a buoy to the map where data is not quite current and it shows up as a blue-purple.  A buoy with current data is more of a red-purple.  Okay makes sense to have a difference.  However, as soon as I search for something else, it changes the not-so-current buoy to a transparent-purple (which makes even more sense - I like the transparency).   I'm just

[2017-08-29 12:10] Bobfrat commented on #161
@kkoch Let me know if we decide on b) and I can check that the timestamps are accurate (and matches that on the popup)

[2017-08-29 19:12] kkoch commented on #161
@Bobfrat if it is quick and easy to make the timestamp correct right away, yes please do that.  If LOE is somewhat extreme then we can discuss at a DMAC meeting on next steps.

[2017-08-31 02:26] Bobfrat commented on #162
@kkoch, So the alerts themselves are working ok, it's just the button that's not behaving correctly?

I've got a fix on dev and if that's working as you'd like I'll move it over. http://dev.oceansmap.com/myglos/

[2017-08-31 16:53] gcutrell commented on #104
@ColinNBrooks Friendly reminder about the 2014 data. I need to put the data into GLOS's database chronological so I can't put in 2015 or 2016 until 2014 is read in.

[2017-09-05 13:43] kkoch commented on #162
Dev fix appears to work correctly.  May be moved to production.

[2017-09-05 14:10] Bobfrat commented on #162
ok all set!

[2017-09-05 14:19] kkoch opened #164 "Add buoy 45179"
Per J. Lenters new glos-funded buoy to be added to Portal and GLBuoys at Stannard Rock (45179).

@gcutrell has added necessary obs database link
@kkoch has created a preliminary metadata record into GN

Pending:
- data to start flowing (J. Lenters says QAQC wrapping up and they hope to start data this afternoon, 9/5)
- we will need parameters
- John is filling out a metadata form and will send a p

[2017-09-05 14:20] #162 closed

[2017-09-05 14:24] kkoch commented on #33
FYI Another example of this behavior is when user adds a buoy to map then clicks on 'manage alerts'. If they aren't logged in, they get the error message that they must be logged in order to manage alerts.  They login, but then are put to the catalog page and now have to re-do their search and buoy placement before they can set their alert.

[2017-09-05 14:40] kkoch commented on #39
Suggesetion:  what would really help is to have a metadata text field that we could pull from GN (not the title) that shows a status similar to what Greg is doing for glbuoys possibly in addition to something automated that states that we are not getting current data.

Following is a screenshot from GLBuoys
![image](https://user-images.githubusercontent.com/6392982/30066653-87ef9a88-9226-11e7-824d

[2017-09-05 19:40] kkoch commented on #164
Received metadata form and buoy pic from John.  Pending QA/QC data.

[2017-09-06 13:25] kkoch commented on #164
@gcutrell Parameters for Obs

Variable | Variable name | XML Parameter tag | Format / units
Timestamp | Date/Time |   | m/d/y
Barometric pressure | Rel. BP | baro1 | inHg
Air temperature | AirTemp | atmp1 | C
Wind direction | Magnetic WindDir | wdir1 | Degree
Wind speed | WindSp | wspd1 | m/s
Water Temperature |   | wtmp1 | C
Wave height | Hs | wvhgt | m
Wave period | Ts | dompd | sec

[2017-09-06 16:44] kkoch opened #165 "ESF2 issue with data"
Left a message with Mike Satchwell at ESF regarding the data we are getting for the ESF2 buoy.  Mostly around several 'no results' and that wind gust reporting as -1939.96 knots which I would assume should be the in 2-5 knot range based on other stations in the area (including the NWS GL Portal).

His reponse:
"ESF2 is having issues, or rather, iChart is having issues with ESF2.  I fixed the probl

[2017-09-07 17:02] gcutrell commented on #165
Suppressing individual measurements is possible but I would lean against going down this road. People will see it isn't working. Quartod should pick this up in the future. We could always put up a alert telling people when it is planning to be fixed.

[2017-09-08 16:50] gcutrell commented on #165
Added an alert on the buoy page stating it should be fixed next week.

[2017-09-11 13:53] Bobfrat commented on #5
@kkoch The values for lat and lon variables in this file seem to be swapped which is putting this station in Antarctica.

[code]

[2017-09-11 15:37] kkoch commented on #5
Cool. Go figure I'd randomly pick a station with a problem. But hmmmm I have it right in my GN record and it is showing in the portal correctly from obs.  @gcutrell  do you know how to adjust in the .nc file to correct and how that data is gotten to us in the first place?

[2017-09-11 15:39] cheryldmorse commented on #5
@kkoch That's an issue with the script that creates the nc files. I'll get it updated

[2017-09-11 15:43] gcutrell commented on #5
@kkoch Looks like Cheryl sees the issue. It is fine in the obs database like you mentioned.

[2017-09-11 17:06] gcutrell commented on #104
@ColinNBrooks Just crossed my mind that Amanda hasn't sent the 2014 data. I can't find it in my email but I believe you said she was going to send it.

[2017-09-11 17:11] gcutrell commented on #164
@kkoch John is having a couple issues with the reporting timestamp but the data is at http://data.glos.us/portal/getObsByPlatform.php?provider=glos&platform=Stannard+Rock+Buoy

[2017-09-11 17:28] cheryldmorse commented on #5
@Bobfrat The lat / lon variables should be correct now.

[2017-09-11 17:38] kkoch commented on #164
Data is appearing nicely in Portal and GLBuoys. Done!

![image](https://user-images.githubusercontent.com/6392982/30288368-7be8ccf8-96f6-11e7-807d-84195e49d054.png)

[2017-09-11 17:38] #164 closed

[2017-09-11 18:03] Bobfrat commented on #5
Ok on http://dev.oceansmap.com/myglos/# you'll see this station listed as Demo Stations - UTLCP

[2017-09-11 18:59] kkoch commented on #5
So what are our next steps?  It obviously works.  Seems like we would want to have some sort of full titles for the variables (e.g. Wind Direction vs. WDIR).

@tslawecki > chime in?

![image](https://user-images.githubusercontent.com/6392982/30291729-bd5273e6-9701-11e7-92ab-75402031db16.png)

[2017-09-11 19:01] Bobfrat commented on #5
Yes, so we use the netCDF variable names for display in the popup.

[2017-09-11 20:23] ColinNBrooks commented on #104
Note from Amanda:

Hi Colin & Greg, I re-posted the 2014 data at ftp://ftp.mtri.org/pub/DMAC/Keweenaw_Thermistor/

[2017-09-12 12:47] tslawecki opened #166 "Adding recent COOPS HABs imagery to Data and HABs portals? (was: GeoTIFF)"
We have access to the latest Lake Erie HABs imagery from NOAA COOPS at https://tidesandcurrents.noaa.gov/hab/lake_erie/data. What's the best format and mechanism for adding these to the Data and HABs portals?

Assigning for now to @cheryldmorse (to advise on best format per RPS) and @kkoch ('cuz there will be metadata)

[2017-09-12 13:52] cheryldmorse commented on #166
@tslawecki - WMS would be easiest for us to handle

[2017-09-12 14:13] tslawecki commented on #166
Thanks! - so if we had netCDF could it be hosted at GLOS and made available through ncWMS or sciWMS?

________________________________
From: cheryldmorse <notifications@github.com>
Sent: Tuesday, September 12, 2017 9:52 AM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Adding GeoTIFF (recent COOPS HABs imagery) to Data and HABs portals? (#166)

@tslawecki<https://github.com/t

[2017-09-12 15:34] gcutrell commented on #104
@ColinNBrooks @kkoch After half a year 2014, 2015, and 2016 is now in glos's db. Just want to confirm the south thermistor stopped on 7/22/16? Couple formatting issues with the xml files but I can easily fix going forward.

[2017-09-12 16:08] ColinNBrooks commented on #104
I checked the original data as sent to me, and the south thermistor does indeed stop on 7/22/16. After that, there's only the north thermistor "late season" data. So I think we're good. Thank you.

[2017-09-19 13:59] #152 closed

[2017-09-19 14:14] kkoch commented on #134
@gcutrell Was this resolved? Can this ticket be closed?

[2017-09-19 14:19] kkoch commented on #64
@kkoch will develop About page; @cheryldmorse to put in About pop up off of hamburger menu.

[2017-09-19 14:21] gcutrell commented on #134
The larger issue of obs_parser not reading in buoy data was solved. Unfortunately as a result two days for 45176 is not in glos_obs.

[2017-09-19 15:09] cheryldmorse commented on #166
@tslawecki  - that should work!

[2017-09-26 11:36] cheryldmorse commented on #5
@Bobfrat I updated the variable names in the netCDF files. Can you regenerate the catalog?

[2017-09-26 12:59] Bobfrat commented on #5
all set
<img width="530" alt="screen shot 2017-09-26 at 8 57 59 am" src="https://user-images.githubusercontent.com/5702672/30861509-ea490c50-a298-11e7-952e-aae2bd1f6c53.png">

[2017-09-26 16:31] cheryldmorse commented on #5
@kkoch Can you update the GN record for utlcp to point to this: http://tds.glos.us/thredds/dodsC/buoy_agg_standard/utlcp/utlcp.ncml

[2017-09-26 16:35] kkoch commented on #5
done

[2017-09-26 16:42] cheryldmorse commented on #5
sorry @kkoch  I meant the 'Demo' utlcp station. Right now we need to keep the original netCDF files with the old variable names because the glbuoy portal is dependent on the variable names. I have the new netCDF files in a different catalog entry on the TDS

[2017-09-26 17:06] kkoch commented on #5
I don't have a gn record for demo.

[2017-09-28 17:30] cheryldmorse commented on #137
QARTOD has been implemented for the buoy data and QC data files are here: http://tds.glos.us/thredds/buoys/glos_buoys.html

[2017-09-28 17:30] #137 closed

[2017-10-09 21:04] kkoch opened #167 "Portal swapiness issue (related to portal down (or just very slow))"
Ed reported that the portal was down this morning although it appeared that it would eventually load - but very very slow.

Greg noted that after closer inspection into process1 it appears storage.glos.us is 99% full and /dev/mapper/centos-root is 96% full.

@gcutrell please provide status on resolution

[2017-10-09 21:08] tslawecki commented on #167
I restarted the portal VM, seems to be much better now. Also freed up about 200 GB on the NFS device, so now *only* 97% full.

[2017-10-10 12:37] tslawecki commented on #167
@bnfish noted: I looked prior to the restart.  It looked as if the Gunicorn process used to run the application web servers were using a lot of swap space, which can cause slow access speeds.  Bob and I checked the kernel "swappiness" setting in /sys/proc/vm/swappiness, and it's at 30, (from 0 to 100 scale, 0 does not use swap unless memory is completely full, 100 always prefers swap).  It may be

[2017-10-10 13:11] Bobfrat commented on #167
@tslawecki, it was @benjwadams that reported the swappiness. I think you may need to add him as a collaborator to see him in the autocomplete fields.

[2017-10-10 16:36] kkoch opened #168 "Suppress ndbc feed for 45179"
45179 snuck in there and is showing both an NDBC feed and GLOS (GN) feed.  @Bobfrat please suppress the NDBC for this one.

![image](https://user-images.githubusercontent.com/6392982/31395763-85f72bf2-adaf-11e7-97d1-44e1a12cb162.png)

[2017-10-17 13:36] kkoch opened #169 "HABs layer to MTRI remote sensing"
From Colin >

Hi DMAC colleagues - a remaining item on our statement of work for this year's DMAC activities is sharing the Harmful Algal Bloom product that MTRI creates (under NOAA GLERL funding). We've been working on this derived product for a while, and feel its ready to share now through the GLOS Data Portal. With the prominence of this year's HAB in western Lake Erie, this also seems like a

[2017-10-17 13:36] kkoch commented on #169
Here's the metadata to go with the MTRI HABs layer info:

"Mapping of remote sensing-derived harmful algal blooms (HABs) products for Lake Erie (Sayers et al. 2016). Imagery consists of two overlapping products. The HAB Related Water Quality Concern product in yellow shows areas where the Color Producing Agent Algorithm (described in Shuchman et al. 2013 and Shuchman et al. 2006) estimates chlorop

[2017-10-17 15:22] Bobfrat commented on #169
In looking at the GetCapabilities XML, I see the habs layer is only available for Erie, Huron, and Michigan. Is that accurate?

[2017-10-18 01:25] kknee commented on #169
@Bobfrat  Yes, looks to be accurate given how the layer is presented on www.greatlakesremotesensing.org

[2017-10-18 17:44] kkoch commented on #165
done and buoy out of water this Friday

[2017-10-18 17:44] #165 closed

[2017-10-18 17:47] kkoch commented on #163
Note that the issue apparently does not have to do with whether there is data available or not, as today they are both transmitting data but show different colors of purple.

![image](https://user-images.githubusercontent.com/6392982/31733868-e37ae712-b40a-11e7-832f-ebaf9b19fae1.png)

[2017-10-18 17:51] kkoch commented on #104
@gcutrell still not seeing current data in portal.  Is there still something that needs to be done?

![image](https://user-images.githubusercontent.com/6392982/31734026-64efc326-b40b-11e7-966b-afb8ed2d988e.png)

[2017-10-18 18:07] gcutrell commented on #104
@kkoch All the data is in the database. Maybe it is showing that because there is no recent data?

[2017-10-18 18:13] kknee commented on #168
complete on dev

[2017-10-18 18:15] kknee commented on #167
@Bobfrat @benjwadams -do you still recommend that we address the swappiness issue?

[2017-10-18 18:16] kkoch commented on #166
@tslawecki : is someone at Limno assigned to this?

[2017-10-18 18:23] kknee commented on #163
@Bobfrat the issue here is that srlm4, when added to the map, is transparent.  Transparency normally indicates no recent data, but that's not the case for srlm4.  Any thoughts on why it's transparent when added to the map?  @gitchrisadams FYI in case this is something you can track down easily.

[2017-10-18 18:27] ColinNBrooks commented on #104
I tried using the "Custom Range" function to look at data from June & July 2016 when there should be data in there for the Keweenaw North thermistor chain, and I couldn't get anything to come up there either. But I'm not sure I was using the data Custom Range function properly.

![image](https://user-images.githubusercontent.com/20344813/31735616-6d4de1d8-b410-11e7-9b2a-f95ff012901b.png)

[2017-10-18 18:28] kknee commented on #148
@benjwadams @tslawecki what's the conclusion here?

[2017-10-18 18:31] kknee commented on #146
@gcutrell can you provide a list of the parameter names as you want them to show up in the nc files?  @cheryldmorse will add those names + fill values to the archive and then you can start pushing updated files in real-time.  obviously we'll need to coordinate the timing of the switch.

[2017-10-18 18:46] kknee commented on #104
@ColinNBrooks @gcutrell - using the custom date range won't work for this data because the obs cache only stores several days of recent data and will be empty for these datasets.

I believe the data really needs to go into the .nc files here: http://tds.glos.us/thredds/mtri/water_temp_in_situ.html and the portal needs to be pointed to those instead of the obs cache so that we have access to the fu

[2017-10-18 18:49] kkoch commented on #102
@tslawecki should we move ahead on @kknee recommendation above to close this out?

[2017-10-18 18:51] #82 closed

[2017-10-18 18:52] kkoch commented on #81
Closing. Never happened. Will reopen if Paul requests access.

[2017-10-18 18:52] #81 closed

[2017-10-18 18:55] kknee commented on #64
@kkoch and @tslawecki to determine whether we should develop about page or simply add privacy text to a pop-up

[2017-10-18 19:26] gcutrell commented on #146
@kknee The shortnames would be "VBAT", "SRAD", and "MWDIR" that would go with the buoy netcdf files y'all originally created. Using your new netcdf files which use the longname would be "battery_voltage", "solar_radiation", and "wave_direction".

[2017-10-18 19:33] kkoch commented on #64
I’ve waffled on this but I think we want an about pop-up.  To refresh memory, we created a privacy policy which could by itself be linked off of the ‘hamburger’ menu but if we embed it in an About pop-up similar to what we did on Boaters it will fill a gap for that as well.  We also need to tweak a couple of things on the policy based on Devra’s feedback (there are some incorrect statements about

[2017-10-18 19:45] gcutrell commented on #104
@kknee Would the buoy catalog work? http://tds.glos.us/thredds/catalog/buoys_standard/MTRI-SKW/catalog.html & http://tds.glos.us/thredds/catalog/buoys_standard/MTRI-NKW/catalog.html

[2017-10-18 21:14] Bobfrat commented on #100
@kkoch do you have an abstract for the collection in general?
For example, NDBC collection has the following:

_The National Data Buoy Center (NDBC) is a part of the National Oceanic and Atmospheric Administration's (NOAA) National Weather Service (NWS). NDBC designs, develops, operates, and maintains a network of data collecting buoys and coastal stations._

[2017-10-19 02:03] kknee commented on #104
@gcutrell we'll take a look and come back to  you.  If yes, any reason not to clean up the older folder of data?  Looks like you have duplicated it in the new files?

[2017-10-19 02:11] kknee commented on #64
I don't think I would say 'archived observations' yet, though that's coming up

[2017-10-19 02:14] kknee commented on #146
thanks @gcutrell  - so just those three for now?  Only reason I ask is that @kkoch posted a longer list of suggestions above.

[2017-10-19 12:44] gcutrell commented on #146
@kknee Just those for now. These are the most common parameters we are not saving, but assuming this goes as planned we will be adding more over the winter.

[2017-10-19 12:48] gcutrell commented on #104
@kknee Glbuoys currently needs the data in http://tds.glos.us/thredds/catalog/buoys/catalog.html because it is using the variables "short name" and the new buoy datasets contain the variables long name. My plan is to point Glbuoys to the new datasets this winter after some code changes.

[2017-10-19 12:54] tslawecki commented on #166
Me - I now have gdal installed on an AWS instance to convert GeoTIFF into netCDF, have a query to @cheryldmorse and @kknee  by email I'll repeat here ... will the HABs portal take care of projection and transparent color, or do I need to do something in netCDF to set these appropriately?

[2017-10-19 18:44] kkoch commented on #100
@Bobfrat As noted above, all info is in the GeoNetwork metadata record > http://data.glos.us/metadata/srv/eng/main.home?uuid=522af949-054f-4252-b0ff-98979ef90c59

[2017-10-19 19:46] Bobfrat commented on #100
This data is on dev now. Note the title doesn't match that of the metadata record because we'd have 2 entries, so let me know if you'd like to title changed from Grand River Conservation Authority

<img width="1438" alt="screen shot 2017-10-19 at 3 43 01 pm" src="https://user-images.githubusercontent.com/5702672/31790696-5204d34e-b4e4-11e7-91e3-61ae63e16bb5.png">

[2017-10-19 20:02] Bobfrat commented on #169
You can view these layers on the dev portal now. It looks like the abstracts for individual layers is overwritten by the parent abstract. I'll have to look into this or we update the abstract we had for the other MTRI layers to include some info for HABS

[2017-10-20 13:44] kkoch commented on #100
I've pulled off the 'glos categories' and 'variables' from the GN record which I think would be the hook that shows the 'old' information since we no longer need that record to show in portal... so once that rolls thru I don't think we would have two records.  So yes, the title of your collection should also be "Grand River Information Network".  You also need to make sure it shows under the hydro

[2017-10-20 15:18] #35 closed

[2017-10-20 15:23] #18 closed

[2017-10-20 16:08] Bobfrat commented on #100
@kkoch I've made those changes on dev.

[2017-10-20 16:22] benjwadams commented on #167
NB: this might not be swap, I was simply speculating on one possibility.  I did reduce the swappiness value permanently.  See if it works any better in the coming weeks.

@tslawecki: Has munin returned any useful metrics that might help diagnose this?  The box also has the `sar` utility, for which `sar -b` can be used to diagnose high I/O wait times.

[2017-10-20 16:59] tslawecki commented on #166
I've created a netCDF in the right projection and shared with @Bobfrat. I tried to put it into tds, but couldn't quickly figure out a way to write to the read-only nfs share ... I saw some breadcrumbs about using scopy from process1, but could use an additional tip or three: what's the best way to put files into TDS manually? Copying @cheryldmorse and asking Bob or Cheryl to check with Ben, too ab

[2017-10-20 17:18] cheryldmorse commented on #166
@tslawecki - You can ssh into storage.glos.us and then use scp to get the data from process1 or I think even tds.glos.us
@benjwadams - do you know an easier way?

[2017-10-20 19:00] benjwadams commented on #166
You will need to write to the storage server.  It takes at least several network hops to get to it through to the storage mount.  The usual path I'm aware of is:

externally accessible glos server -> processing server -> storage server

Since you need to ssh through multiple servers, you can set up a jump host configuration in your local `.ssh_config`  This link provides a good overview of interac

[2017-10-20 19:45] kkoch commented on #100
Looks good to me but passing to @tslawecki for decision on push to production.

[2017-10-20 20:38] tslawecki commented on #166
Thanks for the details ... we'll work on the automation later. For now I got very lazy and used our Sharefile FTP endpoint and wget. A sample is currently available at [http://tds.glos.us/thredds/godiva2/godiva2.html?server=http://tds.glos.us/thredds/wms/test2.nc]( http://tds.glos.us/thredds/godiva2/godiva2.html?server=http://tds.glos.us/thredds/wms/test2.nc)

[2017-10-23 14:26] benjwadams commented on #167
Should probably close for now.  If portal has poor performance characteristics again, a new issue can be created.

[2017-10-25 17:02] kknee commented on #100
@kkoch @tslawecki any update?  Can we release?

[2017-10-25 17:06] tslawecki commented on #100
This looks great now that I finally looked at it ... release!

________________________________
From: Kelly Knee <notifications@github.com>
Sent: Wednesday, October 25, 2017 1:02 PM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Add Grand River Conservation Authority data to GLOS portal (#100)

@kkoch<https://github.com/kkoch> @tslawecki<https://github.com/tslawecki> any upda

[2017-10-25 17:12] kknee commented on #100
@Bobfrat we're good to release this

[2017-10-25 20:43] Bobfrat commented on #104
These are on dev now. Titles are MTRI-SKW and MTRI-NKW.

[2017-10-25 20:45] Bobfrat commented on #100
Ok great. We have a couple other updates on dev that aren't on production. They include https://github.com/glos/myglos/issues/168, https://github.com/glos/myglos/issues/169, https://github.com/glos/myglos/issues/104. If those are ok, I'd prefer to make one release that includes them all

[2017-10-25 20:49] tslawecki commented on #100
I'm good with #168, perhaps Colin should approve 104 and 169?

________________________________
From: Bob Fratantonio <notifications@github.com>
Sent: Wednesday, October 25, 2017 4:45 PM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Add Grand River Conservation Authority data to GLOS portal (#100)

Ok great. We have a couple other updates on dev that aren't on production. Th

[2017-10-27 20:08] ColinNBrooks commented on #169
The display looks like its working well. It would be good to keep the HABs abstract separate if possible - it's quite a different layer. One thing I noticed is that while the MTRI HABs layer shows up in the dev Map view, I couldn't get it to show up in the devCatalog view of the data. If it appears there, I would consider this complete.

[2017-10-27 20:13] ColinNBrooks commented on #104
I see the data layers in there. The first value of the thermistor string look strange - 6 C vs. 21.5 at all others for the MTRI-NKW data of 10/15/16, and 1 C vs. Nan from 1-5m and then 22.6 C at 6m. I would need to check the original data to see where the issue is.

Looks like I need to provide an updated version of the layer description, or we can re-use the existing ones that show up under the "

[2017-10-27 20:38] kknee commented on #104
@ColinNBrooks we noted the same thing regarding the data.  The nc files look okay, so @cheryldmorse will check the DB too.

Earlier in the year the values look okay

[2017-10-27 20:43] Bobfrat commented on #169
@ColinNBrooks The layer falls under the MTRI Remote Sensing Lake Erie/Huron/Michigan entries in the catalog. Do you want this layer to be its own entry? That would be one way to get the separate abstract.

[2017-10-30 12:50] cheryldmorse commented on #104
@kknee, @ColinNBrooks - The values being reported match what is in the obs database.

[2017-10-30 14:27] ColinNBrooks commented on #104
Thanks. I tried looking at the data  this morning and now I don't see any data being reported for either Keweenaw thermistor chain - shouldn't it report the most recent values, even though those are from last year? I thought that's what was happening last week when I was looking at the odd values through the mapping part of the portal.

I checked the original text files that were imported into the

[2017-10-30 18:30] kknee commented on #104
@ColinNBrooks make sure you review the data on dev (http://dev.oceansmap.com/myglos/#), the new data has not been pushed to production yet

@gcutrell can you work with Colin on the odd values in the data that we are seeing?

[2017-10-31 14:18] kkoch opened #170 "Long title display in map pop-up"
Is there a way to wrap titles in map view?

Example: Vermont has a pretty long title which is even longer when I add the out of water statement. Would look better if wrapped vs. truncated. (This 'name' is one the PI wants.)
![image](https://user-images.githubusercontent.com/6392982/32228343-61ad62b8-be24-11e7-821b-1dd0351e34c0.png)

Or alternately if it gave a hover text like the nav bar does, tha

[2017-11-01 12:27] gcutrell opened #171 "TDS GLCFS time format change"
@kknee @cheryldmorse Greg Lang reported that the time format attribute for the GLCFS files on TDS changed on 10/28 ~0600GMT. It changed from "hours since 1970-01-01 00:00:00 +00:00" to "hours since 1970-01-01
00:00:00.000 UTC". Do you know of anything that might have caused this change?

[2017-11-01 12:34] kknee commented on #171
@gcutrell we haven't made any changes to these files on TDS.  We'll poke around a bit.

[2017-11-01 12:36] gcutrell opened #172 "thredds.glos.us out of space"
@tslawecki  thredds.glos.us will probably hit 100% capacity this week. Wasn't sure if there was a plan to increase storage or remove log files? I see something was done at the beginning of October to drop the usage down almost 20%.

[2017-11-01 12:38] gcutrell commented on #171
@kknee I've alerted Tad that tredds.glos.us has hit a critical disk space usage but I'm not sure how/if the two issues are related.

[2017-11-01 12:40] kknee commented on #171
thanks @gcutrell maybe that explains why I can't load the GLCFS TDS catalog page to check out the timestamp issue.

[2017-11-01 12:43] cheryldmorse commented on #172
@gcutrell - I just deleted the thredds log files and we are back down to 95% full

[2017-11-01 12:51] gcutrell commented on #104
@ColinNBrooks I see what has happened but not sure why the error occurred since your xml file looks okay. For some reason the parser placed a "null" temp string depth with a value of 6 in the db for NKW. I should be able to just delete the records that have a depth of "null" and everything should be correct. I'll let y'all know when it is done.

[2017-11-01 13:11] cheryldmorse commented on #104
@gcutrell - The netCDF files will need to be regenerated after the database is updated

[2017-11-02 19:09] ColinNBrooks commented on #104
Looking at the dev portal, the first number for MTRI-SKW and MTRI-NKW is not a temperature value, but the number of records at that particular time. For example, for MTRI-SKW on July 22, 2016 06:31, there is one value (at 6m with 22.6 deg C). For MTRI-NKW, there are six values for Oct. 15. 2016 at 15:09 from 1m to 6m deep all at 21.5 deg C. Can the first value be renamed from "Thermistor String" t

[2017-11-02 19:10] ColinNBrooks commented on #169
I do think we should do a separate entry - it's a different enough layer that should have its own description (for each lake). I engaged with the layer creators and they wrote the new description for just the MTRI HABs layers.

[2017-11-02 19:18] kkoch opened #173 "Odd new categories appearing on catalog"
Some categories have appeared on catalog that were not generated (requested) from my direction and thus have no content >

Can someone let me know what these are and where they came from? They are on Dev too.

![image](https://user-images.githubusercontent.com/6392982/32345606-157be400-bfe1-11e7-9ca7-06989deaa476.png)

[2017-11-02 19:20] Bobfrat commented on #173
Looks like they crept in from another portal. I can remove.

[2017-11-02 19:21] kkoch opened #174 "Lake Erie has disappeared"
MTRI Lake Erie Remote sensing is not appearing in portal

![image](https://user-images.githubusercontent.com/6392982/32345652-4493cfaa-bfe1-11e7-8e05-b4dd645b448a.png)

Colin has verified that things look good on his end (he's seeing data).

[2017-11-02 19:54] Bobfrat commented on #174
Looks like kd490_erie is missing from the [GetCapabilities](http://spatial.mtri.org/cgi-bin/mapserv?REQUEST=GetCapabilities&SERVICE=WMS&map=watersensing_map&version=1.1.1) XML causing the layer to fail in our data-catalog.

[2017-11-02 20:05] ColinNBrooks commented on #174
Is this something we should fix on the MTRI end? I don't see any Lake Erie Kd490 data on our own portal right now at www.greatlakesremotesensing.org

[2017-11-03 13:48] kknee commented on #158
@kkoch is the sixth checkbox above still an issue?  The referenced issue is closed.  Thanks!

[2017-11-06 12:31] Bobfrat commented on #168
Fixed on production too

[2017-11-06 12:39] Bobfrat commented on #169
Ok any suggestions for the layer name? The other layers fall under a parent entry named ```MTRI Remote Sensing Lake <name>```. Maybe same format with the more descriptive HABS somewhere in there?

![screen shot 2017-11-06 at 7 37 46 am](https://user-images.githubusercontent.com/5702672/32441428-9c05dd8c-c2c5-11e7-8fc0-f181e71c14bc.png)

[2017-11-06 12:42] Bobfrat commented on #174
@ColinNBrooks is that a question for me? Yes, I believe that is on the MTRI end. The kd490_erie layer used to be in that GetCapabilities response until recently. Thanks!

[2017-11-06 13:24] ColinNBrooks commented on #169
That works well, except I wouldn't capitalize the S (ie, list them as HABs instead of HABS) or just put HAB since it stands for Harmful Algal Blooms. Thanks!

[2017-11-07 15:36] kknee commented on #158
@kkoch sorry to be a pest, but trying to get our taking nailed down.  Can you let me know on #6 from above?

[2017-11-07 16:56] kkoch commented on #169
Yep what @ColinNBrooks said.  I think I like HABs.

[2017-11-07 16:58] #173 closed

[2017-11-07 16:59] #168 closed

[2017-11-07 17:12] kkoch commented on #158
The referenced issue is closed because it was part of the bigger ticket that I didn't want to keep open and thus why moved here.  It is still an issue and very hard to capture although definitely replicable.  What you need to do is have a clean browser session (I've tested and get it in all browsers) and it is just the very first time you do the 'find in map' from the left nav. Buoy 'dot' will zoo

[2017-11-07 20:12] Bobfrat commented on #169
Ok great, I deployed to dev. Please have a look

[2017-11-07 20:46] kkoch commented on #169
Maybe it is just me but I can see where the way this displays and how users will find it displayed might be problemmatic.  But I'd like @tslawecki, @kknee  and of course @ColinNBrooks to chime in here.
1) First of all, because of the way the search engine works, there is no way I can just display the mtri habs views (e.i., I can't do an "and" which is something in my bucket list of wants that I lo

[2017-11-07 21:52] Bobfrat commented on #169
I will fix the bounding box issue now. Was inadvertently grabbing the parent layer bounding box

[2017-11-08 16:30] gcutrell commented on #104
@cheryldmorse Sorry for delay but I just removed all the bad rows from the temp strings. The data should look okay now after recreating the files.

[2017-11-08 18:34] cheryldmorse commented on #104
@gcutrell The NC files have been regenerated

[2017-11-08 18:38] cheryldmorse commented on #104
@gcutrell The NC files have been regenerated

[2017-11-09 14:04] gcutrell commented on #172
@cheryldmorse - Could you point me to the directory that the log files are located? If I see the issue again I can go ahead and quickly temporarily fix it.

[2017-11-09 15:05] gitchrisadams commented on #163
This problem is due to a preview marker being set to blue.
So whenever you search it previews the marker and displays like this for wslm4 for example:
![image](https://user-images.githubusercontent.com/9978238/32611606-1844530e-c534-11e7-9bc3-132dd3c14ba3.png)

If you add that marker to the map, and the marker is transparent, the blue preview marker shows through the transparency and displays like

[2017-11-09 16:14] kknee commented on #163
@gitchrisadams  - see my last comment above.  The behavior that you report above is indeed expected, but the issue was that the marker was transparent even tho it had recent data.  That no longer seems to be the case - of the four buoys listed above:

SLRM4 has recent data and is opaque
STDM4 has recent data and is opaque
WSLM4 does not have recent data and is transparent
grim4 does not have recen

[2017-11-09 18:49] kkoch commented on #163
It is only this station.  I have not seen it with any other.

[2017-11-14 17:47] tslawecki commented on #172
I recovered about 30 GB at /var/lib/tomcat/applications/thredds-4.6.6/content/thredds/logs

[2017-11-14 18:23] kknee commented on #172
This has been happening more frequently.  I think we need a longer term solution than manual clean up of logs.  We can setup log rotate as a start, for both threads and nginx.

[2017-11-14 18:26] tslawecki commented on #172
There were hourly log files here dating back to 2016 for the thredds servlet ... maybe we have too high a logging level?

________________________________
From: Kelly Knee <notifications@github.com>
Sent: Tuesday, November 14, 2017 1:23 PM
To: glos/myglos
Cc: Tad Slawecki; State change
Subject: Re: [glos/myglos] thredds.glos.us out of space (#172)

This has been happening more frequently. I think

[2017-11-15 19:49] cheryldmorse commented on #172
The nginx logs are also getting large. The 'host_access.log' in /usr/local/nginx/logs is over 12 GB

[2017-11-16 19:52] kknee commented on #163
This station being WSLM4?  In that case I think we can close this.  That station is correctly transparent.

[2017-11-16 19:55] kknee commented on #100
@Bobfrat noticed one issue when testing this on production.  We're filtering the markers based on zoom level for the TOC, but not for the search results, so when you add Grand River to the map, it seems like it didn't add all the stations until you zoom in:

![image](https://user-images.githubusercontent.com/196868/32912787-1cb955f6-cade-11e7-95ff-dc7f6cacd1a3.png)
 vs.

![image](https://user-imag

[2017-11-16 19:57] kknee commented on #146
@gcutrell @kkoch Can one of you comment here which stations we need to add these parameters to?

[2017-11-16 20:13] ColinNBrooks commented on #174
We've removed the kd490_erie and PZD Erie layers from our WMS stream until we're more confident of the data. Can the Getcapabilities statement be edited so that the GLOS portal doesn't try to get these? Then Lake Erie should show up again, right?

[2017-11-16 20:15] kknee commented on #174
@Bobfrat can you fix this on the data catalog end, rather than having MTRI mess with the GetCaps?

[2017-11-16 20:16] Bobfrat commented on #174
yes, just let me know when its back

[2017-11-16 20:16] kknee commented on #174
ok, lets go that route, thanks!

[2017-11-16 20:17] ColinNBrooks commented on #174
Thanks. I wasn't sure what needed to be done. We hope to restore the data in 2018 when we're more confident about these two Lake Erie data layers.

[2017-11-17 14:45] kkoch commented on #163
Too late in the season to test. I will try to put this on my radar in the spring when all are active and see if things are normal or need attention.

[2017-11-17 14:45] #163 closed

[2017-11-17 15:27] Bobfrat commented on #174
Lake Erie is back now.

[2017-11-21 18:48] kknee commented on #174
We removed the kd490_erie and PZD Erie layers from the OceansMap catalog to match the MTRI GetCaps.  If these come back online we'll need to add them back to OceansMap.

[2017-11-21 18:48] #174 closed

[2017-11-28 14:30] kkoch opened #175 "Battery replacement NFS & VM migration"
We are scheduling a battery replacement for the NFS server and a VM migration for next Thursday afternoon (11/30).

Kristin - do you think there should be an announcement at glos.us? Estimated outage is 4 hours (1 PM - 5 PM).

Team - The NFS server will be down for a CMOS battery (OR possibly motherboard) replacement, and we will wrap up the migration of VMs from dad.glos.us to daughter.glos.us. T

[2017-11-28 14:31] kkoch commented on #175
@kknee put a warning message on portal.glos.us so users will have a heads up.  Won’t do much good while the site is down, do we want to think about a redirect to a simple landing page for those four hours?

@tslawecki agrees redirect is a good idea (who will be doing that?)

[2017-11-28 14:32] kkoch commented on #175
Message is live on Portal.  " The GLOS Data Portal will be down for scheduled maintenance on 30 Nov from 12 pm to 6 pm."

(Suggest that we tweak it to say E.T. or EST.)

[2017-11-28 14:36] #167 closed

[2017-11-28 14:38] tslawecki commented on #175
I was told by IT that we don't actually know the time window, so let's (1) change the message to "The GLOS Data Portal will be intermittently unavailable on Thursday, November 30 due to maintenance." (@kknee?)  and (2) I will set up a temporary landing page.

I will coordinate timing of DNS changes with IT.

[2017-11-28 14:42] gitchrisadams commented on #175
Updated message:
![image](https://user-images.githubusercontent.com/9978238/33325512-7af03d60-d420-11e7-8592-7227f96296b8.png)

[2017-11-28 14:44] tslawecki commented on #175
@gitchrisadams, git outtahere with your too-rapid responses!

:)

[2017-12-05 18:42] kkoch opened #176 "Add GLRCMET station"
User query wanted GLRCMET added to GLBuoys and noted that he has been submitting via ftp to GLOS.

"DMAC - The GLOS station GLRCMET does not appear on glbuoys.glos.us. We believe we are uploading a correct XML data file to ftp.glos.us. Throughout the winter months, this northern station will report a set of meteorological data including solar radiation and photosynthetic active radiation. This sta

[2017-12-05 18:45] kkoch commented on #176
@gcutrell has added station to OBS.  @kkoch has updated the existing GN metadata record to provide the cache linkage and notified the Chris that it is on the portal.  Also have asked Chris to fill out a metadata form.

PENDING (and posted on the GLBuoys github repository) is whether this appropriate for GLBuoys. We do not currently provide links to other land-based stations (e.g. the two ESF weath

[2017-12-05 18:45] #176 closed

[2017-12-05 19:05] kkoch commented on #176
Just so we have the resolution to one of the issues >

From Greg >
The data for station GLRCMET should be at http://data.glos.us/portal/getObsByPlatform.php?provider=glos&platform=GLRC+Waterfront+Meteorological+Station but nothing is showing up. Good news is data is being saved to the database at least.
Cheryl, we corresponded about this issue before but it was because I did not add an entry in th

[2017-12-06 19:00] gcutrell opened #177 "TDS PQT Internal Server Error"
@kknee @tslawecki Kelly, we first received notification from Greg Lang 12/4 3:30 PM that he was receiving an error when trying to obtain Lake Erie Nowcast data. It also happened overnight and I believe it occurred around 1 ET today. A thredds restart temporarily fixes the issue but it continues to occur. I've attach the tomcat error that is associated with the data request. I've also confirmed tha

[2017-12-06 20:59] kknee commented on #177
@gcutrell , @cheryldmorse is taking a look.  The error is not occurring right now and we haven’t been able to figure out why it  was in the log. It appears that the NC file was corrupt, but I think we need to wait until it happens again to dig into what is happening.

[2017-12-07 13:01] gcutrell commented on #177
@kknee, @cheryldmorse The error is occurring now and can be viewed at http://data.glos.us/glcfs/glcfsps.glos?lake=erie&i=-82.90866&j=41.53578&v=air_u,air_v&in=1&latest=1&h=6&order=asc&pv=1&gi=1&doy=1&tzf=0&f=csv. Could you look into it this morning? I'll tell Greg L. that we are not going to restart thredds yet so you can dig more into it.

[2017-12-07 13:35] cheryldmorse commented on #177
@gcutrell I'm looking into it now

[2017-12-07 15:12] cheryldmorse commented on #177
@gcutrell I found incorrect permissions on the erie folder in the tds cache. I updated the permissions and the request is now working

[2017-12-07 19:51] kkoch opened #178 "Document QARTOD / add to ncei packet"
Need to document QARTOD and add to ncei.  Will need to look at the metadata and make sure it is linked appropriately.

[2017-12-07 20:54] #175 closed

[2017-12-12 14:41] kkoch opened #179 "Improve Portal Load Time"
It was noted in the GLOS Google Analytics meeting the following:
•	The average monthly load time has been fluctuating. It went up to 7 seconds in November.  What is the reason for this fluctuation?
•	Organic search went up which is good. It would be nice to know why.

https://docs.google.com/spreadsheets/d/1Q6Gs-J6yaZFHOaRBYezbahteXP8K23gqiJH9bBx9Nb0/edit#gid=2041614704

And also noted that GLBuoy

[2017-12-15 14:45] kkoch commented on #91
@cheryldmorse put a note here when the update is complete. Thx!

[2017-12-18 16:28] tslawecki opened #180 "Move portal.glos.us to https:"
Because of the use of  accounts in myglos and the boaters' view, we need to switch to https: ASARP. I can install the certs on portal.glos.us, but am not sure what redirects, etc. need to be implemented to support this, and also if any changes re needed to the Docker apps. cc'ing @kknee @Bobfrat @cheryldmorse for input on cDocker updates needed and reasonable timing, @kkoch FYI.

[2017-12-18 17:06] Bobfrat commented on #180
I don't think we'll need any updates from the docker end if we can take care of this through nginx.

We'll likely see some warnings if we're making requests from an https application to http sources though.

[2017-12-18 17:53] kknee commented on #180
@Bobfrat can you do this on dev first to see what the impact is, warning wise?  If we are getting nasty browser warnings when the page loads, we may want to dig deeper into http sources to see if they can be updated.

[2017-12-18 18:15] Bobfrat commented on #180
The dev site is available through https:
https://dev.oceansmap.com/myglos/
If you use your browsers developer tools you'll see the warning messages like this:

`dev.oceansmap.com/:1 Mixed Content: The page at 'https://dev.oceansmap.com/myglos/' was loaded over HTTPS, but requested an insecure image 'http://data.glos.us/metadata/srv/eng/resources.get?uuid=6349eecd-2b05-46d5-93ed-fe87f00e4702&fname=

[2017-12-18 18:19] tslawecki commented on #180
If I understand correctly, in theory we "just" need to do the following for the cited warning:

1) Switch data.glos.us to https (add cert, DNS record)

2) Switch/redirect all http://data.glos.us references to https://data.glos.us

Or do we need to do something more?

________________________________
From: Bob Fratantonio <notifications@github.com>
Sent: Monday, December 18, 2017 1:15 PM
To: glos/m

[2017-12-18 18:21] Bobfrat commented on #180
That's right! But there may be more other requests to http resources, I'll check if there are any others.

[2017-12-19 16:05] cheryldmorse commented on #105
@gcutrell The 50 day files also need to be copied to Archive folder. The 2017 folder only has the first group of files from 2017

[2017-12-20 17:25] kkoch commented on #171
Hey team (@kknee @gcutrell @tslawecki) - I'm not sure if this is related but just had two inquiries regarding GLCFS from users.  Can we raise the poking around a bit higher and see if we can resolve?  I told the users I'd get right back to them with a response.

Here are the email texts:
1) From Greg Lang
Eldon,
No planned outage on our end.  The GLCFS nowcast and forecasts are running on schedule

[2017-12-20 17:39] gcutrell commented on #171
There is no error in the GLCFS retrieval log. It appears the data is being retrieved but it is not showing up in nfs. The status page also says that GLCFS is up-to-date (http://data.glos.us/status/).

[2017-12-20 17:41] cheryldmorse commented on #171
@gcutrell I'm not seeing any new forecast files on storage.glos.us in /var/thredds/GLCFS/Forecast
It seems like this is probably related to the fact that storage.glos.us ran out of disk space yesterday

[2017-12-20 17:46] gcutrell commented on #171
@cheryldmorse I'm not either. I'm starting to think Gwans logs and status is based on retrieved file information (like file name) and not what is actually in storage. We also have not had a new GLCFS to retrieve since the space issue was fixed. I'll go ahead and download the missing files from GLERL.

[2017-12-20 19:12] kkoch commented on #171
Thanks @gcutrell for replying to Eldon.  Do we also have an answer for Jeff Houghton regarding the 6 day shift in the point query tool or should I create that as a separate issue?

[2017-12-20 19:31] gcutrell commented on #171
@kkoch  Can you get a little more information from Jeff. Like what is he querying? I did a quick comparison between the nowcast significant wave height and observed for 45007 and they match up.

[2017-12-21 13:08] gcutrell commented on #171
@cheryldmorse The script that retrieves the GLCFS files is running without any errors in the log. The issue is it thinks it is saving data to storage but it isn't. Do you know what could have happened when storage hit capacity? Does something need a restart? The retrieval script/log is in process1 at /usr/local/glos/glcfs/ if you wanted to take a look at it. We are behind on GLCFS data but it does

[2017-12-21 13:16] tslawecki commented on #171
Greg - good catch. Please let Greg L and others know this may be an issue again this morning.

________________________________
From: gcutrell <notifications@github.com>
Sent: Thursday, December 21, 2017 8:08 AM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] TDS GLCFS time format change (#171)

@cheryldmorse<https://github.com/cheryldmorse> The script that retrieves the GLCFS

[2017-12-21 20:30] kkoch opened #181 "Point Query Tool/GLCFS/Obs (ATW20 issue)"
Jeff Houghton contacted us with the following:
"A quick question regarding the GLOS Point Query Tool.  I’m comparing wave data from our Milwaukee 20m buoy with GLCFS Nowcast wave data, the data in my query seems to be shifted early 6 days 6 hours.  Is this because its reporting a forecast or for some other reason?  If it’s a forecast I can say it’s very impressive how accurate it is to our measure

[2017-12-21 20:31] kkoch commented on #181
Follow up (in case this was related to our other GLCFS issues)
Jeff: "Looks like my issue persists.  I’ve run a Nowcast Query at -87.8243, 43.0946 degrees for Significant Wave Height (m) and the data appears to be shifted early by 6.25 days.  I’ve come across other issues as well.  Using this link (http://data.glos.us//obs//station//15-402.html#) for our ATW20m buoy the AirTemp data appears to be

[2017-12-21 20:31] kkoch commented on #181
From @gcutrell > Thanks Jeff for the additional details. Hopefully we can figure out something soon. For the Point Query Tool were you using the date range or “latest” option? We’ve been working on fixing the Nowcast data archive  since we reached a server disk capacity the other day.

As for your ATW20m buoy data does it appear to be all years? 4.5 years is a strange offset. I can check our datab

[2017-12-21 20:33] cheryldmorse commented on #91
Updated the HABS harvester to automatically create the 2018 directories.

Updated the GLCFS catalogs to contain the 2018 directories. The GLCFS catalogs are completely hard-coded and we should look into cleaning that up.

We still need to update the GLCFS 'current' catalogs after the New Year.

[2017-12-21 20:34] kkoch commented on #171
I've moved the Jeff Houghton query to a separate ticket.

[2017-12-21 20:42] kkoch commented on #180
1) GeoNetwork comes to mind as something we may need to investigate.
2) Need to make sure we have redirects in place http >>> https in order to be sure Google Analytics tracking works.  Devra will create a copy of our reports so that we have a set for http and a set for https. I've sent an email invite to @devra@webspinster.com to be a glos member for this repository so she can be updated on this

[2017-12-21 20:46] kkoch opened #182 "GLCFS Script - Check for data presence"
Scripts presently do not check to see if a day's data has been uploaded to the server. This is only a problem between uploads of the 50-day files but it would prevent user issues if we did have some sort of alert if an upload didn't occur (see also related issues on GLCFS).  @gcutrell to work with @tslawecki on developing a script that does so.

[2017-12-21 20:49] Bobfrat commented on #180
@gitchrisadams is going to start looking at switching any hardcoded http endpoints to https so when the certs are added and https://data.glos.us is available we'll be ready with a new version of the portal. Good point @kkoch, if the UI is being fed http endpoints from GeoNetwork, those should be updated as well.

[2017-12-22 14:39] kkoch commented on #181
Jeff > No problem.  For the Point Query Tool I was using the date range option.  The ATW20m buoy data is off by 4.5 hours not years, which will make more sense I think.  Attached is my comparison of measured wave data and Nowcast wave height with the 6.5 hour correction.  Extremely impressed these data match up as well as they do.  Glad to hear archived data tool is coming online, still not sure h

[2017-12-22 16:23] tslawecki commented on #180
@cheryldmorse reiterated Bob's comments in a separate e-mail.

Let's walk through the steps on our 1/4 call.

[2017-12-22 16:59] gcutrell commented on #181
Issue was not GLOS's. Jeff did not realizing the timezone of the glos obs and nowcast data.

[2017-12-22 16:59] #181 closed

[2017-12-22 17:19] kkoch commented on #181
just clarifying > GMT vs local time zone thus the 6 hour gap

[2018-01-04 21:25] kkoch opened #183 "Ice Cover"
Interest / hot topic is ice cover for the GL.  We currently have the GLCFS ice thickness model.

See:

◦Whether we could tweak the existing GLCFS display on the portal.  Ed brought up that he would prefer gray-black color scheme instead of the current blue.  Also that the legend is in metric and is not currently affected if the user changes their preference to English units.  RPS thinks this would

[2018-01-04 22:59] kkoch opened #184 "Obs not displaying on portal"
Noticed at DMAC meeting that portal is not displaying obs.  Kelly checked and obs cache was empty. Greg and Cheryl verified that this was due to partition on Michigan being at 100% capacity.  They cleared off some files and got it back to 85% and obs was now showing data (verified by looking at data on dev).

HOWEVER, @kknee @gcutrell @cheryldmorse I waited awhile since I figured our normal latenc

[2018-01-05 01:39] kknee commented on #184
@Bobfrat can you take a look?  This is all I see for obs in the portal:

![image](https://user-images.githubusercontent.com/196868/34592022-4c2226ce-f18f-11e7-9b99-379baefd00e2.png)

[2018-01-05 03:05] Bobfrat commented on #184
@kknee @kkoch
We're getting an error retrieving the csw records from geonetwork using python owslib. Has anything changed recently with the geonetwork instance? I'll try to dig in from my end.

[code]

[2018-01-05 03:29] Bobfrat commented on #184
Ok after some investigation it appears that this error has been occurring since 2017-12-21, which was the day the system went down for maintenance.

The dev version was hanging onto the TOC entries because it doesn’t remove entries even if new hourly catalogs drop records. On a restart, you'd see them disappear which is the case now on dev.

[2018-01-05 11:35] kknee commented on #183
1. Adjusting the color scheme only take a few minutes, please let me know what you would like.  The EDS legends should be responsive to units, I'll have the EDS team go ahead and fix that.

2. Need to clarify this one.  The GRIB files are from the U.S. National Ice Center (http://www.natice.noaa.gov/products/grib.html).  Is that the data that is behind the GLERL maps?  I thought we didn't have acc

[2018-01-05 13:17] tslawecki commented on #184
Geonetwork instance is up and running AFAIK - http://data.glos.us/metadata/srv/eng/main.home?.

________________________________
From: Bob Fratantonio <notifications@github.com>
Sent: Thursday, January 4, 2018 10:29 PM
To: glos/myglos
Cc: Subscribed
Subject: Re: [glos/myglos] Obs not displaying on portal (#184)

Ok after some investigation it appears that this error has been occurring since 2017-1

[2018-01-05 13:52] kkoch commented on #184
Yes GN is running and has been.  The only change that has been made was this week to the help.xml and I restarted it a few times to have some xsl changes take affect.  But it's been running the whole time and definitely nothing new around the maintenance downtime.

[2018-01-05 14:49] tslawecki commented on #184
Is there an intermediary process that might not have been restarted that sits between GN and the portal? I noticed that VMs named "myglos3" and "web4" are currently turned off, would one of those be hosting a translation or similar service?

[2018-01-05 15:04] Bobfrat commented on #184
I'm not sure about any intermediary services but I am able to successfully query GN for the ISO records but when I ask for any more than 270 records as part of the request the response fails. There must be some error messages in the logs. @tslawecki are you able to take a quick look in the logs. I'm not sure where to look.

[2018-01-05 16:15] kkoch commented on #184
@Bobfrat can you post the query string you are using?  I'm also going to be checking the GN logs to see if anything funky is showing up there.

[2018-01-05 16:19] Bobfrat commented on #184
Yeah it's a POST request to http://data.glos.us/metadata/srv/eng/csw with the following body content (application/xml):

<csw:GetRecords xmlns:csw="http://www.opengis.net/cat/csw/2.0.2" xmlns:ows="http://www.opengis.net/ows" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" outputSchema="http://www.isotc211.org/2005/gmd" outputFormat="application/xml" version="2.0.2" service="CSW" resultType="

[2018-01-05 18:13] kkoch commented on #184
There is a place in GN to test CSW calls (http://data.glos.us/metadata/srv/eng/test.csw) and it sure looks like I can pull up all the records and shows a count of 866 which is the right number.

To troubleshoot, I plugged in your post request above and it didn't work. So I then starting putting in the parameters that differed from yours and and from the sample they provided.  I don't know enough a

[2018-01-05 18:32] benjwadams commented on #184
The issue does not appear to be GeoNetwork related (when I checked).  It arises when an error occurs within a resource pointed to by the CSW records attempts to fetch.  For example, this record which gives a 500 error when trying to issue a getMap request caused problems:  http://tds.glos.us/thredds/wms/SM/LakeMichiganSM-Agg?request=getMap  .   Trying to grab this file through OpenDAP indicates th

[2018-01-05 18:32] kkoch commented on #184
I also looked at the GN logs.  Around December 10th we started getting some errors

It also started warning about several metadata records that is says metadata not found or invalid schema.  These are very old (pre-me) records and look to be in FGDC not ISO format. Somewhat odd that they all of a sudden started being an issue.

However, I'm pretty sure the portal was working even after those error

[2018-01-05 20:51] benjwadams commented on #184
@Bobfrat should have pushed some changes to handle more error cases.

There were also a couple bad files for http://tds.glos.us/thredds/dodsC/SM/LakeMichiganSM-Agg.html that were causing the aggregation and associated data access endpoints to not function properly.

As they were causing the aggregation to become corrupted and not function properly, I moved them out of the thredds data directory to

[2018-01-08 21:12] tslawecki commented on #180
Per 1/4 call, let's write out the steps needed to make portal.glos.us https. Kelly suggested adding Ben Adams (did I get the right Adams?) to the assignees because he can identify dependencies. My naive list of steps:

1. Adams reviews dev portal to identify dependencies and correct (where appropriate) http to https: in references.
2. We collectively address dependencies as needed (e.g. switching

[2018-01-08 21:20] tslawecki opened #185 "Assessing feasibility of moving GLOS DMAC infrastructure to the cloud"
We need to estimate one-time and annual costs for operating the GLOS DMAC infrastructure completely or partially in the cloud in order to inform our near-term rack space contract decision. @kknee suggested I engage with Brian McKenna to identify basic steps towards doing this, so I need to get his github ID to start ...

[2018-01-08 21:25] kknee commented on #180
I think both Adams are needed here @gitchrisadams will look for and correct dependencies (@kkoch - for GeoNetwork, need to confirm that links to external images and services have https enabled and then update links - we already know that much of the mixed content comes from these links).

@benjwadams can help with certs if necessary.

[2018-01-08 21:31] Bobfrat commented on #185
@brianmckenna

[2018-01-08 21:45] tslawecki commented on #185
@brianmckenna, would it make sense to start with an inventory of servers, including hardware and roles?

[2018-01-09 14:55] kkoch commented on #180
Is this also affecting data.glos.us?  And/or any or all of the VMs (e.g., GN25 for GeoNetwork)?

**I believe that if neither data.glos.us or GN25 are affected at this first change, then we can phase in GN since both data linkages, images and 'info' links seem to work fine using dev https.**

1) If so, within GN itself - links within GN will need to be updated  (e.g., http://data.glos.us/portal/get

[2018-01-09 16:48] kkoch opened #186 "Boaters: ndbc Canadian buoys"
Noticed that the ndbc buoys in boaters differs from Portal.  See issue #143 which is that the ndbc feed was not pulling in the canadian buoys so I'm guessing the fix would be the same.

Buoys missing in Lake Ontario in Boaters are : 45159, 45139, 45135

I did not check the other lakes.

This also begs the question as to how do we ensure that changes made to the main Portal are also reflected in th

[2018-01-09 18:53] kkoch commented on #184
Closing this issue and opening a new one for fixing the data corruption issue.

[2018-01-09 18:53] #184 closed

[2018-01-09 19:12] kknee commented on #180
@kkoch we agree that changes to GN and other dependencies can be phased in after the switch for portal and boaters too since there are no issues on dev with https.  That makes #3 above the crucial step for getting this done.  Bob and I chatted and we don't think DNS updates are necessary, nginx will take care of redirect from http to https.  We'll have @benjwadams look at the certs.

[2018-01-09 21:14] Bobfrat commented on #186
Right now the entries in the boaters portal are static and separate from the collection in the main portal because they are split up by lake. I can take the main portal NDBC buoys and filter them by location though.

[2018-01-16 16:10] kkoch opened #187 "HECWFS not working in portal"
I am getting errors in portal when I go to hecwfs links:

http://portal.glos.us/?map=MzkyNTljMjYtNjIxMS00ZThlLTk4YzMtMTczOTdkMTYxNmIyOmhlY3dmcyAyMDE4&
name=hecwfs+2018

![image](https://user-images.githubusercontent.com/6392982/34998680-b9df33e2-faad-11e7-9463-529e613752b1.png)

[2018-01-16 17:29] kknee commented on #187
hmm, no data since 12/31 on either the GLOS or EDS TDS, but forecast images do appear to be available on the GLERL site.  Will have the EDS team investigate and report back.

[2018-01-16 17:51] kkoch opened #188 "Point Query Tool issue"
User sent the following issue.  I was able to get data from Lake Huron, Ontario, Superior but Lake Michigan and Lake Erie as well does indeed give the internal error she reports >

I'm trying to download wave data for a point in Lake Michigan. This offshore wave data is of very importance since I will use the information to help calibrate a nearshore wave model. I've been able to do this in the pa

[2018-01-16 18:10] tslawecki commented on #188
Roping in @cheryldmorse too ... does this possibly relate to the error you discussed with @gcutrell last week where you suggested consideration of upgrading TDS? Current version is apparently 4.6.11, you noted we're at 4.6.5.

[2018-01-16 18:16] tslawecki commented on #188
@gcutrell or @kkoch - please reach out to Alejandra to find out location; we can help her set up a direct TDS query.

[2018-01-16 18:28] kkoch commented on #188
I will do.

[2018-01-16 19:26] gcutrell commented on #188
A restart of thredds will enable it to work again although for less than 12 hours. Until it is fixed I can just restart thredds when I get to work and leave work. The PQT is working now.

From: Kathy Koch [mailto:notifications@github.com]
Sent: Tuesday, January 16, 2018 1:28 PM
To: glos/myglos <myglos@noreply.github.com>
Cc: Greg Cutrell <gcutrell@limno.com>; Mention <mention@noreply.github.com>
S

[2018-01-16 19:26] kknee commented on #187
From the EDS team:

There has not been any new files posted at the source since 12/31/2017.

Here is the endpoint we hit to collect the data: http://tds.glos.us/thredds/catalog/HECWFS-Forecast-Files/catalog.html .

The file we used to grab was the %YYYYDDD%00.nc file.

[2018-01-16 19:43] kkoch commented on #188
Painful. But thanks.  I also have a message to user to get the parameters she needs but I will also inform her that we have a bandaid in place.

[2018-01-16 20:04] tslawecki commented on #187
@gcutrell , please take a look too. http://data/glos.us/status shows HECWFS nowcasts and forecasts happening successfully, maybe they're being put in a wrong place because of the calendar year turnover?

![image](https://user-images.githubusercontent.com/5224254/35009758-8db3eb02-face-11e7-9aa9-6a96b342e043.png)

[2018-01-16 21:30] devrap commented on #179
@kkoch  and @kknee, I just wanted to follow up with a bit of an update here and say that:

1)  this continues to fluctuate and in Dec. the page load time went down to 3.54 seconds.

2) For this and pretty much everything, it's helpful to look at Google's PageSpeed Insights tool for recommendations. The Portal's is at https://developers.google.com/speed/pagespeed/insights/?utm_source=analytics&url=

[2018-01-17 16:16] kknee commented on #188
@tslawecki we need to update TDS.  Should we go ahead and do that?

[2018-01-17 16:18] kknee commented on #187
@cheryldmorse any insight here about whether the new year could have caused a snag in data collection for HECWFS?

[2018-01-17 16:21] kkoch commented on #186
@Bobfrat yes please

[2018-01-17 16:23] kknee commented on #185
@tslawecki I think a good first step would be to have a brief call so that Brian can get a general idea of requirements and ask some general questions.  How about the week of the 22nd (@brianmckenna is back in office on 24th)?

[2018-01-17 16:24] kknee commented on #183
Regarding the GRIB files, they have a single variable, called “Ice_cover_1land_0sea”, description reads “Ice cover 1 land 0sea @ surface”. The units attribute is blank.

[2018-01-17 16:28] tslawecki commented on #188
Yes, please!

________________________________
From: Kelly Knee <notifications@github.com>
Sent: Wednesday, January 17, 2018 11:16 AM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Point Query Tool issue (#188)

@tslawecki<https://github.com/tslawecki> we need to update TDS. Should we go ahead and do that?

-
You are receiving this because you were mentioned.
Reply to this em

[2018-01-17 16:29] kknee commented on #180
@benjwadams is waiting for the private key that was used to sign the certificate

[2018-01-17 16:30] tslawecki commented on #180
Yep. I'm still looking for it ... I had to do a reload on my computer, so I'm not sure which GLOS server I ran openssl on to generate csr and key. Hope to resolve today.

________________________________
From: Kelly Knee <notifications@github.com>
Sent: Wednesday, January 17, 2018 11:29 AM
To: glos/myglos
Cc: Tad Slawecki; Assign
Subject: Re: [glos/myglos] Move portal.glos.us to https: (#180)

@be

[2018-01-17 16:31] kknee commented on #180
thanks @tslawecki!  wanted to make sure that request was documented here, as well as in ben's email

[2018-01-17 16:32] kknee commented on #179
@tslawecki let me know if we should spend time on this

[2018-01-17 16:33] kknee commented on #177
@cheryldmorse is a TDS update the solution to this issue as well?

[2018-01-17 16:39] kkoch commented on #169
On dev. Will be fixed with next push to production.

[2018-01-17 16:54] kknee commented on #5
@cheryldmorse can you clarify what is need in GN here?  The GN GLOS OPeNDAP Service link points to the demo utlcp station on TDS, but the ncSOS does not

[2018-01-17 16:56] cheryldmorse commented on #187
@kknee - Files are showing in TDS now: http://tds.glos.us/thredds/catalog/HECWFS-Forecast-Files/catalog.html
I missed the TDS catalog entry for individual forecast files when I updated the HECWFS catalog for the new year

[2018-01-17 16:58] kknee commented on #187
thanks @cheryldmorse, let's wait for EDS to catch up with their harvest and then we can confirm the fix in the portal and close this out.

[2018-01-17 17:00] cheryldmorse commented on #177
@kknee - No this was an issue with owner/permissions. I think someone probably started TDS as root instead of using the service. This issue is fixed and I think it can be closed

[2018-01-18 18:22] kknee commented on #188
@cheryldmorse will do the update in the early am next week.  The TDS may be up and down for a while while the update occurs - what's the best day to do this?

[2018-01-18 18:36] kknee commented on #187
Everything is in order on EDS staging.  Turning acquisition back on for production this afternoon.

[2018-01-18 18:37] #177 closed

[2018-01-18 18:40] kknee commented on #186
This is all set on dev, should we push the change to production?

[2018-01-18 19:09] kknee commented on #102
This task is complete, we now harvest HECWFS with EDS and show water level and water temperature in the portal, using EDS WMS services.

[2018-01-18 19:09] #102 closed

[2018-01-18 19:27] kknee commented on #166
Reported on a call, but never documented here: this sample works well for us, see image below.  Let us know if/when to move forward with implementation:

![image](https://user-images.githubusercontent.com/196868/35117122-a5f233b6-fc5b-11e7-83a7-a8d92253876d.png)

[2018-01-18 21:39] kkoch commented on #186
Yes please push to production

[2018-01-19 00:37] Bobfrat commented on #186
Should be set, please let me know if any other buoys seem to be missing from either portal

[2018-01-19 02:37] #186 closed

[2018-01-19 14:22] kkoch commented on #187
Looks like things are working fine.  I created a permalink http://portal.glos.us/?map=MzkyNTljMjYtNjIxMS00ZThlLTk4YzMtMTczOTdkMTYxNmIyOkhFQ1dGUw%253D%253D&name=HECWFS and notified Kristin regarding the HECWFS tile on glos.us

[2018-01-19 14:22] #187 closed

[2018-01-19 14:32] kkoch commented on #183
Decided at DMAC meeting for RPS to go ahead with testing on the GRIB's. @tslawecki to verify with Ed on color scheme for modifying the EDS legends.  @tslawecki also working on a tracker similar to the maumee nutrient tracker for ice.

[2018-01-19 18:20] kkoch commented on #158
@kknee From Becky: From my perspective all these enhancements are listed in this year's scope of work and should be done. I've moved the project task to "to do".

[2018-01-22 12:45] kkoch opened #189 "Federal Shutdown notice"
We will need to put a banner on all data products notifying users that the federal shutdown will  effect our federal data sources.

[2018-01-22 14:12] everhamme commented on #189
I see NOAA GLERL is still open..  any idea when that might change?

From: Kathy Koch [mailto:notifications@github.com]
Sent: Monday, January 22, 2018 7:46 AM
To: glos/myglos <myglos@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: [glos/myglos] Federal Shutdown notice (#189)

We will need to put a banner on all data products notifying users that the federal shutdown will

[2018-01-22 14:16] beckypearson commented on #189
NOAA GLERL is closed.  Employees have four hours this morning to close things down and then they have to be out. At this time they cannot even access their email.

Interesting times.

[2018-01-23 16:44] #189 closed

[2018-01-24 13:58] cheryldmorse commented on #188
@tslawecki - Is there a specific day that I should (or shouldn't)  update TDS? The server may be down for a short period of time

[2018-01-24 14:00] tslawecki commented on #188
Go when convenient, just notify the group so (1) we can put up a notice on the main portal and (2) we're prepared if anyone using PQT or direct THREDDS/ERDDAP complains.

________________________________
From: cheryldmorse <notifications@github.com>
Sent: Wednesday, January 24, 2018 8:58 AM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Point Query Tool issue (#188)

@tslawec

[2018-01-26 04:48] tslawecki commented on #183
@kknee - what would it take to show GRIBs in portal - is that still an EDS possibility?

[2018-01-26 04:50] tslawecki commented on #183
Posted working development version of a viewer for ice cover data at http://34.213.217.93/GL-ice.html. I am looking for feedback before refining the look, especially on what the introduction and information text should say.

There are several planned tweaks - may turn this into a separate Github issue for tracking ... or better yet its own repo?:

- Change years to (e.g.) 2017-18

- Add current, e

[2018-01-26 04:53] tslawecki commented on #180
@benjwadams @kknee checking in on progress, especially if there's anything we need to do ...

[2018-01-26 04:57] tslawecki opened #190 "Implementing limited-access Portal instance for HEC water utilities"
@kknee indicated the best way to control access to sensitive datasets in netCDF (e.g. model results for time of travel and/or dilution that may show the location of a water intake) is

1.Host the files on a separate TDS that has access control (at the time we found no way to control access to some datasets but not all on a single TDS)

2.Create a separate instance of OceansMap with a general login

[2018-01-26 13:26] cheryldmorse commented on #188
@tslawecki @kknee - I plan on updating THREDDS in the morning o 1/29.

[2018-01-26 14:38] kkoch commented on #188
I sent a reminder to Kristin and Becky as well in case we have longer term issues for users that day.

[2018-01-26 17:43] kknee commented on #180
@tslawecki nothing needed at the moment.  @benjwadams is working on testing before going live.

[2018-01-26 17:44] gcutrell opened #191 "thredds.glos.us Critical disk usage"
@cheryldmorse I noticed today that thredds is at critical capacity again. I couldn’t remember what you did in November (guessing it involved a log file) but could you do it again? Could you also note in this github issue what your doing for the future?

FYI I noticed it takes ~2 months to run through 50% of the disk capacity.
@tslawecki @kknee

[2018-01-26 18:14] cheryldmorse commented on #191
@gcutrell - It's back to 80%.
I removed old thredds and tomcat log files from the following places:
/var/lib/tomcat/applications/thredds-4.6.6/content/thredds/logs
/var/lib/tomcat/applications/thredds-4.6.6/logs

[2018-01-26 18:37] gcutrell commented on #191
@cheryldmorse Thanks!

[2018-01-26 18:37] #191 closed

[2018-01-29 13:39] cheryldmorse commented on #188
@tslawecki, @kknee -  TDS version 4.6.11 is now up and running

[2018-01-29 15:09] gcutrell commented on #188
Thanks!

From: cheryldmorse [mailto:notifications@github.com]
Sent: Monday, January 29, 2018 8:39 AM
To: glos/myglos <myglos@noreply.github.com>
Cc: Greg Cutrell <gcutrell@limno.com>; Mention <mention@noreply.github.com>
Subject: Re: [glos/myglos] Point Query Tool issue (#188)

@tslawecki<https://github.com/tslawecki>, @kknee<https://github.com/kknee> - TDS version 4.6.11 is now up and running

—

[2018-01-29 16:55] cheryldmorse commented on #5
@Bobfrat - What GN record link are you using for the 'utlcp' station?

[2018-01-29 17:37] tslawecki commented on #185
@kknee , is @brianmckenna available today or (better) tomorrow?

[2018-01-31 17:01] tslawecki commented on #180
@benjwadams @kknee https://portal.glos.us/ is now accessible from the Internet

[2018-01-31 18:06] tslawecki commented on #183
@kknee Question, some guidance on showing spatial extent of ice in portal:

- Portal currently shows GLCFS ice thickness - 2D model parameter "hi". Can this be replaced with "ci" - ice concentration, or have both?

- For charting of this and NIC GRIB, Ed suggests going from black (100%/high depth) to white (0%).

[2018-01-31 19:05] tslawecki opened #192 "Reroute portal feedback/contact forms to GLOS CRM"
Per Becky,

_We are implementing a Saleforce-based CRM, and we would like to get all those who contact us via the Data Portal or the GLBuoys feedbacl forms integrated into Salesforce. Attached are the code for both data products.  I hope it isn't too much trouble to reformat these forms.  Let me know if you have any problems._

For the portal forms, the intent is to transmit the form information t

[2018-02-01 22:43] devrap commented on #180
Hi, @tslawecki (and @benjwadams and @kknee)--it looks like the assets aren't yet using https on the live version.

I was hoping to be able to start the analytics view switch today on the 1st, but as things are not yet technically live: any new ETA?
![https_status](https://user-images.githubusercontent.com/4021912/35707248-db05af26-075d-11e8-8b95-2aae63ae7d24.png)

[2018-02-02 15:50] kkoch commented on #178
@kknee I've added the two thredds links for habs and buoys to the QARTOD documentation page (on our Doc Wiki).  Do you have other documentation we can add there?

https://github.com/glos/Documentation/wiki/QARTOD-(DMAC)

[2018-02-02 17:49] kknee commented on #178
@kkoch do we want to mention the packages that we used for application:
https://github.com/ioos/qartod + https://github.com/glos/glos-qartod

How about documenting the tests were're running and the test parameters used on there too?

[2018-02-02 17:54] kknee commented on #180
@devrap I believe there are still some firewall issues to be addressed.  @tslawecki can you comment?

Even when the portal transition is complete, there will still be references to external http only links (e.g. from GN) until they  - so browsers may still display warnings.

[2018-02-02 17:57] kknee commented on #183
@tslawecki thanks for the guidance.

on GLCFS, confirmed that we collect concentration in addition to thickness.  Will make the switch.

[2018-02-02 18:09] kkoch commented on #178
@kknee Yes! definitely.  I will add the packages.  Would love it if we have the additional documentation you mention as well.  Do you already have something available or is this something we need to get approvals to develop?

I added the links to the IOOS documentation and QARTOD manuals as well.

[2018-02-02 18:33] tslawecki commented on #180
AFAIK firewall is open for portal.glos.us. Do we need to open access for GeoNetwork and others?

________________________________
From: Kelly Knee <notifications@github.com>
Sent: Friday, February 2, 2018 1:23 PM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Move portal.glos.us to https: (#180)

@devrap<https://github.com/devrap> I believe there are still some firewall issue

[2018-02-02 19:53] kkoch commented on #179
Per DMAC, need to keep this as a 'keep an eye' on load time with no action at this point in time.  HOWEVER, @kknee we do need to do what is necessary to have the click on the map view button as a trackable event.

[2018-02-02 19:57] kkoch commented on #185
Analysis is done.  Cost of EC2 comparable to our current configuration so we probably will plan this move for 2019.  Tad will post details here.

[2018-02-02 20:12] kkoch opened #193 "Alerts API"
Create an alerts API.  Will be utilized by Portal (and Boaters View) as well as GLBuoys.  See also: Boaters enhancements ticket #158.

@tslawecki @kknee Tasks need to be defined here >

[2018-02-02 20:16] kkoch commented on #146
There is still some java that needs to be extended (a @tslawecki and @gcutrell task).  Cheryl recommended as well that a script is run on all the .nc files to retroactively add blanks for the new parameters so once the LTI tasks are done, they will connect with RPS.

[2018-02-02 20:27] kkoch commented on #178
per DMAC meeting @kknee yes pull together the thresholds and parameters documentation when you have a chance.  You can either send it to me or you can put directly on the wiki.

[2018-02-02 20:52] kkoch opened #194 "GLOS buoys (obs) not displaying on Portal again"
GLOS buoys not displaying on Portal.

@kknee has verified that this is unrelated to the http >> https switch.

@gcutrell please check process1 and thredds?
(NOTE: @tslawecki I do not see any issues directly with GeoNetwork and thus GN25 although as noted, never hurts to check.  I do still see buoys on DEV and do not have any issues linking over to the metadata, however we also did when we had the

[2018-02-02 21:32] kknee commented on #194
@kkoch I reread the thread for #184 and looks like we are having exactly the same issue, the MTRI Lake Michigan SM aggregation is broken, likely due to some bad files:

http://tds.glos.us/thredds/dodsC/SM/LakeMichiganSM-Agg.html

someone needs to remove those to get things going again - @benjwadams @cheryldmorse @gcutrell  - given it's late on Friday, whoever can get to this first is the best cand

[2018-02-05 12:53] cheryldmorse commented on #194
@kkoch, @gcutrell , @benjwadams - I found and removed the corrupt netCDF files and the aggregation is working again

[2018-02-05 13:21] kknee commented on #194
thanks @gcutrell looks like the portal is working again.

does anyone know how these corrupt netCDF files keep getting onto the server?

[2018-02-05 13:23] cheryldmorse commented on #194
The corrupt files that needed to be removed were:
```4326_201709231830.nc```
```4326_201705061805.nc```

[2018-02-14 15:36] Bobfrat commented on #179
@kkoch I was able to speed up the load time by updating the URL that we fetch notifications from on S3. @gitchrisadams is working on tracking the map/catalog button click event.

[2018-02-14 15:57] gitchrisadams commented on #179
Created top level category of "Site Navigation", action of either "Map" or "Catalog" "Button Clicked".
For the label it is "Map Button" or "Catalog Button". How do these names sound?
![image](https://user-images.githubusercontent.com/9978238/36213827-b7ab212e-1175-11e8-8d32-f647baa7e00b.png)
![image](https://user-images.githubusercontent.com/9978238/36213848-c88fde58-1175-11e8-9a95-610c0dc861f2.pn

[2018-02-14 16:02] kkoch commented on #179
@devrap Does that seem clear to you?

[2018-02-14 20:51] devrap commented on #179
Yep, @kkoch and @gitchrisadams  - this should work well. The current multi-dimensional events report filters by page (which is the same on this product) then by category > label > action, so map and catalog interactivity should show up well here. Thanks.

[2018-02-15 17:30] kknee commented on #193
here's my take on tasks, we are most of the way there, will provide an update on today's call.

@cheryldmorse FYI

- [x] Set an alert: API is passed email and/or phone number, buoyID, parameter name, comparison type(s) (>, <, =, etc), comparison value(s).  In this case a new alert will be added to the alerts DB and the user will start receiving emails when the alert is triggered:
- [x] Send text m

[2018-02-16 19:51] kkoch commented on #179
Closing for now.  Will re-open if load time does not really appear to be improving.

[2018-02-16 19:51] #179 closed

[2018-02-16 19:55] kkoch opened #195 "Update Google Analytics to track date range choices"
GLOS raised the question whether the date range dropdown on the portal is useful (primarily because this seems to be a heavy hitter off-season and Google Analytics team were wondering if people were just clicking it to see what was there and what it does).

In order to better determine usefulness, team would like to track what specific date users are attempting to change to. This would require RPS

[2018-02-17 00:00] devrap commented on #195
@kkoch and @kknee, just to clarify: this is currently recorded as an event action ("Time Change") but with no value. @Bobfrat, can we have this capture the value?

[2018-02-19 15:04] kknee commented on #183
Here's a screen shot of the NIC data - still working out units/legend:

![image](https://user-images.githubusercontent.com/196868/36384111-3567ade6-155c-11e8-837f-9dd4c350ec7c.png)

[2018-02-19 15:05] kknee commented on #183
Also, colors have been updated to greyscale for ice thickness:

![image](https://user-images.githubusercontent.com/196868/36384170-5f713878-155c-11e8-82db-f46fa0ec1003.png)

[2018-02-19 17:20] benjwadams commented on #180
Hi, portal.glos.us and boaters.glos.us have both been moved to HTTPS only and will now redirect HTTP to the HTTPS endpoint using the glos.us wildcard cert.  I'm going to close this issue for now.  Do note that portal.glos.us is displaying mixed HTTP/HTTPS content warnings, which looks to be due to thumbnails (possibly other things?) from the GLOS GeoNetwork server.

[2018-02-19 17:20] #180 closed

[2018-02-20 14:29] #172 closed

[2018-02-20 14:43] gcutrell commented on #146
@kknee @cheryldmorse I just moved the new parameters srad1, mwdir, and vbat into production. The only current station that is using these values is GLRCMET. Maybe a good station to test the data back fill? I attached a spreadsheet with stations that use the new tags.
[NewTags-SRAD_VBAT_MWDIR.xlsx](https://github.com/glos/myglos/files/1740443/NewTags-SRAD_VBAT_MWDIR.xlsx)

[2018-02-20 14:43] kkoch commented on #194
Need to look at how we have been getting corrupted files which then cause the buoys in the portal to not display. Looks like they are satellite data (suspended minerals).  @gcutrell and @cnbrooks to look deeper into this so we can prevent future issues.

[2018-02-20 14:54] kkoch commented on #169
@kknee any reason we can't schedule a dev to production push?

[2018-02-20 15:03] kkoch commented on #87
permalink > https://portal.glos.us/?map=MzkyNTljMjYtNjIxMS00ZThlLTk4YzMtMTczOTdkMTYxNmIyOkhFQ1dGUw%253D%253D&name=HECWFS

@tslawecki still need a redirect from http://data.glos.us/hecwfs/ (or a splash across the tool that it is now incorporated into the portal? with the redirect link?)

[2018-02-20 15:05] #58 closed

[2018-02-20 15:06] kkoch commented on #50
@tslawecki @gcutrell status?

[2018-02-20 16:18] kknee commented on #188
per @cheryldmorse TDS has been updated.  Closing this issue.

[2018-02-20 16:18] #188 closed

[2018-02-20 16:27] kknee commented on #183
@tslawecki @kkoch do we want to use the same legend for the NIC data as they do, see:
http://www.natice.noaa.gov/pub/special/great_lakes/2018/charts/composite_east/el180206color.jpg

[2018-02-20 16:30] kknee commented on #169
@Bobfrat I can't think of a reason not to push, let's do it

[2018-02-20 16:33] kknee commented on #192
@tslawecki  - @gitchrisadams is looking at this.

It's difficult to assess effort until he can test locally with the saleforce endpoint. It hits this endpoint: https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8
Chris has some local code to test, be we don't want to be sending data to  salesforce crm if it will cause issues. Is there a test endpoint?   Also to see if it actually

[2018-02-20 16:37] kknee commented on #139
this is now wrapped into #193

[2018-02-20 16:37] #139 closed

[2018-02-20 16:47] kknee commented on #183
Also, I called both phone numbers listed on the image (http://www.natice.noaa.gov/pub/special/great_lakes/2018/charts/composite_east/el180206color.jpg)to inquire about the units for 'tenths'.  The US number is out of service and the Canadians had no idea what I was talking about...

The way the data is described, seems like it's a concentration, or percent, but I'm not 100% sure.

[2018-02-20 17:18] kkoch commented on #183
I found this > http://www.natice.noaa.gov/products/egg_code.html

Does that help?

[2018-02-20 18:18] ColinNBrooks commented on #183
Does this legend help too: https://coastwatch.glerl.noaa.gov/glsea/cur/glsea_cur.png

[2018-02-20 18:28] ColinNBrooks commented on #194
Do you know which lake those correspond to? I can at least check that they were displaying here properly before sending them over. Knowing they're Suspended Minerals is helpful, but I'm not actually sure what Lake those are...

[2018-02-20 18:31] kkoch commented on #194
@ColinNBrooks if you look up in this thread it seems to be Lake Michigan

[2018-02-20 18:57] kknee commented on #183
ok, according to the 'egg code' seems like tenths is standard for sea ice and what we're looking at is concentration reported in tenths.  Is that the best way to viz for GLOS or do we want to translate to %, similar to the link that @ColinNBrooks provided.

[2018-02-20 21:37] kknee commented on #194
all, it seems that the GLOS buoys are missing again.  @cheryldmorse can you look for and remove corrupt files again.  @gcutrell are you looking into the source of this issue?

[2018-02-21 14:51] kkoch commented on #194
@ColinNBrooks can you also check on your end to see if the Lake Michigan SM is having problems?

[2018-02-21 15:25] cheryldmorse commented on #194
The following corrupt files existed:

Lake Michigan:
 /var/thredds/MTRI-LST/michigan_current_year/converted/4326_201709130825.nc4
/var/thredds/MTRI-LST/michigan_current_year/converted/4326_201707150800.nc4
/var/thredds/MTRI-DOC/michigan/4326_201705051900.nc
/var/thredds/MTRI-DOC/michigan/4326_201708161910.nc
/var/thredds/MTRI-LST/michigan_current_year/converted/4326_201705300750.nc
/var/thredds/MT

[2018-02-21 15:26] kkoch commented on #194
@cheryldmorse do we know the nature of the corruption or are the files just unreadable?

[2018-02-21 15:57] cheryldmorse commented on #194
@kkoch The files are truncated

[2018-02-21 16:57] kknee commented on #178
@kkoch just emailed you a spreadsheet of variables, tests, and test parameters/thresholds.

[2018-02-21 18:26] gcutrell commented on #178
@tslawecki @kknee There is a script running on process1 (/usr/local/glos/obs2nc) that runs on the first day of the month that pulls together the last month of data for each station and places them in an ftp directory as a tar.gz. I'm guessing NCEI has a script to retrieve data from the ftp directory. They must dynamically add new stations and keep track if there is data after each month because I

[2018-02-21 21:01] tslawecki opened #196 "Move to /29 subnet"
Online Tech (rack space provider) wants to know GLOS's IP addresses. I have the following from DNS:

A | 64.9.200.105 | ftp
A | 64.9.200.109 | data, dev
A | 64.9.200.114 | slrfvm
A | 64.9.200.121 | basex, tiles, wms
A | 64.9.200.124 | habs
A | 64.9.208.34 | sos
A | 64.9.208.35 | tds
A | 64.9.208.40 | boaters, newportal, portal

Any others anyone is aware of? Starting with @kknee ...

[2018-02-21 21:08] kkoch commented on #196
Might be in vm-land and moot but I have:
64.9.208.36 | coordinating committee, GLEAM, etc.
64.9.208.34 | geonetwork (which you already have for SOS)

[2018-02-26 16:03] kristinschrader opened #197 "Updated landing page"
Design a GLOS landing page that comes with pre-set views. Users can choose one of those or go into the catalog or map view. Example attached.

[data portal landing page.pdf](https://github.com/glos/myglos/files/1759307/data.portal.landing.page.pdf)

[2018-02-26 18:54] tslawecki commented on #196
OK, we would like to go ahead and move (turns out that it'll be to a /29 subnet. OTC would like us to do this Thursday 3/8, let's talk tomorrow about logistics. I'm thinking @gcutrell can verify IP assignments for each of the machines, and maybe someone at RPS (@kknee, would @cheryldmorse or @benjwadams perhaps be the right people) can think about what we should be scared about. I'm assuming that

[2018-02-28 15:43] kkoch commented on #192
@kknee @gitchrisadams From Kristin: We are trying to get our contact forms to play nice with Salesforce. The one on the portal does not, so I have some code for you to use so it will. Let me know if you have questions, I'll connect you with our Salesforce consultant.  (@kknee I've also forwarded the email to you)

`

<META HTTP-EQUIV="Content-type" CONTENT="text/html; charset=UTF-8">

<form action

[2018-03-01 13:59] kknee commented on #183
@ColinNBrooks @kkoch @tslawecki anyone have an opinion on tenths vs. percent?  We're harvesting the data onto EDS staging, but before we promote to production and put in the portal I'd like to nail down the legend.

[2018-03-01 14:07] ColinNBrooks commented on #183
I like percent categories because I find them easy to interpret. NOAA GLERL uses some categories that I'm used to seeing when interpreting their GLSEA ice mapping product (<10%, 10-39%, 40-69%, 70-89%, 90-99%, 100%) as displayed at https://coastwatch.glerl.noaa.gov/glsea/cur/glsea_cur.png
If we want to try 10% categories to start with, that would work, but I suspect that GLERL is on to something w

[2018-03-01 19:05] kknee opened #198 "Add GLOS Gliders to Portal"
I believe this is wanted as part of the 2018 scope, but @tslawecki or @kkoch please confirm.  I believe the LOE is low, but will come back to you if not.

[2018-03-01 19:08] kkoch commented on #198
I believe so.  I think it came up either in an email or meeting that IOOS was wondering where our gliders were.  And Tad has it on today's DMAC agenda to discuss.

[2018-03-01 19:29] gcutrell commented on #146
@cheryldmorse I have gotten the database ready for current data but I need to get the data on thredds before the buoy season so I can tweak how to ingest and plot the data. Do you see any issue with me adding the test station to the glos harverster?

[2018-03-01 21:53] kknee commented on #194
looks to be an issue again:
Following aggregations are broken:

Missing Time Dimension Error:
http://tds.glos.us/thredds/dodsC/SST/LakeHuronSST-Agg.html
http://tds.glos.us/thredds/dodsC/CHL/LakeMichiganCHL-Agg.html
http://tds.glos.us/thredds/dodsC/CDOM/LakeMichiganCDOM-Agg.html

File is truncated Error:
http://tds.glos.us/thredds/dodsC/SM/LakeMichiganSM-Agg.html

[2018-03-01 22:16] kkoch commented on #194
So maybe the sluggishness we saw was a precursor?  Odd. Is there anything else that runs around the time of dmac meetings that could cause this? Troubleshooting nightmare I know.

[2018-03-02 12:44] cheryldmorse commented on #194
The corrupt file was:
/var/thredds/MTRI-SM/michigan/4326_201708071915.nc

This file was created or modified on March 1@ 17:09

[2018-03-02 12:58] tslawecki commented on #194
Serious q ... what time zone?

-------- Original message --------
From: cheryldmorse <notifications@github.com>
Date: 3/2/18 7:44 AM (GMT-05:00)
To: glos/myglos <myglos@noreply.github.com>
Cc: Tad Slawecki <tslawecki@limno.com>, Mention <mention@noreply.github.com>
Subject: Re: [glos/myglos] nc file corruption (was: GLOS buoys (obs) not displaying on Portal) (#194)

The corrupt file was:
/var/thre

[2018-03-02 13:00] cheryldmorse commented on #194
OK - We are running out of space on process1 while the script to download the MTRI files is running.

[2018-03-01 17:05:50] work on Michigan.zip

/tmp/Michigan/SM/4326_201708071915.nc:  write error (disk full?).  Continue? (y/n/^C)
warning:  /tmp/Michigan/SM/4326_201708071915.nc is probably truncated
[2018-03-01 17:09:29] done on Michigan.zip

 The script downloads a zip file file for each lake an

[2018-03-02 13:38] cheryldmorse commented on #194
More Information.
The disk runs out of space while the script is trying to unzip the file for a lake. The Michigan.zip file is ~ 2.1G and it contains files from as far back as April 2017. The script overwrites the old files every time it runs. Could the zip file be updated to only include new files?
Otherwise we need to free up a substantial amount of space on process1

[2018-03-02 14:18] tslawecki commented on #194
Great sleuthing, Cheryl.

1) We'll add disk space to process1 just because.

2) @ColinNBrooks, @gcutrell - thoughts on how best to switch to incremental update instead of dumping the whole collection each time?

[2018-03-02 18:42] kkoch opened #199 "Issue accessing json from browser"
I don't know if this is related to the existing server space issues but when I try to go to view the json files for the buoys directly from a browser I get no data, just a couple of brackets (e.g., [ ] )

The command I usually use (via Chrome with a json viewer) to see all the buoys is
http://data.glos.us/portal/getObsCatalog.php?providers=glos

I also tried it with one of the direct links to the

[2018-03-02 20:31] cheryldmorse commented on #199
@kkoch - All good now. The tomcat instance on data.glos.us was down so data couldn't be retrieved from the obs database

[2018-03-02 20:34] gcutrell commented on #199
This probably started after the servers were down for maintenance. Same issue as GLCFS. Good to know for the future.

[2018-03-02 20:54] gcutrell commented on #146
@cheryldmorse Any reason the glos harvester is not retrieving data from the "test" station in the uglos_tables.data file? Maybe there is another step at getting data on thredds? Thanks

[2018-03-05 01:24] kknee commented on #158
@kkoch is LimnoTech creating a webpage of Marina's or should we continue to include the PDF in the Boaters tool menu?

[2018-03-05 01:29] kknee commented on #158
also @kkoch  - for adding alerts to the menu...is that a GUI so that users can manage alerts in a single place?  I can't find any reference to what we meant in GH and it's been a while since we discussed.

[2018-03-05 13:00] cheryldmorse commented on #146
@gcutrell - The realtime harvester only picks up current observations. If you want to generate nc files for a previous timeframe then the harvester needs to be run with a different config option. I did that this morning and the data files are now on tds.glos.us

[2018-03-05 13:47] gcutrell commented on #146
@cheryldmorse Good to know! When you say "current" what time frame are you referring too? I'll probably add more observation so the current config option will pick them up next time.

[2018-03-05 13:50] cheryldmorse commented on #146
@gcutrell The automated harvester picks up observations for the current day

[2018-03-05 14:10] gcutrell commented on #194
@tslawecki process1 is actually at 96% capacity now. Not sure what was going on during the buoy season causing the large swings in disk space usage.
![process1](https://user-images.githubusercontent.com/23699668/36979203-be5304ea-2054-11e8-9a5d-9afeb30e9bf4.PNG)

[2018-03-05 15:42] kkoch commented on #158
I'm going to toss the marina webpage question to @tslawecki.  I don't think we ever nailed that down.

I'm pretty sure the alerts was an API (and probably the same as the one you are working on).

[2018-03-05 18:02] kknee commented on #183
GLCFS Ice Concentration is on dev if anyone wants to check it out.  It will go live in the next data catalog update:

![image](https://user-images.githubusercontent.com/196868/36991360-77e95ede-2075-11e8-93bb-c4ad2f7e1a6a.png)

[2018-03-05 18:12] ColinNBrooks commented on #183
Couple of quick things - the legend goes from 0.00 to 1.00 in 0.11 fractions rather than a % legend - do we actually want percent there? If so I'd multiply the values by 100 (and maybe change them to 10% size instead of 0.11).

Also, when I used the virtual buoy function, I got a response that the ice concentration was 0.95 meters... wrong units!

![image](https://user-images.githubusercontent.com

[2018-03-05 19:17] tslawecki commented on #196
The attached spreadsheet has an updated list of moves - it includes Kathy's GLEAM/CC addition, and also adds some details - namely which ifcfg file needs to be updated. Open questions both for RPS and LTI-IT (cc'd externally) - (1) can we leave the internal IPs (192.168.x) as is? and (2) what should DNS be set to? Also, we should review all /etc/hosts files as we update, and also on the helper VMs

[2018-03-05 20:11] gcutrell commented on #146
@cheryldmorse Do I just need to add the new parameters in the harvest_glos 'get_var_standard_name' definition for the harvester to pick up the new parameters?

[2018-03-06 12:55] cheryldmorse commented on #146
@gcutrell - Can you provide the new parameter names, the corresponding standard names and a description of the parameter?

[2018-03-06 14:07] #199 closed

[2018-03-06 14:29] tslawecki commented on #196
List updated again to include missing new external IPs ...

[glos_ipswap-20180306-1.xlsx](https://github.com/glos/myglos/files/1785347/glos_ipswap-20180306-1.xlsx)

![image](https://user-images.githubusercontent.com/5224254/37037486-67531398-2120-11e8-903a-21822a836516.png)

[2018-03-06 14:42] tslawecki opened #200 ""Data matures like wine, applications like fish""
Almost totally off topic, ran across while here so am sharing ...

*In my last post touching on my case for Data Engineers, my friend Greg Rahn provided a humorous quote about data from Andy Todd:*

*“Data matures like wine, applications like fish”*

  .
  .
  .

*In this post, though, I’d like to address some of the humor behind the quote — the implication that data gets better as it ages, while

[2018-03-06 14:45] kkoch commented on #196
How is this going to affect logins and access?

[2018-03-06 14:58] Bobfrat commented on #196
it shouldn't affect logins because the user management database lives next to the UI

[2018-03-06 15:25] tslawecki commented on #196
@kknee, @Bobfrat - we may need to refresh firewall rules ... please provide IP range to open up on firewall for your access.

[2018-03-06 15:25] tslawecki commented on #196
We have tentatively scheduled cutover to start at 9:30 AM Thursday. Please put up a notice on portal.

[2018-03-06 15:47] kkoch commented on #200
I particularly like this statement: "There’s a balance to be struck in keeping data fresh and usable — it doesn’t just get better with age, but rather needs to be continually assessed against **use cases** in order to keep it useful."

I'm sure the relevance of which could be discussed in our analytics discussions.

[2018-03-06 15:51] kkoch commented on #194
@kknee  Just noticed that buoys are not showing on dev (so far they are still on main portal).  Just checking in case this is the same issue and a possible precursor to portal issue(s).

[2018-03-06 19:44] tslawecki opened #201 "Canadian water levels stuck in 2016?"
It looks like the harvest of Canadian water levels stopped in 2016 - last date clicking around at random is 12/30/2016. @gcutrell or may @cheryldmorse  could one of you look to see if this is process-stopped-and-never-restarted or format-changed-and-harvest-is-crashing? I'm not sure if this was implemented by Guan or RPS, maybe @kknee knows?

[2018-03-06 19:51] devrap opened #202 "Additional event tracking needs (and clarification)"
After a good discussion on tracking user interactivity goals and the overall need to capture where our users drop off/abandon interaction, we have some follow-up questions. @Bobfrat, can you clarify the following?

1) As far as I can tell, there doesn't seem to be an event action defined for the "Find on Map" button (linked with Add to Map from catalog search results), and we'd like to track this.

[2018-03-06 19:54] kkoch commented on #201
You had brought up in an email Nov of 2016 (pre github time) that data was frozen at 10/1/2016.  My research at the time shows that they (meaning Canadia) had a notice on their page "Service Interruption... GL Water Levels is currently unavailable...."  I do not have any follow on emails after that so I'm assuming they had a website change and we did not pick up on that after they came back online

[2018-03-06 20:05] devrap opened #203 "Change navigation from Catalog/Map to show only "Switch to X view"?"
Hi, all.

We've only been tracking Portal users' top navigation choices for a few days, but so far the results are alarming. It looks like the # one action people are taking so far is to click on the Catalog button from the Catalog page--53 went through and 58 dropped off, likely after seeing nothing change.  We can track this for longer, but this seems to be a red flag that our navigation needs i

[2018-03-06 20:24] kkoch commented on #202
We probably need a LOE here @kknee

[2018-03-06 20:34] kkoch commented on #201
http://www.tides.gc.ca/eng/find/region/6

[2018-03-07 15:07] kkoch opened #204 "Video tutorials"
What happened to the YouTube videos/tutorials in the Data Portal hamburger menu? I'm not sure when they went away (or if it was on purpose and I just missed that somehow) but I just noticed the link wasn't there after telling someone we have tutorials.

![image](https://user-images.githubusercontent.com/6392982/37099588-af1d285c-21ee-11e8-82c1-f256e103a9ba.png)

[2018-03-07 17:34] gcutrell commented on #146
@cheryldmorse
WTSPDE: Easterly Water Current, East/West Component of Water Current
WTSPDN: Northerly Water Current, North/South Component of Water Current
MXWVHT: Max Wave Height, Maximum Wave Height

Although both WTSPDE and WTSPDN have corresponding depths (like water temp) the parameters are actually part of a 3-dimensional array (x,y,time). They way the netcdf files are set up I guess both par

[2018-03-07 17:44] cheryldmorse commented on #146
@gcutrell - I'm not seeing those standard names in the [standard names table](http://cfconventions.org/Data/cf-standard-names/49/build/cf-standard-name-table.html)

@kknee - sounds like the netCDF harvesters will need to be updated to deal with the new parameters being 3 dimensional

[2018-03-07 18:49] gcutrell commented on #146
@cheryldmorse Thanks for pointing out the standard names table.
WTSPDE: eastward_sea_water_velocity, "A velocity is a vector quantity. "Eastward" indicates a vector component which is positive when directed eastward (negative westward)."
WTSPDN: northward_sea_water_velocity, "A velocity is a vector quantity. "Northward" indicates a vector component which is positive when directed northward (negati

[2018-03-07 19:01] hellocomrade commented on #146
@gcutrell

I thought GLOS is not using that old PG obs database anymore?

[2018-03-07 19:14] kkoch opened #205 "Portal refresh?"
Added metadata at 9am and still don't see it in production portal (2pm).  Do we need someone to kick something?

Also can't test to be sure it isn't something I've erred on my end because Dev isn't showing buoys either (which is usually where I go if things aren't showing up - because if things are done right in GN, it will show there first).

[2018-03-07 19:16] kkoch commented on #146
@hellocomrade wishful thinking (we are still testing using the direct netCDF files)

[2018-03-07 19:21] hellocomrade commented on #146
@cheryldmorse is right, I probably did say that before to her coz the old database only supports up to 2 dimensions.

Directly serving through NetCDF as data stream is great as long as there is no query/filtering involved.

[2018-03-07 19:21] hellocomrade commented on #146
@kkoch

Good luck with your testing and let me know if anything I can be useful.

[2018-03-07 19:58] gcutrell commented on #146
@cheryldmorse Just realized a typo above when I said "Although both WTSPDE and WTSPDN have corresponding depths (like water temp) the parameters are actually part of a 3-dimensional array (x,y,time)." It should be x,y,z (depth) not time.

[2018-03-07 20:31] tslawecki commented on #196
Final (?) assignments:

![image](https://user-images.githubusercontent.com/5224254/37116501-80209d26-221c-11e8-8626-53d1c1820a5d.png)

[glos_ipswap-20180307.xlsx](https://github.com/glos/myglos/files/1790752/glos_ipswap-20180307.xlsx)

[2018-03-08 15:53] gcutrell commented on #146
@cheryldmorse @kknee Do you have an ETA for providing the water currents with respect to depth? I didn't think about being able to provide a netcdf with multi-dimensions. This should be the only measured parameter like this in the future if this would take a significant amount of time. Also only five buoys measure this. Would it be incorrect to provide each current component with depth like the te

[2018-03-08 15:55] hellocomrade commented on #146
@cheryldmorse

I wonder how you do thermal string in netcdf? That's a multi-dimension structure as well?

[2018-03-08 17:37] tslawecki commented on #196
We're physically switched, slowly working our way towards getting individual machines and products working. @cheryldmorse, could you look at THREDDS server please? It's up and pingable, THREDDS service is running, ifconfig shows new address (64.9.201.71), but it refuses to connect from browser. @kknee copied FYI.

This is also good to confirm you can ssh to new IPs ...

[2018-03-08 18:24] tslawecki commented on #196
I'm not sure that the myglos and boaters docker containers are properly restarting. Symptom is http://boaters.glos.us reports a 404, which I'm thinking may be because the docker couldn't start correctly because of data issues upstream (e.g. on a different GLOS server). @Bobfrat or @benjwadams, any thoughts?

http://portal.glos.us still points to maintenance page for now.

@kknee copied FYI

[2018-03-08 18:28] cheryldmorse commented on #196
@tslawecki - I'm not able to ssh into tds.glos.us

[2018-03-08 18:40] tslawecki commented on #196
I assume you were previously able to? Can you provide the IP address range you'd be coming in from and I'll see how quickly the hosting center can turn around the request?

________________________________
From: cheryldmorse <notifications@github.com>
Sent: Thursday, March 8, 2018 1:28 PM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Move to /29 subnet (#196)

@tslawecki<htt

[2018-03-08 18:43] Bobfrat commented on #196
I cant ssh into portal.glos.us either

[2018-03-08 18:45] Bobfrat commented on #196
i take it back, when I use the new IP instead of portal.glos.us I can get in

[2018-03-08 18:55] tslawecki commented on #196
@cheryldmorse, maybe try direct to 64.9.201.71?

[2018-03-08 18:58] cheryldmorse commented on #196
@tslawecki - That is what I was using and the connection times out. IP is  184.180.13.92

[2018-03-08 19:06] tslawecki commented on #196
@cheryldmorse - not sure why tds is rejecting us from outside, rules look good. But I can ssh from portal (64.9.201.72) to .71. Do you have credentials for that one? If not, maybe @Bobfrat can set you up (trying to avoid sending passwords)

[2018-03-08 19:19] tslawecki commented on #196
@cheryldmorse - Alternately, you can RDP to 64.9.201.73, Windows server if you have credentials.

[2018-03-08 19:23] tslawecki commented on #196
@cheryldmorse - I take that back about rules, not 100% sure of what I'm looking that but this is in iptables -S ...

-A BLACKLIST -s 184.180.13.92/32 -j DROP

Not sure why that's in there ...

[2018-03-08 19:36] benjwadams commented on #196
Are you running fail2ban or similar?  Some programs will add IP addresses to a blacklist after a certain number of failed attempts.  i.e. `pgrep -fl fail2ban`

[2018-03-08 20:07] Bobfrat commented on #203
Very interesting and good to know. I like the idea of only showing Switch to Map View when on the catalog and vice versa.

[2018-03-08 20:28] cheryldmorse commented on #196
@tslawecki - still no luck logging in. My connection to RDP fails. I can get on to portal.glos.us but the password that I have for glosea is not working. Any luck removing our network from the blacklist?

[2018-03-08 20:35] tslawecki commented on #196
@cheryldmorse - I did a couple of iptable DROP commands to get rid of all BLACKLIST entries, try again?

[2018-03-08 20:38] Bobfrat commented on #196
The docker containers on portal.glos.us weren't starting correctly because the system time was not synced correctly. I had to sync the time using ntpdate pool.ntp.org in order to fetch resources from S3. This is the same issue we had on Dec 23.

It's up and running here:
https://64.9.201.72/

Boaters tool is up too:
https://boaters.glos.us/

[2018-03-08 20:51] tslawecki commented on #196
Thanks, @Bobfrat! I'm guessing Boaters' Tool isn't showing models in legend because TDS isn't working right yet??

[2018-03-08 21:01] cheryldmorse commented on #196
@tslawecki Can give access to this IP: 216.65.201.140

[2018-03-08 21:08] tslawecki commented on #196
@cheryldmorse - give it a shot, added

ACCEPT     tcp  --  216.65.201.140       anywhere            tcp dpt:ssh

[2018-03-08 21:09] tslawecki commented on #196
@cheryldmorse - BTW, buoys are missing again in portal, I'm guessing the MTRI harvest messed us up again. Can @gcutrell help clean this up?

[2018-03-08 21:23] tslawecki commented on #196
@cheryldmorse - I'm guessing you *won't* be able to get in from your 216 IP address, we'd have to add the rule to the firewall. I've instead reset the password for glosea on myglos (.72) to the same as for tds.glos.us.

[2018-03-08 21:25] cheryldmorse commented on #196
@tslawecki - I was able to get in from another server

[2018-03-08 21:57] cheryldmorse commented on #196
@tslawecki - TDS is back up. The configuration for nginx had to be updated

[2018-03-08 22:07] gcutrell commented on #196
Thanks Cheryl. I'll be away from a computer for a bit longer. Could you remove the corrupted file?

Get Outlook for Android<https://aka.ms/ghei36>

From: cheryldmorse
Sent: Thursday, March 8, 4:25 PM
Subject: Re: [glos/myglos] Move to /29 subnet (#196)
To: glos/myglos
Cc: Greg Cutrell, Mention

@tslawecki<https://github.com/tslawecki> - I was able to get in from another server
-
You are receiving

[2018-03-08 22:22] tslawecki commented on #196
Thanks, @cheryldmorse! I should have looked a little harder and found nginx under /usr/local instead of /etc.

[2018-03-09 01:27] cheryldmorse commented on #194
@gcutrell @tslawecki - I cleaned up the corrupt MTRI files again. We really need to get more disk space on process1 to keep this from happening again

[2018-03-09 13:21] ColinNBrooks commented on #194
Thanks Cheryl for the comment - I don't think I'd understand that our files getting corrupt was due to a disk space issue on process1.

[2018-03-09 13:33] gcutrell commented on #194
@ColinNBrooks While we need to add more disk space on process1 this disk space error is being triggered because the files that are being downloaded from you contain data as far back as almost a year ago. Cheryl provided an example that Michigan.zip file is ~ 2.1G and it contains files from as far back as April 2017. The script overwrites the old files every time it runs. Could the zip file be upda

[2018-03-09 14:10] kkoch commented on #194
And buoys are gone again (still?) this morn.  @cheryldmorse @gcutrell

[2018-03-09 14:15] ColinNBrooks commented on #194
@gcutrell That should be possible (only posting new files): I'll talk with my technical support staff about that. We have do reprocess older files sometimes, so there could sometimes be a reason to re-post an entire year's worth, but most of the time only a smaller (newer) subset is needed.

One thing that may help is that we don't usually post any new files during the remote sensing "off-season"

[2018-03-09 14:18] cheryldmorse commented on #194
@tslawecki @kknee - Should we turn off the MTRI harvest script until either more space is added to process1 or the .zip files are updated to only include new data? Otherwise, this will keep happening

[2018-03-09 14:27] tslawecki commented on #194
Yes, let's turn off the harvest for now.

________________________________
From: cheryldmorse <notifications@github.com>
Sent: Friday, March 9, 2018 9:18 AM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] nc file corruption (was: GLOS buoys (obs) not displaying on Portal) (#194)

@tslawecki<https://github.com/tslawecki> @kknee<https://github.com/kknee> - Should we turn off the

[2018-03-09 15:02] cheryldmorse commented on #194
Files have been cleaned up again
MTRI harvest script has been turned off. Turn it back on via the crontab for glosea on process1

[2018-03-09 21:13] tslawecki commented on #196
I think we're done here.

[2018-03-09 21:13] #196 closed

[2018-03-09 21:16] tslawecki opened #206 "myglos user management"
Kelli Paige would like other products (Boaters' View, Great Lakes Buoys, etc.) use myglos user IDs to better track users across products. How can we best do this? Is there an API available or needed that allows authentication against myGLOS outside of the main portal?

I'm guessing that @Bobfrat or @kknee are best able to answer, maybe chat about this next call? Or sooner?

[2018-03-10 00:41] devrap commented on #206
Right now, these are technically trackable in GA in the "User ID View for all glos.us products" view, which specifically only tracks logged-in user activity. This is currently only applicable for Boaters, because boaters.glos.us is using this universal glos.us property and greatlakesbuoys.org, having its own domain, is using its own unique property (on the glos.us account).

I do think we could ad

[2018-03-12 13:47] cheryldmorse commented on #146
@gcutrell - Are the depths that the currents are reported at consistent over time? If so, we could add a z dimension and add just one new variable to the netCDF files.

[2018-03-12 14:02] gcutrell commented on #146
@cheryldmorse In theory they shouldn't change but I can't promise they would never change. Given there are only a few stations (Limnotech has two) I would assume they won't change. How would the one new variable contain the x and y dimension?

[2018-03-12 14:04] tslawecki commented on #194
And ... it's happened again? Is there a rogue process?

Cheryl, is it the tmpfs filesystem that needs to be extended?

[2018-03-12 14:18] cheryldmorse commented on #194
There aren't any corrupt MTRI files. It must be another catalog?

It's '/' that needs to be extended

[2018-03-12 14:30] cheryldmorse commented on #146
@gcutrell - is this a profile at a specific station or gridded output? Can you show me some example data?

[2018-03-12 15:08] gcutrell commented on #146
@cheryldmorse The data are presented as a profile at a specific station.  Here is how the data is sent in:
     <dv001>0.5</dv001>
     <uv001>-11.78965</uv001>
      <vv001>-0.4941349</vv001>
      <dv002>1</dv002>
      <uv002>-11.17963</uv002>
      <vv002>-4.884262</vv002>
      <dv003>1.5</dv003>
      <uv003>-5.343738</uv003>
      <vv003>-7.117194</vv003>
      <dv004>2</dv004>
      <uv004

[2018-03-12 15:17] cheryldmorse commented on #146
@gcutrell - ok, that is what I thought. The x, y don't need to be a dimension on the variable - they are separate variables in the nc file. The 3d variables will have the following structure: WTSPDE(time, z). We could also update the thermistor string variables to have the same (time,z) structure so we only have one variable as opposed to one for each depth.

[2018-03-12 15:27] gcutrell commented on #194
@cheryldmorse Can you confirm that everything was working correctly Friday? Just trying to narrow down the time the issue might have arose.

[2018-03-12 15:38] gcutrell commented on #146
@cheryldmorse Maybe we can start with just the current first as a 3d variable? I know glbuoys relies on the current thermistor string output. Not sure off hand how much work it would take to make the changes until getting the currents retrieval worked out.

[2018-03-13 18:56] kkoch commented on #194
@gcutrell  If you look at the timestamps on the messages in this ticket, I noticed the missing buoys Friday morning at about 9am.  So it was before then.

Consider this a grump > We really need to figure this out sooner than ASAP.

@cheryldmorse > @tslawecki would like to know which logfiles you are checking to determine the corruption.

[2018-03-13 21:44] cheryldmorse commented on #194
@kkoch, @tslawecki I wasn't looking at a log file. I was simply using ncdump to see if each file in a directory was valid. You can script the search and pipe errors to a log file.

[2018-03-14 17:14] tslawecki commented on #194
@cheryldmorse - Worrisome: I've checked the last 14 days of /var/thredds/*/*.nc files and found no errors using a bunch of commands like the following:

`find ./Buoy_Data   -mtime -14 -name *.nc -exec /home/lcampbell/netcdf-4.3.3.1/ncdump/ncdump -h   {} \;  > ~/Buoy_Data | grep -i error`

I've started the same check for the entire collection, but it'll take a while ... any thoughts on how to narro

[2018-03-15 14:33] kknee commented on #194
@tslawecki discrepancies between production and dev are usually related to the timing of a catalog refresh.  Right now neither is showing the buoys.  This was first noticed on 3/8, the day of the IP switch.  Any thoughts whether it could be related to that?

[2018-03-15 14:44] kknee commented on #205
@kkoch what did you add metadata to?  Assuming you still can't test since buoys are still not available?

[2018-03-15 14:48] tslawecki commented on #194
I can certainly believe that. Does either dev or production show a specific error message that confirms a catalog issue?

[2018-03-15 15:05] Bobfrat commented on #194
Looks like the catalog is bombing with the same error message from https://github.com/glos/myglos/issues/184

[2018-03-15 16:16] Bobfrat commented on #194
Interestingly enough, when I roll back to an older version of OWSLib to parse the CSW, it doesn't error out. I'll do some more testing to see if there are other side effects of rolling back and if not, I'll push this up to dev.

[2018-03-15 17:37] kknee commented on #198
Gliders are appearing on the portal!

![image](https://user-images.githubusercontent.com/196868/37480665-33834c76-2856-11e8-830f-94fb6e88a809.png)

[2018-03-15 17:37] #198 closed

[2018-03-15 17:42] kknee commented on #197
love this idea - many portals going this way, e.g:

https://www.northeastoceandata.org/

[2018-03-15 17:43] kknee commented on #195
low LOE, so this is on dev now

[2018-03-15 17:45] kristinschrader commented on #197
Squeal! Seriously I am updating adwords, and I'd much prefer to send people
to this than just the portal. I can send them to the web page, but it's not
necessarily true to the click through. Especially if I can send them *to*
one of those views. I'm not sure if we would generate a seperate address or
not.

Kristin Schrader
Great Lakes Observing System
734-741-2294
glos.us <http://www.glos.us>

Lik

[2018-03-15 17:47] kknee commented on #193
This is all set.  @kkoch did you put the documentation on the GLOS wiki?  Also here are the answers to Tad's questions, good to document these somewhere too:

1) How often do we check?
 - Hourly

2) For buoys, we check the most recent value?
 - The most recent obs within the last 24 hours

3) For models, we check the most recent forecast and look at now through now + 12 hours?
 Yes

4) What is the

[2018-03-15 17:47] #193 closed

[2018-03-15 17:55] kkoch commented on #205
It was an addition to the new Lorain sonde.  And obviously when I submitted the ticket there "were" stations.  So guess we just need to wait.

[2018-03-15 17:59] kkoch commented on #193
@kknee I have not re: the Wiki other than an empty page/placeholder.  So... I can copy above. Is there any other documentation?

[2018-03-15 18:30] kknee commented on #192
This is working on dev.

[2018-03-15 19:23] Bobfrat commented on #205
Is it on the dev site now? Buoys are back on dev. I can push to production if we're happy.

http://dev.oceansmap.com/myglos/

[2018-03-15 19:43] kkoch commented on #205
Yep. Looks good. Make it so...

[2018-03-15 21:03] tslawecki commented on #201
Ingest is working again, problem was a new year directory (2018) needed to be created under each station. We will probably backfill what we can (back to 10/2017).  Three additional steps needed:

 1 - correct Little Currents location, currently in Wisconsin/Michigan

 2- Check that our list of stations is current (see below)

 3- Verify current station data are showing correctly (checked)

- [x] 1

[2018-03-15 21:14] tslawecki commented on #201
Let's also change the referenced URL to http://tides.gc.ca/eng/find/region/6

[2018-03-16 12:29] kknee commented on #194
OWSLib version rolled back and buoys are back.

[2018-03-16 13:23] #205 closed

[2018-03-16 13:24] kkoch commented on #204
I see tutorials on dev but not portal

[2018-03-16 13:30] kkoch opened #207 "MTRI Satelite products not showing correct bounding boxes (was: MTRI switch to weekly zip (April 15))"
Action items May 1

- [ ] @ColinNBrooks "poke" to do his tasks to make the weekly vs. full load take effect

- [x] @kknee (RPS) to turn back on MTRI updates

- [ ] test to be sure portal (OWS) is behaving

[2018-03-16 14:09] kkoch commented on #201
All items checked and most displaying in portal.  There are two odd ones: 10750 and 11690, so obviously data still showing as 2016 in portal. @tslawecki the TDS records look incomplete.

@kknee the above referenced URL by Tad (for external links "Canadian Water Levels Gauging Stations" will need to be assigned and changed on your end since we don't use the GN record for the collection.  (NOTE: I h

[2018-03-16 14:21] ColinNBrooks commented on #207
Thanks; let's touch base around April 15th on this.

[2018-03-16 14:37] ColinNBrooks commented on #197
I agree - I think we need a "friendlier" entry page for the data portal,
which should help with user engagement & sending them to what they may be
looking for. The Northeast portal seems promising. - Colin

On Mar 15, 2018 1:42 PM, "Kelly Knee" <notifications@github.com> wrote:

love this idea - many portals going this way, e.g:

https://www.northeastoceandata.org/

—
You are receiving this becaus

[2018-03-16 14:48] kkoch commented on #197
I really like that northeast website.  It is very user friendly and has all the possibilities on the front page.

[2018-03-16 17:36] cheryldmorse commented on #146
@gcutrell - [Here](http://tds.glos.us/thredds/catalog/buoy_agg_standard/test/catalog.html) is an example aggregation for the 3D data. The harvester that is creating the new files hasn't been setup to automatically run yet so when you have more test data let me know and I can kick it off. I'll get the updated harvesters running on process1 next week.

[2018-03-19 13:00] gcutrell commented on #146
Thanks @cheryldmorse . Is the data you posted only supposed to contain one time? I know the test table has many time records with ADCP data even though the current speeds are all the same.

[2018-03-19 13:29] cheryldmorse commented on #146
@gcutrell There are 12 times in the dataset: http://tds.glos.us/thredds/dodsC/buoy_agg_standard/test/test_profile.ncml.ascii

[2018-03-19 13:37] gcutrell commented on #146
@cheryldmorse I see thanks. I was not selecting all the times and depths available in OPeNDAP.

[2018-03-20 14:11] gcutrell commented on #146
@cheryldmorse I set up a script yesterday afternoon for the test buoy to send data every 10 minutes so we can have data comparable to reality.

[2018-03-20 17:00] tslawecki commented on #206
Here's the draft use case:

GLOS would like to allow users to log in to many (all?) products so that we can tie specific users to particular product uses, and, where approriate, to restrict access to certain "member-only" features. So, here's my first cut at desired functionality:

1. Log in - product gets user ID and password from user and passes it to API. API returns false/null (no user/passwor

[2018-03-20 17:44] kkoch commented on #206
My two cents on permalinks is just that is how they work now. Must have user ID to create but can share with anyone.  So we would want (I believe) to either keep that functionality ...or... we would want a way for super users (e.g., dmac) to create permalinks that could be shared.

[2018-03-20 18:05] cheryldmorse commented on #146
@gcutrell The new harvester is running on process1. It is setup to run  hourly right now. You can change the time in the cron if you need it to harvest more frequently

[2018-03-22 12:32] kkoch commented on #169
I think we might have lost some things when we rolled back OWS?  MTRI HABs shows on a search Dev but not production Portal.  HOWEVER, it also doesn't seem to do anything so maybe an effect of turning off MTRI that we didn't consider.  We probably want to add this to our revisitation of MTRI things on May 1.

[2018-03-22 12:36] kkoch commented on #100
Closing this.  I think the zoom is fine at present. We can revisit later if we decide otherwise.

[2018-03-22 12:36] #100 closed

[2018-03-22 18:31] ColinNBrooks commented on #207
I'm somebody now, I can have issues assigned to me!

[2018-03-23 01:51] kknee commented on #202
@devrap @kkoch, estimate from @gitchrisadams follows:

1. Confirmed 'Find on Map' is not tracked.  Probably only an hour or two to add
2. Confirmed that 'Find on Map' would not be double-counted if we implemented No. 1, but would need a couple hours to fully document how 'Mapped' works
3. This would be 2-4 hours to implement, depending on how many places the links need to be tracked + testing

[2018-03-26 20:03] tslawecki commented on #206
So reading a bit more online, it looks like cookies + OAuth is a common solution ... would that fit with both OceansMap (@kknee?) and the download tool (@tredder75) ?

[2018-03-27 01:02] kknee commented on #206
@tslawecki we could implement OAuth for Oceansmap but it's not trivial.

[2018-03-27 13:41] gcutrell commented on #134
I don't think the amount of effort needed to fill two days is worth while. It would be worth while at some point to create a script that will pull from csv files and insert into the database. But that is a future topic to bring up.

[2018-03-28 12:59] gcutrell opened #208 "Cross-domain access for GLOS Alerts?"
@kknee and @tslawecki. I've set up buoy alerts on the dev GLBuoys and it works with the exception of not being able to POST data to http://dev.oceansmap.com/myglos/api/alert because of sending data across domains. I'm able to test the POST by enabling CORS on my browser and everything works.  I'm wondering if the easiest way around this is to enable CORS just for the glbuoys domain on the server h

[2018-03-28 14:52] tslawecki commented on #206
@kknee, is OAuth necessary? I pulled it out of some dubiously quick web skimming. I expect it's more than sufficient for the use case [above](https://github.com/glos/myglos/issues/206#issuecomment-374676059), is it necessary?

[2018-03-28 16:30] kknee commented on #169
@kkoch we'll look into what's happening on production.  It does do something on dev, check out Lake Erie.

[2018-03-28 16:38] kkoch opened #209 "PI Metadata Review"
Create annual metadata review for GLOS data providers.  Send to the primary point of contact as we have it in GN. Should be sent (and hopefully received back) prior to buoy launch season.  This is the first time this has been done but should be repeated on an annual basis.  We also will be asking for QAQC data which wasn't required back when we created metadata records in GN.

Text of 2018 message

[2018-03-28 16:40] kkoch commented on #209
Emails have been sent to (check off when returned):

- [x] Jeff Houghton,
- [ ] Hans VanSumeren,
- [ ] Russ Miller,
- [ ] Jamey Anderson,
- [ ] Ed Verhamme,
- [ ] Jay Austin,
- [ ] Ron Muzzi,
- [ ] Jeanette Schnars,
- [ ] Jay Beugly,
- [x] John Lenters,
- [ ] Mike Satchwell,
- [ ] Ryan Mototsune
- [x] George S. Bullerjahn

[2018-03-28 16:56] kknee commented on #206
@tslawecki, OAuth is probably not necessary.  @Bobfrat will join tomorrow's call and discuss how our user mgmt works now and whether it's worth exploring using it in GL buoys.

[2018-03-28 17:28] Bobfrat commented on #208
@gcutrell I just enabled CORS for dev.oceansmap.com/myglos, can you try again?

[2018-03-28 17:44] kkoch commented on #202
@devrap @tslawecki Need a make it so or more discussion?

[2018-03-28 17:45] kkoch commented on #192
Message to Kristin & Becky to see if we are good to close this.

[2018-03-28 17:45] kkoch commented on #204
They're baaack.

[2018-03-28 17:45] #204 closed

[2018-03-28 17:48] kkoch commented on #161
@tslawecki RPS says high level of effort for low return....  Apparently it is a universal thing versus just something that can be changed for this one model.  So your call >  Do we live with the annoyance, do we remove the layer, do we spend the $ to fix?

[2018-03-28 17:49] kkoch commented on #192
From Becky >the leads are getting populated from the portal, the glbuoy feedback form and the general web contract form.  So, it looks like you can close the issue in github.

[2018-03-28 17:49] #192 closed

[2018-03-28 17:58] devrap commented on #202
I think we need to make all 3 so to more accurately track what Becky and Sneha are looking for. @tslawecki , do you approve the work?

[2018-03-28 20:23] gcutrell commented on #208
@Bobfrat Thanks Bob. I'm getting an internal server error 'POST http://dev.oceansmap.com/myglos/api/alert 500 (INTERNAL SERVER ERROR)' but it could just be because 'Failed to load http://dev.oceansmap.com/myglos/api/alert: No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://dev.glos.us' is therefore not allowed access. The response had HTTP status code 500.

[2018-03-29 12:22] kknee commented on #201
@kkoch can you confirm the GN link for this layer?  The one we have is throwing an error:
http://data.glos.us/metadata/srv/eng/main.home?uuid=9b0556ed-689b-4ba0-95de-8882680d8e77

[2018-03-29 14:03] kknee commented on #158
@kkoch everything is on dev with the exception of the zooming issue.  I can only reproduce for the Lake Ontario stations.  Do you see this happening with any other lake?

[2018-03-29 14:59] kkoch commented on #201
Well I'm a little freaked out because that record is missing from GN. And I haven't deleted anything and I was looking at it a couple days ago. I will investigate.

[2018-03-29 15:48] kkoch commented on #201
@tslawecki @gcutrell can you check the GN25 server?  I'm puzzled on this one and the error logs I can read don't tell me much (but they might you). Log directory is /var/lib/tomcat/applications/geonetwork/logs

I'm somewhat concerned that we have a corrupted file but also we've seen this before when the server filled up.  The catalina-daemon.out log is ginormous ....

![image](https://user-images.

[2018-03-29 16:35] gcutrell commented on #201
I cleared the catalina-daemon.out a couple months ago so it might look big but there is still plenty of space on the server. Luke suggested logrotate. I think there are a few log files that need that across GLOS's servers.

I found a little more information in localhost log on the error but not sure what it means.
'org.apache.catalina.core.StandardWrapperValve invoke
SEVERE: Servlet.service() for

[2018-03-29 17:01] kkoch commented on #201
Well I was hoping.  I'm going to go see if I can find the record in my backups.  I'm not sure when the error happened but I'm guessing it would be in yesterday's log as well.  I believe it was in a good state 2 weeks ago.

See attached for text of the error that happens when you go to the url. Looks like its giving an access error (but I can get to other GN records just fine) ???

[canadian_errorm

[2018-03-29 19:13] kknee commented on #194
latest round of files that are having an issue from @cheryldmorse

There were a bunch of 0 length HECWFS files that were causing issues:
forecast/201800212.hec_forcing.nc
forecast/201800212.nc
forecast/201736300.hec_forcing.nc
forecast/201736312.hec_forcing.nc
forecast/201736300.nc
forecast/201735400.hec_forcing.nc
forecast/201736312.nc
forecast/201735400.nc

[2018-03-29 20:00] kknee commented on #208
@gcutrell I assigned this to our devops engineer so that @Bobfrat can focus on other issues.  Will be back to you as soon as we know more.

[2018-03-30 13:43] andrewjosephides commented on #208
@gcutrell The request needs to have a body content type of application/json. Looks like it's coming through as form data.

[2018-03-30 14:47] kkoch commented on #158
Tests:
1) issue where I decided to not save my alert and instead of closing the box with the 'x', I clicked elsewhere on the map. Note that it kept the options box (plopped it at the top of the screen).
         Alternate annoyance that when I did that click off the data box and clicked elsewhere in the map, I kept getting a bunch of virtual buoys. We may want to rethink the virtual buoy automatic

[2018-04-01 10:33] gcutrell commented on #208
@andrewjosephides Thanks. I've included the correct content type but now it is throwing a preflight request error and shows I'm sending an OPTIONS request. I found a similar issue at https://stackoverflow.com/questions/12320467/jquery-cors-content-type-options where I think you just need to enable preflight request?

[2018-04-02 14:51] kknee commented on #158
@kkoch thanks!

1. That's a bug, we'll squash it
2. To reset your alert, click on the alert itself in the 'Administer' window, that will bring you back to the buoy pop-up.  I explained the workflow on a couple different calls, but hard to understand until you see it yourself
3. Will take a closer look at this one and try to reproduce
4. @Bobfrat are we sending emails from dev?
5. huh...i get it co

[2018-04-02 14:53] kknee commented on #158
@kkoch for 2. above...we could add more text above the list of alerts? So that there is more than just the "Manage..." for each line?

[2018-04-03 16:07] Bobfrat commented on #208
Ok I think we're good now, I added Access-Control-Allow-Headers header to OPTIONS response.

[2018-04-03 16:30] gcutrell commented on #208
Thanks Bob. All is working now. I'll close this issue.

[2018-04-03 19:19] kkoch commented on #146
In terms of parameters missing (besides the mid-depth nodes and benthic sensors), here is a list of the sensors on our buoys that aren’t currently listed in the data portal when searching them up on the map.

@gcutrell
These are the parameters MOECC wants added (and changed) for the Portal >
Western Lake Ontario 1 : current (direction and speed), chlorophyll fluorescence, and turbidity is mislabel

[2018-04-04 14:38] gcutrell commented on #146
@kkoch Ed suggest having @tslawecki talk to Becky about this request and ask other experts on if chlorophyll flourescence and phycocyanin values have any meaning. That being is GLOS a personal database for a user or only ingest standard data across the Great Lakes? I didn't realize these were more 'researchey' than measured standard values like turbidity or current. It would be great to have some

[2018-04-04 15:47] kkoch commented on #201
Okay. the metadata record reappeared ????  I did nothing.  Thoughts? @gcutrell @cheryldmorse @kknee

[2018-04-04 16:09] kkoch opened #210 "GLCFS Thredds error on downloading"
Greg Lang (NOAA) reports the following issue. I was able to duplicate. It works, or seems to work with just lat/lon/time but add in the wvh and it chokes.

http://tds.glos.us/thredds/dodsC/glos/glcfs/archiveall/huron/ncfmrc-2d/files/2016/h201600100.out1.nc.ascii?lat[0:1:187][0:1:200],lon[0:1:187][0:1:200],time[0:1:1199],wvh[0:1:1199][0:1:187][0:1:200] >

"When I select lat,lon,time,wvh and "Get As

[2018-04-04 16:50] kkoch opened #211 "2 new UWM buoys"
Belated add to issues just to keep track (this is completed as of 4/4)

Per Jeff Houghton, add two new UWM buoys (Sleeping Bear Dunes 45183 and ATW10 45182) for the season.

- [x] add metadata to GN @kkoch
- [x] add obs @gcutrell
- [x] connect Jeff with ftp process as necessary @gcutrell

[2018-04-04 16:56] kknee commented on #183
@kkoch is there a GN record for the National Ice Center data - I didn't see anything obvious when I searched for 'ice', but we have 42 restuls? If not, can you make one?

[2018-04-04 16:57] kkoch commented on #183
There is not. I will go do so now.

[2018-04-04 17:54] kkoch commented on #183
GN record > http://data.glos.us/metadata/srv/eng/main.home?uuid=f37586ca-a895-4803-8903-85a5c8a69037

[2018-04-04 19:05] gcutrell commented on #210
@kkoch @tslawecki . Fixed. Thredds ran out of space. We need to 1, get munin working again (Tad knows about the issue) to make it easier to check disk space and 2 set up logrotate for two sets of log files. I now have experience with logrotate so I'll work on that in the next week.

[2018-04-05 14:02] gcutrell commented on #146
@cheryldmorse While ingesting the test station data I've noticed there is a rogue 'thermistor_string' parameter and the current profile depth doesn't have units. Everything else looks good.

[2018-04-05 14:25] cheryldmorse commented on #146
@gcutrell - not sure what you mean by a rogue thermistor_string variable. I just checked the database and it I see observations at the surface for the TTAD. That would be reported as variable 'thermistor_string' as it isn't associated with a depth. Is that the variable you are referring to?
Thanks for pointing out the missing units. I'll get the units added in.

[2018-04-05 14:37] gcutrell commented on #146
@cheryldmorse So I'm not sure why the database is setup this way but it records how many temp nodes there are with the m_type_id being a temp string. The 'thermistor_string' value is 12 for the test buoy corresponds to the count of water temperature depths. Maybe exclude m_type_id's that don't include a second m_value? The old buoy id's catalog isn't picking up this parameter.

[2018-04-05 14:45] cheryldmorse commented on #146
@gcutrell Ok, I see the issue now. Thanks!

[2018-04-06 12:22] kknee commented on #183
@kkoch that link is throwing a 500 error 'operation not allowed'

while you look into that, can you post the layer title, abstract and keywords that you used?

[2018-04-06 13:43] kkoch commented on #183
Sorry. Fixed.

Title: National Ice Center (NIC) Great Lakes Ice Analysis Products
Abstract: The SIGRID-3 vector archive format is one of the World Meteorological Organization (WMO) standards for archiving digital ice charts in the Global Digital Sea Ice Data Bank (GDSIDB). The WMO ice chart archiving formats are the Sea Ice Grid (SIGRID) format developed in 1981 and formalized in 1989 and its succ

[2018-04-06 18:43] cheryldmorse commented on #146
@gcutrell All of the files have been updated.

[2018-04-09 17:55] tslawecki commented on #210
I've also extended the main partition by 40 GB, so we have some breathing room. Leaving this open until @gcutrell finishes with logrotate.

[2018-04-10 14:19] kkoch commented on #39
Wondering if there would be some way to actually leverage (aka. "use") the existing GLBuoys google sheet for status so there is a single place to quickly update a status that would work for both products?

[2018-04-12 19:53] tslawecki commented on #158
@kknee, @kkoch - Hearkening back to https://github.com/glos/myglos/issues/158#issuecomment-370460682 (marinas) - apologies for letting this one slip by. The intent is to have a filterable table the user can use to identify (e.g.) "green" Lake Michigan marinas with diesel fuel. I have all I need to create an HTML page *except* lake identifiers for each marina/ramp ... is it easy to get these today

[2018-04-13 14:23] kkoch commented on #158
@tslawecki If that is not something @kknee can just easily dump from the oceansmap tool, I can run thru the spreadsheet and identify which marinas match which lake - shouldn't be too hard since the address shows the state so just let me know.

[2018-04-13 14:41] kkoch commented on #158
I retested and looks like the bugs are suitably squashed (except for the weird zoom) and I like the instructions on the administer alerts option.  Still would like to see what the email alert actually looks like - nothing I've set has triggered anything.

[2018-04-13 16:05] tslawecki commented on #183
@kknee, what's left to make the NIC data live in the portal? It'd be convenient to show to GLOS Tuesday AM (4/17).

[2018-04-13 18:35] devrap commented on #203
@tslawecki or @kkoch : can we add this 1) toggle and 2) Title change (showing which view people are in) to the RPS to-do list? Not sure where it lands in terms of priority. Thanks.

[2018-04-13 18:37] devrap commented on #202
Bumping this up, per our analytics meeting: @tslawecki or @kkoch : can you assign priority to these tasks to the RPS dev queue? This will give us better fidelity on our events data.

[2018-04-13 18:46] tslawecki commented on #203
On an analytics call right now, let's get this done ASARP - no later than the end of the month.

________________________________
From: DBP <notifications@github.com>
Sent: Friday, April 13, 2018 2:35 PM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Change navigation from Catalog/Map to show only "Switch to X view"? (#203)

@tslawecki<https://github.com/tslawecki> or @kkoch<

[2018-04-16 16:26] gcutrell opened #212 "Process1 HABs platform configuration"
@cheryldmorse We are working on building a workflow for HABs data and I wasn't sure how the habs/platform and platform-config directories in process1 get built for a new HABs station? I also have a new HABs station that needs to be added so maybe I can use your instructions to do it myself. Thanks

@tslawecki @kkoch

[2018-04-17 11:21] cheryldmorse commented on #212
@gcutrell I believe that you need to create the folder structure and .ncml file for each new station/variable on tds.glos.us. It's a manual process to add a new HAB station

[2018-04-19 17:44] kknee commented on #201
update, the link  is throwing an error again (http://data.glos.us/metadata/srv/eng/main.home?uuid=9b0556ed-689b-4ba0-95de-8882680d8e77)

[2018-04-19 17:55] kknee commented on #158
Here's the email

![image](https://user-images.githubusercontent.com/196868/39009316-43b6d40c-43d9-11e8-937b-64e222834b1c.png)

Fix for zoom issue is done and being tested.

[2018-04-26 12:38] tslawecki opened #213 ""Manage alerts" not appearing?"
@kknee, we have a NOAA-GLERL user trying to set up an alert at a virtual buoy, but he can't find "Manage alerts" anywhere. I have the same issue - I'm logged in as a MyGLOS user, but don't see "Manage alerts" at a regular buoy or virtual buoy ...

[2018-04-26 12:40] tslawecki opened #214 "Virtual buoy alerts at specified depth?"
@kknee, we have a request from GLERL to let users set alerts for a specified depth when looking at model results with a virtual buoy.

[2018-04-26 18:41] Bobfrat commented on #213
We haven't implemented for Virtual Buoys yet. And for buoys, make sure you have added the buoy to your map.

[2018-05-07 14:55] kknee commented on #203
this is done on dev: http://dev.oceansmap.com/myglos/#

[2018-05-07 14:57] kknee commented on #214
@tslawecki having @cheryldmorse take a look.

[2018-05-08 00:41] tslawecki opened #216 "Zoom level changes when retrieving saved map?"
@Bobfrat, @kknee, @kkoch ...

First noted when retrieving GLEAM collection ...

https://portal.glos.us/?map=MzkyNTljMjYtNjIxMS00ZThlLTk4YzMtMTczOTdkMTYxNmIyOkdMRUFNIC0gQWxs&name=GLEAM+-+All

Comes up zoomed all the way out in IE11 and in Chrome whether logged in as a user or not (*not* checked with original user who generated the collection.

Tried zooming in and re-saving the collection:

![image

[2018-05-08 12:29] tslawecki commented on #216
I also did a different check this morning, first rebooting my computer (MS Surface Pro 3), then creating a new collection in Chrome and viewing it in IE ... same issue, but not as severe:

https://portal.glos.us/?map=ODQ2NDlmNzgtM2I1Yi00YzFiLWJjY2YtODFmMzJiMmJiMWQyOnRhZHMtdGVzdA%253D%253D&name=tads-test#

The original was one zoom level tighter than the zoom level in the shared link.

[2018-05-09 21:52] devrap commented on #203
Thanks for the update, @kknee . Given the really high number of users clicking on Catalog from the Catalog view (and exiting), I don't think just adding "switch to"  is going to be sufficient here. We need the toggle to remove visibility so people are not trying to click on Catalog and wondering why nothing is changing.

Per the original post, we need to also:

--remove the Catalog button from the

[2018-05-11 18:50] ColinNBrooks commented on #207
We have started producing the MTRI remote sensing products again, and will now be posting them as a weekly file, rather than a cumulative file. Here's more information for MTRI researcher Karl Bossee, who creates these water color products:

"The first set of CPA-A products were shared with GLOS this week via ftp for their portal. This includes 3-4 dates for each lake (more dates for the surface t

[2018-05-13 09:26] tslawecki opened #217 "Need to block TDS access for selected IP ranges ASARP Monday AM"
Starting May 1, someone has been harvesting model data from the TDS server using a very fast connection that is blowing away our hosted bandwidth cap. The IPs shown in [AWStats](http://tds.glos.us/cgi-bin/awstats.pl?month=05&year=2018&output=allhosts&config=tds&framename=index) are from the Google Cloud (filter on "bc.google"), so I've (1) contacted Google and (2) requested our hosting service to

[2018-05-14 13:56] cheryldmorse commented on #217
@ajosephides - can  you take a look at this?

[2018-05-14 14:31] cheryldmorse commented on #217
@Andrewjosephides - Can you take a look at this?

[2018-05-14 20:01] andrewjosephides commented on #217
@tslawecki @cheryldmorse Continuing discussion through email correspondence.

[2018-05-15 13:27] kkoch commented on #201
weird - did someone edit the record recently?  I can't tell but the privileges were removed from "all".  I've just reset them and link appears to work (but won't flow thru to the portal until the next refresh).  So for future reference, if it does that for any record and I'm not around > log in to admin for GN and check the privileges as follows (Other Actions, click on Privileges) >
![image](http

[2018-05-15 14:11] kknee commented on #217
outcome for this is in @andrewjosephides email, closing

[2018-05-15 14:16] kknee commented on #212
@gcutrell all set?  can you close this?

[2018-05-15 14:17] kknee commented on #210
@gcutrell all set with logrotate?  can we close this?

[2018-05-15 14:20] kknee commented on #207
@cheryldmorse can you turn this process back on test the weekly files?

[2018-05-15 14:21] kknee commented on #206
quick documentation of recent conversations - we will use the existing portal user management.  @Bobfrat will send @tslawecki and @gcutrell some code snippets for implementing

[2018-05-15 14:25] kknee commented on #201
metadata record is loading after @kkoch fix.  all set here.

[2018-05-15 14:25] #201 closed

[2018-05-15 14:26] kkoch commented on #200
Closing.  :)

[2018-05-15 14:26] #200 closed

[2018-05-15 14:27] cheryldmorse commented on #207
All set

[2018-05-15 14:30] kkoch commented on #190
@ColinNBrooks Status? what next?

[2018-05-15 14:43] ColinNBrooks commented on #190
I believe I need your input on getting this working, starting with the example data set that Amanda shared with her email of April 19th, where she said:

"I'm attaching a couple of example average travel time products for Belle Isle swimming area (BP, can be public) and the Grosse Pointe Farms water treatment intake (GP, would need to be restricted access) in case they're helpful with deciding how

[2018-05-15 15:11] kkoch commented on #190
I have the metadata record in hand and will try to get it into GN today or tomorrow.

.nc files sent via above email (not posted here due to confidentiality issues).

[2018-05-15 16:04] ColinNBrooks commented on #190
I'm trying to find out when we might present this to the SEMCOG water treatment plants group. They asked for June 21st but that's the last day of the IAGLR conference. I've offered to present it in person at the July 26th meeting of the SEMCOG water treatment plant meeting, but we may also do a webinar sometime in June to help inform people.

[2018-05-15 16:09] beckypearson commented on #190
Colin, I am following this issue. I think most of us will be at the IAGLR conference all that week as well. I more than  happy to help with the webinar and/or inperson meeting, July 26.

[2018-05-15 16:26] kkoch opened #218 "Buoy data issues"
•	45027 is showing ‘thermistor string’ for the data instead of the expected ‘WaterTemperature @ depth’ so we aren’t seeing data for those fields in Portal
•	45028 does not show data for ‘Significant Wave Period’
•	45169 does not show data for ‘Air Pressure’
•	45170 does not show data for ‘SignificantWaveHeight’
•	GLERLWE2 was online but doesn’t seem to have data since Sunday, May 13 (maybe because

[2018-05-15 16:38] ColinNBrooks commented on #190
Thanks Becky. I'm hoping to settle the date for a potential June webinar so we know when this has to be up & running by. I think that would be a good opportunity for feedback before we have a final presentation in July.

[2018-05-15 19:09] kkoch commented on #218
@gcutrell > Few more:

- Looks like 45022 also has a parameter in obs for 'WaterTemperature' and 'WaterTemperature @   0 ft".  The '0 ft' one isn't displaying in the Portal and I tend to think it might not be a valid parameter, but please verify.
- 45161 not showing data for 'Air Temperature' and 'Water Temperature at Surface"
- 45176b not showing data for DO and DO-SAT
- 45168 not showing data fo

[2018-05-15 20:04] kkoch commented on #216
@tslawecki I've seen the same behavior but think this needs prioritization (RPS can do it, but given current state of budget constraints, wonder if this should be set to low priority?).

[2018-05-15 20:07] kkoch commented on #213
@tslawecki > I changed the title from 'manage alerts not appearing' to above and for now gave it a label of "future enhancement".  Feel free to correct as needed if I assumed incorrrectly.

[2018-05-16 01:43] kknee commented on #207
thanks @cheryldmorse!

@kkoch can you keep an eye on this and close when you are satisfied?

[2018-05-16 01:47] kknee commented on #203
@devrap apologies, we misunderstood the first point, will look into making that change.

for the second point, when you say 'title' do you mean the header of the page:
![image](https://user-images.githubusercontent.com/196868/40092104-8714c168-5889-11e8-9cea-247020f4f00f.png)

[2018-05-16 01:53] kknee commented on #202
all - these changes have been made on dev, should we push to production?

details from @gitchrisadams:

Item number 1:
I added a GA entry to track when the find on map is clicked.
It adds it under Site Navigation > find on map > model name. (See screenshot)
![image](https://user-images.githubusercontent.com/196868/40092204-17f80744-588a-11e8-8872-fece6218aa87.png)

Item number 2:
Mapped is hit whe

[2018-05-16 01:54] kknee commented on #195
this has been on production since late March, closing

[2018-05-16 01:54] #195 closed

[2018-05-16 01:55] kknee commented on #194
@cheryldmorse are you comfortable closing at this point?

[2018-05-16 14:11] kkoch commented on #207
Is this an error in oceansmap and/or mtri data (vs. known/expected behavior)?
Added CHL to lake michigan and temp to lake erie, then created virtual buoy in erie.  Seemed odd for two or three things, one that it showed the michigan data on the erie buoy and two showed invalid date for the temp; also reads 'no results for this time period' on the graph results.  I don't know if the mixed lake situa

[2018-05-16 14:13] kkoch commented on #207
Also if I just stick to a single lake, I get the invalid date and no results on graphing.

[2018-05-16 14:27] ColinNBrooks commented on #207
It's not what I would expect to happen from a user perspective, at least.

I recreated what you did, and one thing I noticed is that the bounding boxes for each lake are quite large (see below). Could the virtual buoy tool be trying to query for values within those bounding boxes for the satellite data? You can see that Lake Michigan, for example, overlaps with western Lake Erie, and Lake Erie ove

[2018-05-16 15:00] gcutrell commented on #212
@kknee Let me add a new station this week and see if I need to add any additional comments that might help down the road.

[2018-05-16 15:03] gcutrell commented on #210
@kknee Not yet. Buoy deployments are over and catching up on GLOS work.

[2018-05-16 15:42] gcutrell commented on #218
45027 - Working on glbuoys. Not sure where the error might be introduced.
45028 - Shown on glbuoys.
45169 - Shown on glbuoys.
45170 -  Shown on glbuoys.
GLERLWE2 - I'm guessing they were testing the buoy and forgot to stop data sharing.
45022  - I don't see any current temperature at depth values in the database.
45161 - They are now sending water depth at 1 meter. They are also not sending air te

[2018-05-16 16:06] tslawecki commented on #217
@andrewjosephides, @kknee - AWStats still shows access from 35.195.\*, 35.205.\*, 35.233.\*, and 35.187.\* yesterday (and I'm guessing access today will show in the raw logs) ... any thoughts?

[2018-05-16 16:19] kknee commented on #203
@gitchrisadams kindly mocked this up, he'll push to dev shortly, but NOTE we will be switching the title images out, they show the concept but need correct font, spacing etc:

![image](https://user-images.githubusercontent.com/196868/40129845-58e75b78-5903-11e8-8d21-a685375bdbac.png)

![image](https://user-images.githubusercontent.com/196868/40129847-5c719aa6-5903-11e8-811c-9f63e801e66d.png)

[2018-05-16 16:27] kkoch commented on #203
Do you already have the necessary text and graphics for the splits?  I have the ones I've been creating for the Boaters view and GLBuoys which might differ from what you used originally but then at least they'd all be the same.

[2018-05-16 18:23] kkoch commented on #218
45027 is good (guessing the issue was resolved by the PI before Greg got a chance to dig into it); 45169, 45170, WE2, 45176b are okay as well).

For the following I've commented out the parameter in GN so we won't see 'no results' in the portal. I double-checked on all of these to make sure they weren't showing for ndbc either, so we can assume the PI isn't submitting although I'm still puzzled wh

[2018-05-16 18:46] kristinschrader opened #219 "Boaters' view slow"
as if 5/16/2018 it is excruciatingly slow to open.

[2018-05-16 18:47] kristinschrader opened #220 "Boaters' View"
The favicon is not GLOS's, but NOAA's. Please use the correct icon.

[2018-05-16 19:01] cheryldmorse commented on #194
@kknee ,@tslawecki  Did anyone test to see if the new version of OWSLib still has issues with the catalog?

[2018-05-17 17:49] devrap commented on #203
@kknee and @gitchrisadams --Yep, this would work! Alternatively: "Catalog View" or "Map View" could display as a small title in the center. This would keep Data Portal untouched. Thanks.

[2018-05-17 17:49] #203 closed

[2018-05-17 17:55] devrap commented on #202
Excellent! Looks great to me, @kknee and @gitchrisadams. I think this will make a big improvement in terms of more accurately capturing on-page events. If all is testing well without disruption to the dev product, I think we can roll this out to live.  Thanks.

[2018-05-18 00:24] tslawecki commented on #190
@bobfrat, @kknee , @cheryldmorse  ... I ran into some issues with my test AWS server, so I've temporarily placed only the (public) Belle Isle swimming area average time netcdf on the regular GLOS TDS server, available at

http://tds.glos.us/thredds/tad.html?dataset=TAD

One thing I noticed - coordinates are in transverse mercator. Will this work or do we need to have MTRI reproject to geographic?

[2018-05-18 14:50] kkoch opened #221 "Glider display in portal"
- [ ] Portal shows individual gliders as well as new collection (note: these are not pulling from GN). Assume that RPS @Bobfrat needs to remove the individual ones.

![image](https://user-images.githubusercontent.com/6392982/40241071-0e013e36-5a88-11e8-8d23-28ff8630dd03.png)

- [ ] Tad would like an external link option added that would allow users to go to the glider dac https://gliders.ioos.us/d

[2018-05-18 15:44] kkoch commented on #220
Also I notice that the tab is incorrect - it reads "Boaters Portal" instead of "Boaters' View"

![image](https://user-images.githubusercontent.com/6392982/40244364-a6ec94bc-5a90-11e8-82c9-86f5fbf1538c.png)

[2018-05-18 15:46] kkoch commented on #219
@kristinschrader seemed okay this morning from my desk.  Can you re-verify the issue and if it is a particular lake, prior to the pop-up for the lake choice, etc.   Track when and how it is slow for you????

[2018-05-18 15:48] kkoch commented on #216
@kknee per Tad at DMAC meeting this is very low priority so we will hold off on efforts to diagnose at this point.

[2018-05-18 16:10] tslawecki commented on #220
Boaters' View, not Boater's View - I think ...

________________________________
From: Kathy Koch <notifications@github.com>
Sent: Friday, May 18, 2018 11:44 AM
To: glos/myglos
Cc: Subscribed
Subject: Re: [glos/myglos] Boaters' View (#220)

Also I notice that the tab is incorrect - it reads "Boaters Portal" instead of "Boater's View"

[image]<https://user-images.githubusercontent.com/6392982/40244

[2018-05-18 16:10] kristinschrader commented on #219
Both Becky and I thought t was better yesterday, and we both thought it was
very slow the day before. I guesss it’s fixed

On Fri, May 18, 2018 at 11:46 AM Kathy Koch <notifications@github.com>
wrote:

--
Kristin Schrader
Great Lakes Observing System
NOAA Great Lakes Environmental Research Lab
734-741-2294
glos.us <http://www.glos.us>

Like our Facebook page
<https://www.facebook.com/GreatLakesObs

[2018-05-18 16:10] kristinschrader commented on #220
Huh.

On Fri, May 18, 2018 at 11:44 AM Kathy Koch <notifications@github.com>
wrote:

--
Kristin Schrader
Great Lakes Observing System
NOAA Great Lakes Environmental Research Lab
734-741-2294
glos.us <http://www.glos.us>

Like our Facebook page
<https://www.facebook.com/GreatLakesObservingSystem/?ref=aymt_homepage_panel>
Follow our Twitter feed <https://twitter.com/GLOSystem>

[2018-05-18 16:11] #219 closed

[2018-05-18 17:50] kristinschrader commented on #220
I'm looking at favicons and the one on the habs tool is wrong, nutrient
tracker, the lakes in the boater's are wrong, not just the tool, and the
point query tool.

Kristin Schrader
Great Lakes Observing System
NOAA Great Lakes Environmental Research Lab
734-741-2294
glos.us <http://www.glos.us>

Like our Facebook page
<https://www.facebook.com/GreatLakesObservingSystem/?ref=aymt_homepage_panel>
Fo

[2018-05-18 19:34] Bobfrat commented on #220
I've made these updates. I noticed that dev is ahead of the production site. Once we're ready to push to production these updates will be in there. I'll look at the habs tool next.

[2018-05-21 20:38] kknee commented on #5
thanks to @Bobfrat  this is on dev now.

_There's no valid data streaming but we're now fetching via opendap from the link provided in GN. If you move the map back to October you'll see data.

I'm grabbing the parameters from the GN record (descriptive keywords - variables) so those must match the variable names in the file. Thats why some of the variables have "no results". Or I can code it up to

[2018-05-22 12:07] Bobfrat commented on #221
External link is on dev.

<img width="508" alt="screen shot 2018-05-22 at 8 04 16 am" src="https://user-images.githubusercontent.com/5702672/40361271-c31c6ee2-5d96-11e8-9abb-ea00c5b26692.png">

The individual gliders is a bit trickier. It has to do with the catalogs implementation of elasticsearch

The individual gliders that appear are indeed part of 1 parent Great Lakes Gliders collection. In fa

[2018-05-22 12:29] Bobfrat commented on #190
Thanks Tad, projecting on geographic coordinates will make our lives much easier.

Also, any thoughts on a banner for this portal? Should it be different from the myglos banner?
<img width="562" alt="screen shot 2018-05-22 at 8 27 33 am" src="https://user-images.githubusercontent.com/5702672/40362334-36e421fa-5d9a-11e8-9465-d204b4690708.png">

[2018-05-22 13:26] ColinNBrooks commented on #190
HECWFS Water Intake Spill Scenarios?

[2018-05-22 13:26] tslawecki commented on #190
@ColinNBrooks - I talked with Kelly, Cheryl and Bob this morning and they think 6/13 is feasible. There are three immediate (small?) things:

- Deliver in a different projection (just saw your e-mail)
- Confirm title to display (and your comment)
- Discuss what "standard" GLOS datasets should be available in tool, and whether catalog is needed

[2018-05-22 13:29] kkoch commented on #207
@Bobfrat can you dig into this on the OceansMap side of things?  From MTRI (@ColinNBrooks et. al) >

- It looks like we have a few datasets (e.g. NCI, LST) that have images with bounding boxes that are not uniform and tight that could be causing this problem. I'm not sure how the GLOS data portal ingests the extent data- I was assuming that the extents are pulled from those advertised in our WMS G

[2018-05-22 14:11] kkoch commented on #5
(Of course we would pick a station that isn't reporting so we could see real-ish-time.)   But we need a path forward/plan > I need to know specifically where to go and what to change so we don't break production.

The reason I have questions is if I look at the .nc file listing on tds for utlcp the naming doesn't always match what I see in Obs but some work and some don't (e.g., "Air Pressure" doe

[2018-05-22 14:18] kkoch commented on #5
Note: I think long-term if we were not relying on GN for the variable names that would be better.  In other words if I think I understand @kknee what your above comment means, I think if OM used GN for any links, abstract, title, categories like it does now - basically all the things that make sense to be curated by me, BUT pulled the variable names from the real-time data that was being submitted

[2018-05-22 14:48] Bobfrat commented on #207
Because we are grouping the MTRI layers, we are doing a superset of the bounding boxes found in each layer (CDOM, Chlorophyl, Doc, Natural Color Imagery etc). For this particular Lake Erie issue it looks like Natural Color Imagery is the offending BBox in the GetCaps:

[code]

[2018-05-22 15:00] kkoch commented on #5
And adding more justification > we just had a PI comment that he'd added a parameter (sig. wave height) and glbuoys picked it up and our legacy portal picked it up, but because it was manual for me, it hadn't gotten added until this morning and is waiting on the portal refresh.  So we definitely need to get the portal to be automatic as well.

[2018-05-22 15:57] kkoch commented on #221
1) I would also like to see the little "i" icon on the map view by the title in the search box.
![image](https://user-images.githubusercontent.com/6392982/40373960-0c39f2ce-5db6-11e8-8002-a785f4409ac1.png)
Like this >
![image](https://user-images.githubusercontent.com/6392982/40374351-e1514d68-5db6-11e8-8692-726af2a694db.png)

2) As for searching, I am wondering why the gliders couldn't behave lik

[2018-05-23 17:02] kkoch commented on #207
Okay Mike @ MTRI (thanks @ColinNBrooks ) fixed the bounding boxes so we aren't getting duplicate buoys.  HOWEVER> still seeing invalid date error >  Note that I have a virtual buoy in Lake Mich.  I see a data value (.15 ug/L) in the pop-up but it states invalid date there and if you look at the graph there is no data and also "no results found for this time period".

![image](https://user-images.g

[2018-05-23 18:31] kkoch commented on #207
Fixed by MTRI.

[2018-05-23 18:31] #207 closed

[2018-05-25 15:02] tslawecki opened #222 "Clean up hosted firewall rules"
There are a number of IP addresses still allowed access to the GLOS servers at Online Tech. I'm planning to remove the rules allowing the following unless someone speaks up by ... Tuesday?

45.33.77.164,
50.4.218.255
68.49.171.202
107.214.74.133
172.104.1.4
173.61.199.211
198.0.100.225
198.111.174.50

Rules allowing access from 173.167.227.65 (LimnoTech) and 184.180.13.92 (RPS) will be maintained.

[2018-05-25 15:04] tslawecki commented on #190
I've placed the current (UTM) Belle Isle average time netCDF on an AWS t2.micro instance, available at  http://34.219.157.82:8080/thredds/catalog/HECWFS-All/catalog.html?dataset=HECWFS-collection/BP-avgt.nc

I will lock down access to the 64.9.201.64/28 block (GLOS server stack) and LimnoTech, RPS, and the Oceansmap dev server (52.1.143.106) **after** addressing IP addresses with access overall [(

[2018-05-25 15:04] tslawecki commented on #222
Let's make it Thursday ...

[2018-05-25 15:44] ColinNBrooks commented on #190
I'm getting our MTRI address range to accept.

[2018-05-25 15:45] ColinNBrooks commented on #190
Would you like the rest of the data (public beach spill modeling data & restricted water intake spill modeling data) at this point as well? Since June 13th is fairly close I thought it might make sense to share it all.

[2018-05-25 15:46] tslawecki commented on #190
Yes, but in geographic rather than UTM.

[2018-05-25 16:22] kkoch commented on #190
Metadata record > http://data.glos.us/metadata/srv/eng/main.home?uuid=ca2ce240-7da9-489c-80fa-b5326dc28e91

[2018-05-25 17:41] ColinNBrooks commented on #190
Here's what our IT head said:
For the main network have them add 35.63.66.0/23

(I assume that means 35.63.66.0 to 35.63.66.23)

[2018-05-25 19:47] tslawecki commented on #190
@ColinNBrooks, I've uploaded the WGS84 versions of beach and plant maps, but exposed only the beach maps pending IP lockdown  ... see http://34.219.157.82:8080/thredds/catalog/HECWFS-All/catalog.html.

[2018-05-25 19:51] Bobfrat commented on #5
@kkoch I will parse the variable names from the file. We do some "prettifying" on the front end so the parameters shown on OM are not an exact match to the variable names in the netCDF file.

[2018-05-25 20:38] ColinNBrooks commented on #190
Cool!

[2018-05-29 17:09] kkoch opened #223 "Conservation Ontario metadata"
Add metadata for approximately 36 authorities to GeoNetwork.

Pending the metadata adds, determine which, if any, should also be accessible via Portal or other tools

[2018-05-29 17:15] kkoch commented on #223
Two records have been manually submitted - one was xml (but was created from user entered data in ArcGIS which was in FGDC format so wasn't complete ISO; second was manual GLOS metadata form.

Coordinating with Lauren Slaunwhite at CO, determined it made more sense to have them enter directly into GN instead of going the ArcGIS/FGDC route (although the manual form is acceptable as well).  Created

[2018-05-30 13:24] tslawecki commented on #217
Closing for now - will work later to (1) have accessor cut down bandwidth and (2) limit bandwidth on TDS server in nginx/apache.

[2018-05-30 13:33] tslawecki opened #224 "MTRI layers not displaying"
In Data Portal,  using Chrome and IE - tried to add MTRI Lake Erie satellite temperature, DOC, chlorophyll. In "Data Layers" tab in map view, the message is "There was an error drawing this layer". @kkoch, can you replicate this? If so, any thoughts from @kknee, @Bobfrat, @cheryldmorse, @ColinNBrooks, @gcutrell?

[2018-05-30 14:57] ColinNBrooks commented on #224
Not yet. I checked that our server is up & displaying data and things seem OK there.

I just checked MTRI Erie Cholorphyll and it seems to be displaying OK:
![image](https://user-images.githubusercontent.com/20344813/40728465-2bee20a2-63f8-11e8-82f5-3b3f3ab7e4ec.png)

[2018-05-30 15:18] kkoch commented on #224
I have not been able to replicate.  Tried all lakes, various parameters, virtual buoy using FF, IE, Chrome, two different computers.  All behaving.

[2018-05-30 15:27] ColinNBrooks commented on #224
Temporary blip, perhaps?

[2018-05-31 20:08] tslawecki commented on #194
@cheryldmorse and @kknee, I finally got around to trying what @Bobfrat suggested a couple of months ago, basically

[code]
I got the same 'uuidref' KeyError @Bobfrat had noted, then played around a little, finding that no error was thrown for maxrecords < 256 (e.g.  `>>>>csw.getrecords2(outputschema=namespaces['gmd'], esn='full', maxrecords=255)`) worked fine. Any thoughts on how to figure out whi

[2018-06-01 18:05] cheryldmorse commented on #194
@tslawecki , @kkoch, @kknee, @Bobfrat - I dug into the OWSlib code and the request is failing on [this](http://data.glos.us/metadata/srv/eng/main.home?uuid=2a8a7604-b9a0-4750-9444-26b501ac462b) metadata record. The new version of OWSLib is parsing the featureCatalogCitation field and looking for the 'uuidref'.  That metadata record contains the featureCatalogCitation field but does not have the 'u

[2018-06-01 18:07] Bobfrat commented on #194
Nice detective work @cheryldmorse

[2018-06-01 18:09] tslawecki commented on #194
I agree with @bobfrat - thanks, @cheryldmorse! @kkoch, is this something you can address?

[2018-06-01 18:21] kkoch commented on #194
Two thoughts:
1) Those are harvested records from USGS.  Therefore they aren't curated (entered or edited by me).  I am guessing it makes sense as the harvest can't know about a secondary referred catalogue that the original is linked to.
2) I could delete the feature catalog section of those records, or delete the records in their entirety (or I've always wondered if the scan only looks at "activ

[2018-06-01 18:24] tslawecki commented on #194
If they have a common owner at USGS, maybe reach out to that entity and ask them to correct the record?

[2018-06-01 19:21] kkoch commented on #194
Testing:  Unchecked the 'included with dataset' option on the 3 harvested records in GN (GN IDs > 257, 269, 271)
![image](https://user-images.githubusercontent.com/6392982/40859327-666efb8a-65af-11e8-961a-1c95a8de4257.png)

Tad has confirmed that this fixed the errors he was getting.

We will now see when Monday's harvest runs if those records update (re-checks) the feature catalog option.  If so,

[2018-06-01 19:24] tslawecki commented on #194
Correction - we now read 835 records, failing on #836 with a "KeyError: 'uuid'":

[code]

[2018-06-01 20:14] cheryldmorse commented on #194
It's now failing on http://data.glos.us/metadata/srv/eng/main.home?uuid=16a1b87d-9ffa-4e66-814d-45ab865123e7 when parsing the FC_FeatureType. It's looking the attribute 'uuid' which doesn't exist

[2018-06-04 18:58] tslawecki commented on #224
Let's call it a blip. Closing.

[2018-06-04 18:58] #224 closed

[2018-06-04 19:02] tslawecki opened #225 "Wave direction labeling wrong in Data Portal?"
Added everything in LEOFS and GLCFS (Lake Erie) to the map, added a virtual buoy. The Wave Direction has units of meters (?!?):
![untitled](https://user-images.githubusercontent.com/5224254/40936106-36d5036e-6808-11e8-9534-457b020c9b8b.png)

[2018-06-04 19:03] Bobfrat commented on #190
@tslawecki The WMS layers for this source are WMS version 1.3.0 which we need the latest version of OWSLib to parse in our data-catalog which has the potential of breaking during the GeoNetwork parsing. Can we safely make the upgrade? I know @cheryldmorse has been tracking down the problematic records.

[2018-06-04 19:18] Bobfrat commented on #190
@tslawecki nevermind, we can use WMS 1.1.1 for these layers

[2018-06-04 19:18] tslawecki commented on #194
@kkoch, is there any magic you can perform on the latest record as identified by @cheryldmorse ?

[2018-06-04 19:24] tslawecki commented on #190
@Bobfrat - Good, because my answer was along the lines of

[2018-06-04 19:28] tslawecki commented on #225
Also not 100% sure about Ice Concentration units ... [tds](http://tds.glos.us/thredds/dodsC/glos/glcfs/erie/fcfmrc-2d/Lake_Erie_-_2D_best.ncd.html) has Ice concentration (ci) units: fractions and Wave direction (wvd) units: Degrees, Oceanographic Conventions

[2018-06-05 13:37] kkoch opened #226 "Portal not displaying current data"
No real-time stations showing obs more recent than Sunday, June 3 in Portal even though I've checked and more recent data is available glbuoys & tds >

![image](https://user-images.githubusercontent.com/6392982/40979464-dee82d4c-68a3-11e8-93f0-af6ff4c1183e.png)

![image](https://user-images.githubusercontent.com/6392982/40979476-eb7d1b76-68a3-11e8-88ec-f4eb53ebdee1.png)

[2018-06-05 14:12] kkoch commented on #194
Well... not other than deleting the record.  It turns out this record "is" the feature catalog relating to another record (283 and 284 go together). It looks like this is a new thing that USGS is doing with their records.  It isn't anything wrong, it is a valid way to enter variables into GN especially for biological data and I'm not sure if UUID is normally something that gets created (although I

[2018-06-05 14:15] kknee commented on #158
@kkoch can we push an update to the production boaters tool?  there are are lot of improvements on dev at this point that have not been released.

[2018-06-05 14:47] kkoch commented on #158
Still seems buggy. (Might help if I saw the list of improvements as well)

1) I don't like the auto virtual buoy but maybe @tslawecki can be the deciding factor (Tad: go to https://dev.oceansmap.com/boaters). Behavior now is that if you click on the lake anywhere other than an icon you create a virtual buoy - toggle is automatically on.  This seemed like a good idea to me when originally proposed

[2018-06-05 15:02] kkoch commented on #226
Okay it is now working (showing today's data).  Anyone know who fixed or how?

[2018-06-05 18:41] tslawecki commented on #194
FWIW, the `.getrecords2` request seems to work after @kkoch deleted the UUID-less record. I'm not sure, though, what it means that the `.results ` property returns only 833 records:

[code]

[2018-06-05 18:43] kkoch commented on #226
Hearing nothing, I'm going to close this for now and chalk it up to space aliens or sunspots.  Will monitor closely to see if it recurs.

[2018-06-05 18:43] #226 closed

[2018-06-05 19:01] kkoch commented on #194
I also have another harvest running (I want to see if, as expected, it will pull the uuid-less record back in).  Then I'm going to see if I can figure out why it would not have an attitribute uuid.

[2018-06-05 19:24] kkoch commented on #194
Okay I tried something where I reimported the offending document selecting an option to create a UUID. It did in fact insert a feature uuid where none was before.  So for kicks and grins, let's see if the process chokes still on the record.  The new GN record is http://data.glos.us/metadata/srv/eng/main.home?uuid=4c6bcfd5-950d-4a7a-a8e7-79c1ef07f231 ; with a record ID of 1429.

The downside is tha

[2018-06-05 20:13] kkoch commented on #211
@gcutrell Jeff reports that he has started ftp'ing data for Sleeping Bear 45183 as of 3:00pm today.

Need to get parameters into obs I think? At least I don't see any data showing or actual parameters when I look at my json view.
Here is what I see >

{
name: "Sleeping Bear Dunes",
lon: -85.83,
lat: 44.98,
tmin: null,
tmax: null,
abstract: "The buoy provides real-time water quality and meteorologi

[2018-06-05 20:32] tslawecki commented on #194
Seems to work after @kkoch's reimport with UUID ...

[code]

So ... it works? Not sure why we only return 834 out of 847. Any thoughts from @Bobfrat or @cheryldmorse?

[2018-06-06 01:22] Bobfrat commented on #190
@tslawecki just verifying that the preferred WMS endpoint for these datasets is the WMS link from TDS. For example:

http://34.219.157.82:8080/thredds/wms/HECWFS-All/WY-prob.nc?service=WMS&version=1.3.0&request=GetCapabilities

[2018-06-06 12:30] cheryldmorse commented on #194
@tslawecki -Those values are coming directly  from the response from GN.
[code]

[2018-06-06 12:46] Bobfrat commented on #190
@tslawecki @ColinNBrooks, assuming the answer to the previous is yes, is it possible to aggregate the model variables (prob, mint, maxt, avet) into a single file (NCML?) so that the WMS endpoints contain all the layers in a single GetCapabilities request?

Without that it's not trivial for me to get all the layers into a single TOC entry like we do for the MTRI layers per lake:

![screen shot 2018

[2018-06-06 13:03] tslawecki commented on #194
@cheryldmorse - Thanks! I'm just wondering why we match 851 but only return 838 ... what are the 13 records that matched but were not returned? Maybe @kkoch has an idea?

[2018-06-06 13:55] ColinNBrooks commented on #190
I'm not sure so I'm asking Reid Sawtell ( rwsawtel@mtu.edu ) who helped set this up

[2018-06-06 14:22] kkoch commented on #194
The total number of matches in your first results of 847 makes sense since 847 records is how many records there are that are public (with full access privileges).  There are actually 877 records total in GN.  I don't have a clue where the later 851 and 838 are coming from.

If I run a CSW test within my GN admin module, I was also getting a somewhat similar response (albeit the numbers don't matc

[2018-06-07 15:56] kknee commented on #190
@ColinNBrooks I think the metadata request that @Bobfrat mentioned would fall to MTRI, but the aggregation could be done on the TDS.  @tslawecki can someone on LT tackle or do you want us to (I think we would need access to the server)?

[2018-06-07 16:19] tslawecki commented on #190
@kknee - It's going to be fastest for RPS to do the aggregation. E-mailing you encrypted key.

[2018-06-11 12:57] ColinNBrooks commented on #190
Water intake spill modeling locations (restricted access data):
IT = Ira Township
NB = New Baltimore
MC = Mount Clemens
GP = Grosse Pointe Farms - Highland Park
BP = Detroit - Belle Isle
FI = Detroit - Fighting Island
WY = Wyandotte

Beach spill modeling locations (publicly available data):
BI = Burke Park
VP = Veterans Park
MB = Metro Beach

(Yes, the abbrevations for Belle Isle = BP and Burke Pa

[2018-06-11 12:58] Bobfrat commented on #190
@tslawecki we cant reach the THREDDS server this am. Can you have a look?

What do you have for available resources on that machine?

[2018-06-11 13:03] tslawecki commented on #190
I can't get in either. Checking.

It's a t2.micro instance, but basic monitoring doesn't look out of line ...

[cid:122ff3ba-0db0-4adc-920f-1cb2c602bcbd]

________________________________
From: Bob Fratantonio <notifications@github.com>
Sent: Monday, June 11, 2018 8:58 AM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Implementing limited-access Portal instance for HEC water

[2018-06-11 13:16] tslawecki commented on #190
@Bobfrat, seems to be fine after a reboot. LMK if you think it would be prudent to move to a larger instance (t2.medium?).

[2018-06-11 13:22] Bobfrat commented on #190
How's the CPU credit balance look over the last few days?

[2018-06-11 13:25] tslawecki commented on #190
Pegged at 145 or so.

[2018-06-11 13:33] tslawecki commented on #208
Re-opening with a follow-up question - was CORS allowed for GLBuoys.glos.us or for other glos.us sites as well?

[2018-06-11 13:50] tslawecki commented on #208
@Bobfrat, @gcutrell - I tried POSTing to alerts API from (new DNS entry) testing2.glos.us and got a not-unexpected access control check - not equal to dev.glos.us. Can we add testing2.glos.us to the CORS list for access to the alerts?

[2018-06-11 14:55] Bobfrat commented on #190
Ok that seems fine.

[2018-06-11 16:22] kkoch opened #227 "Add two Green Bay buoys"
Hi Everyone
Not sure if GLOS would be interested or not but we have two new buoys in the lower Green Bay AOC this year as part of a long term project monitoring harmful algal blooms (and associated water quality conditions). I would be happy to send data to GLOS data portals.

See the following links:
http://www.lakestat.com/BuoyData/GBW/2018/Front2018.php
http://www.lakestat.com/BuoyData/GBE/2018

[2018-06-11 16:22] kkoch commented on #227
PI Cookbook (enrollment guide) sent to Todd.  Also metadata form link.

[2018-06-11 16:42] tslawecki commented on #213
@kknee, @Bobfrat, @cheryldmorse - this is now something to bring ASARP - preferably before 6/26. My understanding is that @cgalvarino will be tasked with this.

[2018-06-11 16:52] tslawecki commented on #213
@cheryldmorse, @kknee - some questions and comments:

1.  I've been adding alerts with curl and getting appropriate responses, but I haven't seen anything yet to confirm that they're being processed, so:

1.a. Can someone confirm that there's a handful of alerts sitting there in the database for me (all Lake Erie models)

1.b. When should the alerts be checked? At regular time or file-update trigg

[2018-06-11 17:04] Bobfrat commented on #213
Some more questions to consider (thanks to @cgalvarino for thinking about these details)

5) How to administer the Virtual Buoy alerts once created? They don't persist through sessions and model layers can be added or removed at any time. Will almost certainly need a page dedicated to alerts admin now.

6) Can users create model alerts at obs stations?

7) Do we need to add the ability to name vir

[2018-06-11 19:09] cheryldmorse commented on #213
@tslawecki - If you are logged in then you should be able to see your alerts via a get request to the api ( https://portal.glos.us/api/alert ). The alerts are checked every hour

[2018-06-11 19:36] tslawecki commented on #213
I entered the alerts manually from the command line without my user ID.

Also, I was sending them to the oceansmap dev URL ... I'll start over ...

________________________________
From: cheryldmorse <notifications@github.com>
Sent: Monday, June 11, 2018 3:09 PM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Ability to set up alerts for virtual buoys (#213)

@tslawecki<https:

[2018-06-11 20:22] tslawecki commented on #213
@cheryldmorse - looking for clarification ... does portal.glos.us/api/alert support model alerts, or is that only on dev? I get `301 Moved Permanently` when trying the following:

` curl -X POST -H "Content-Type: application/json" -d '{ "phone": "734-478-3011","parameter": "Wave Height","catalog_id":"LAKE_ERIE_WAVE_HEIGHT","lat":"41.5","lon":"-91.75","units": "meters","origin": "LAKE_ERIE_WAVE_HEI