[2016-06-21 19:52] kknee opened #5 "Proof of Concept for NetCDF Obs Data"
- [x] @lukecampbell provide Guan with sample netCDF file
- [x] Guan write netCDF file for a single GLOS Station to TDS using sample format
- [x] @lukecampbell review file for metadata compliance
- [ ] @lukecampbell work with @kkoch to get new endpoint in GN
- [ ] @birdage add demo station to GLOS Portal for review

[2016-07-07 12:31] kknee opened #6 "Additional Variables for GLEAM"
1. Combine the individual maps into a single netCDF file with a single catalog entry - @kkoch will let Sigrid know that we need the files in ARCGRID format.  Tad will then have Brian Lord (Limno) convert them into netCDF files.

2. Review legends
3. Combine metadata - use child records in GN

[2016-07-07 12:34] kknee opened #7 "Upgrade THREDDS to 4.6.6."
ASA to report back on MARACOOS upgrade performance week of 7/10

[2016-07-07 12:45] kknee opened #8 "45026 (Cook) – last transmission Sunday, July 3"

[2016-07-07 12:46] kknee opened #9 "45169 (Cleveland Wind) - No Data"
Ed working with Guan

[2016-07-07 12:47] kknee opened #10 "45176 (Cleveland Crib) - No data"
Ed working with Guan

[2016-07-07 12:49] kknee opened #11 "45172 (NMU Grand Marais) - No Data"
NMU Grand Marais buoy now redeployed/online.
Status page shows that we are receiving data and there is current data on NDBC and GLBuoys

There is no data in the obs cache - http://data.glos.us/portal/getObsByPlatform.php?provider=glos&platform=45172+-+Grand+Marais+Buoy

[2016-07-07 12:51] kknee commented on #9
from Guan: "I don't have 45169 and 45176 in the system, although they both have folders on FTP with couple files in it. It doesn't look like they are operational in terms of data transfer. Otherwise, I should have seen files packed up there."

[2016-07-07 12:51] kknee commented on #10
From Guan: "I don't have 45169 and 45176 in the system, although they both have folders on FTP with couple files in it. It doesn't look like they are operational in terms of data transfer. Otherwise, I should have seen files packed up there."

[2016-07-07 12:53] kknee opened #12 "Check weblogs for HABS on the server"
Analytics looked funny last month, need to check web logs on the server to see if they match analytics

[2016-07-07 12:54] kknee opened #13 "Add USGS Stations"
This is done, but wanted to note the following from @lukecampbell:

They're back. There's one known issue that will probably persist until we can figure out how to deal with the scale of data. We normally harvest from 3rd party sources every hour, but USGS has over 10k stations and we don't have the computational resources to harvest that frequently at the moment so on the map you will usually see

[2016-07-07 12:55] #13 closed

[2016-07-07 12:56] kknee opened #14 "In External Links, change "Data Access" title to "Metadata""

[2016-07-07 12:57] kknee opened #15 "Add 'i' for metadata info to pop-up in addition to catalog list?"
Is it possible to have the “i” for metadata info link available on the pop-up in addition to what appears on the  catalog list

[2016-07-07 12:58] kknee opened #16 "Add pop-up for ‘use constraints” on data access"

[2016-07-07 12:58] kknee opened #17 "Add additional content from GN to Portal"

[2016-07-07 12:59] kknee opened #18 "Registration Page - Add Organization Field"

[2016-07-07 12:59] kknee opened #19 "Better acknowledgement page or pop-up when user creates an account"
right now you just pop back to the catalog and it isn’t clear that the registration was successful

[2016-07-07 13:00] kknee opened #20 "Improve Search for non-GLOS Sources"
Is there a way to get non-cataloged stations searchable? Can we put them in categories at least?  e.g., search for KP53 – shows up as long as I do not specify a category.  However, if I put the category on buoys/obs it does not show up. Users would not understand that we don’t have non-GLOS sources cataloged

[2016-07-07 13:08] kknee opened #21 "GLENIJC Metadata (linking to QA documentation)"
@kkoch processed the data into netCDF format and would like to add a link to quality control document. ASA suggested putting the link into the global attribute ‘references’.  @lukecampbell will send an example and @kkoch will manually insert it into the nc files

[2016-07-07 13:11] kknee opened #22 "Add MTRI WMS Sources"

[2016-07-07 13:16] kknee opened #23 "Fix Lake Simcoe Marker Size"
For station Lake Simcoe Region Conservation Authority (LSRCA) Watershed Data - Whites Creek - Reg 23 the marker is minuscule.

![image](https://cloud.githubusercontent.com/assets/196868/16654353/5f74a6d6-4423-11e6-9bf3-29106ab333d4.png)

[2016-07-07 14:59] kkoch commented on #6
1. Sigrid has been notified re: ARCGRID. She is on travel and will do so when she returns. (kkoch)
2. GN Child record creation in process (kkoch)

[2016-07-07 15:53] lukecampbell commented on #6
Are these still regular grid with an EPSG:4326 projection?

[2016-07-07 17:38] kknee commented on #6
That's the plan.  We haven't see the updated netCDF yet.

[2016-07-07 20:00] kknee opened #24 "Satellite Data Legend Units"
Units are missing in the satellite data legends.  Colin will look into whether units can be transmitted in the legend image.

[2016-07-07 20:05] ColinNBrooks commented on #22
Thanks for adding this, this is still a priority for me to represent the remote sensing data in the best way possible.

[2016-07-08 12:53] kkoch commented on #6
I just sent another email to Sigrid asking her for status on the netcdf files.

[2016-07-13 13:31] kkoch commented on #6
Sigrid has put arcgrid and her netcdf files on the limno share.  @tslawecki is on tap for next task.

[2016-07-13 14:39] kkoch commented on #8
Per NDBC no data reports since July 4.  Per our obs status report - no data since July 3rd. Message @everhamme to check status.

[2016-07-13 14:42] kkoch commented on #9
From @everhamme "We will send Guan a separate email with the metadata for 45176 and 45169.  Both have some basic info on greatlakesbuoys.org."  Is transmitting and showing values on NDBC. Still not showing up in our portal 7/13.

[2016-07-13 14:44] kkoch commented on #10
From @everhamme "We will send Guan a separate email with the metadata for 45176 and 45169. Both have some basic info on greatlakesbuoys.org." Is transmitting and showing values on NDBC. Still not showing up in our portal 7/13.

[2016-07-13 14:47] kkoch commented on #11
@gwang still same issue as above. Need status.

[2016-07-13 14:58] kkoch opened #25 "NOAA GLERL WE4 (glerlwe4) - no data"
no data reporting in obs or in HABs but per Russ Miller > "We4 is trying too but it's cell signal is iffy and I don't have ftp retry turned on yet".   Need to just keep an eye out for this working or continuing not to work.

[2016-07-13 15:00] kkoch opened #26 "NOAA GLERL WE13 (glerlwe13) - not in portal yet."
Nothing appearing yet in obs cache or status but info was sent to us by Russ Miller so think it should be set up.  @gwang.  @kkoch to set up metadata record in GN.

lon/lat,
 41° 44.58' N 83° 08.10' W

station name,
WE13

any id?
guess it's the same WE13

any description
GLERL Western Lake Erie Buoy Netowrk
relevant links:
GLERL HABS and Hypoxia program page
http://www.glerl.noaa.gov/res/HABs_and_

[2016-07-13 15:14] kkoch opened #27 "Lake Simcoe Whites Creek - water temp error"
Whites Creek showing 'retrieval error' for water temperature.  Displays streamflow okay.  Need to verify if this is an issue on our end or at data provider's.

[2016-07-13 18:45] kkoch commented on #6
34 Child Records have been added to GN. Permalink to main record for metadata which should display the child records for users > http://data.glos.us/metadata/srv/eng/main.home?uuid=b47fa3c1-4222-46b1-bc61-7b0138105e58

[2016-07-14 18:40] kknee opened #28 "Issue Creating New Accounts"
User reports that nothing happens when the submit button is clicked.

![image](https://cloud.githubusercontent.com/assets/196868/16851295/ed2a4208-49d0-11e6-9f8d-0433bd7d9dae.png)

[2016-07-14 19:29] hellocomrade commented on #25
@kkoch probably I need hook it up

[2016-07-14 19:32] hellocomrade commented on #26
@kkoch

You @ the wrong ID...

[2016-07-14 20:33] kkoch opened #29 "Monthly report of myGLOS users"
ASA to send monthly report to GLOS (Becky) of users for myGLOS.  [Becky to ensure this is not published due to confidentiality of emails.]

[2016-07-14 20:38] kkoch opened #30 "myGLOS user Signon statistics"
Gather more in-depth user data (suggestions: how many times they use the portal, are they downloading data, what are they adding to their map).  If needed look into different user tool than the current UserApp.io product.  If not possible, provide LoE for additional code effort.

[2016-07-14 20:50] kkoch commented on #28
1) @tslawecki gets the following when using Chrome >
I get the following in Chrome when I press Create an Account ...

catalog.js:3 GET http://portal.glos.us/api/user/self 401 (UNAUTHORIZED)send @ catalog.js:3ajax @ catalog.js:3b.ajax @ catalog.js:12b.sync @ catalog.js:12sync @ catalog.js:12fetch @ catalog.js:12fetchModels @ catalog.js:41start @ catalog.js:42(anonymous function) @ (index):192j @ c

[2016-07-15 12:03] lukecampbell commented on #28
First off I want to thank everyone for including the console! I'll look into this today.

[2016-07-15 15:10] lukecampbell commented on #28
Fixed

[2016-07-15 15:39] kkoch commented on #28
Thanks!  Can you put in the comments what the resolution was?

Kathy

From: Luke Campbell [mailto:notifications@github.com]
Sent: Friday, July 15, 2016 11:11 AM
To: glos/myglos myglos@noreply.github.com
Cc: Kathy Koch kkoch@limno.com; Mention mention@noreply.github.com
Subject: Re: [glos/myglos] Issue Creating New Accounts (#28)

Closed #28https://github.com/glos/myglos/issues/28.

—
You are recei

[2016-07-15 15:43] kkoch commented on #19
Suggest: add a message much like the 'hang tight' message the user gets when they log out that reads something like: "Account creation successful. Thank you for signing up for MyGLOS."

[2016-07-15 16:13] lukecampbell commented on #28
It's extremely hard to describe, and normally I'm all about diving into technical things. But I think it's best to summarize, it was a bug in the code, and I fixed it.

[2016-07-15 16:15] lukecampbell commented on #28
For developers, the commit sha that corrected it was:
5fa22e7e8217bec49e6101ce1d4d9e546e965c89 in OceansMap.

[code]

[2016-07-15 16:20] kkoch commented on #8
Per Ed: resolved a lingering modem issue and the station is now back online.

[2016-07-15 16:20] #8 closed

[2016-07-15 16:25] kkoch commented on #21
Example:
mass_concentration_of_oxygen_in_sea_water:references = "http://www.hrecos.org/images/Data/forweb/HRECOS.QAPP.2013.03.14.pdf" ;
http://sos.maracoos.org/stable/dodsC/hrecos/STCPBY1/STCPBY1_2016-07-05.nc.html

[2016-07-15 16:50] kkoch opened #31 "myGLOS account - user mods"
Add ability for user to modify their account (will be esp. important if we have added fields like user organization).  Example: change password beyond having to say they forgot their password in order to change it, change user name, change email.

[2016-07-15 17:08] kkoch commented on #26
GeoNetwork record added http://data.glos.us/metadata/srv/eng/main.home?uuid=a1742429-c80e-4870-a075-7bb8b96d95eb  > I will tweak the parameters and the obs links once I see it actually showing up in obsCache

[2016-07-19 13:02] kknee commented on #27
Water temp is back, data provider issue.

[2016-07-19 13:02] #27 closed

[2016-07-19 13:57] kkoch commented on #25
Last transmission: July 10

[2016-07-19 18:26] hellocomrade commented on #25
@kkoch

we4 has data:

http://data.glos.us/obs/station/15-428.html

[2016-07-19 18:27] kkoch commented on #25
Yep. Looks like it is back. Thanks @hellocomrade

[2016-07-19 18:27] #25 closed

[2016-07-22 13:44] kkoch commented on #11
Seems to be fixed.

[2016-07-22 13:44] #11 closed

[2016-07-22 15:47] tslawecki opened #32 "Lunch issue"
@gwang, need to know if you have received e-mails about lunch location for today 7/22.

[2016-07-22 18:23] kkoch opened #33 "Login behavior"
If user creates a map and then wants to save it, but they have not logged in or created a MyGLOS account, they then are taken back to the default catalog page. In other words, they have now lost the map they just were working on creating.  Suggest expected behavior to be that they get put back exactly where they were.  [I know this because for some reason myGLOS lost my account or I can't remember

[2016-07-22 18:42] kkoch opened #34 "Viewing "all" buoys on map"
Expected behavior maybe but we should discuss

When I click on the buoys category and then go to map view, I see the catalog list on the left however the only buoys that show on the map are just those showing on the page I am on (9 buoys plus co-ops [since co-ops are visible on page 1]).

I had a user inform us that he thought we didn’t have all the buoys because he wasn’t seeing them on the map a

[2016-07-22 18:42] kkoch opened #35 "Adding collections to custom map"
One does not see a "plus" sign for the ndbc buoys and co-ops (and potentially usgs stations) and only see 'add-to-map' by doing a right click hover.  Expected to see the same + to the right that you get with individual stations [at first I thought it wasn't even possible to do].

[2016-07-22 18:55] #32 closed

[2016-07-25 13:26] kknee commented on #35
Not sure if there is a reason that this option is turned off. Will check in with @cgalvarino.

[2016-07-25 17:58] kkoch opened #36 "Adding new thumbnails to buoys (and other catalog records)"
In cleaning up GN thumbnails, discovered some that aren’t showing in the portal.  Probably added after Charleton and I (Kathy) did all our back and forth in beta.

Would it work to update Charleton’s google spreadsheet (assuming it is still there and I can get to it), or is there another process (like just put the below in github for someone to take care of)? Also, need to know the process going f

[2016-07-26 13:49] lukecampbell commented on #36
For MyGLOS the thumbnails should be coming from Geonetwork.

[code]

![screen shot 2016-07-26 at 9 48 31 am](https://cloud.githubusercontent.com/assets/1155163/17140349/2bededa2-5316-11e6-885d-14eab554d1d9.png)

![screen shot 2016-07-26 at 9 48 48 am](https://cloud.githubusercontent.com/assets/1155163/17140358/307dbf78-5316-11e6-8062-a9a94df1d1dd.png)

![screen shot 2016-07-26 at 9 48 53 am](https

[2016-07-26 13:50] lukecampbell commented on #36
I looked at ESF1 and ESF2, they look fine to me, are these not the images you are expecting to see?

[2016-07-26 13:51] lukecampbell commented on #36
![screen shot 2016-07-26 at 9 51 11 am](https://cloud.githubusercontent.com/assets/1155163/17140434/7b499284-5316-11e6-996c-91e1d6316e18.png)

[2016-07-26 14:59] kkoch commented on #36
Ah. I bet I was experiencing delay on the pics showing up and was thinking I needed to do something else. Patience is obviously something I need to work on (although I thought I waited longer than an hour - but obviously not).  All is good.

[2016-07-26 14:59] #36 closed

[2016-07-26 19:02] kkoch opened #37 "45020 GTBOSS1 buoy no data in portal"
This was a buoy that previously we had as decommissioned but I noticed on NDBC site and GL Buoys that it is now transmitting data. I’ve corrected GeoNetwork but we need to look at getting data back showing in portal (no data showing in obs cache). May need to get with PI to ensure it is being entered into the new ftp site.

[2016-07-26 19:10] kkoch opened #38 "OSUGI not showing HABs parameters"
A little odd because HABs portal shows no data since July 20 but we do have non-HABs parameters coming in to portal. In other words, no data for HABs related parameters (e.g., DO, blue-green-algae, etc.) in Portal or in HABs.  Other parms like air temp are showing in Portal.

![osugi](https://cloud.githubusercontent.com/assets/6392982/17151754/c8380f72-5342-11e6-922b-8bab78f405c9.PNG)
![osugi_habs

[2016-07-26 19:31] #26 closed

[2016-07-26 19:42] kkoch commented on #38
Per Ed > OSU will have their sonde offline (rest of the buoy stays online) for a week or so.

[2016-07-26 19:42] #38 closed

[2016-07-28 16:12] everhamme commented on #37
We supported the re-deployment of this buoy.  Data is coming from the LimnoTech GLOS ftp account.. which is different that its original deployment.  Guan needs to update this.

[2016-07-28 16:13] everhamme commented on #10
Greg C should have sent or is sending this information . Both buoys are on greatlakesbuoys.org

[2016-07-28 16:41] kknee commented on #37
can I suggest that @lukecampbell  or @cheryldmorse take a look at this with given Guan's departure

[2016-08-02 18:46] kkoch opened #39 "Add ability to see buoy status (offline/online)"
Similar to HABs, display a message when we know a buoy is offline (e.g., see what is on Great Lakes Buoys for 45024 > "(7/26/2016) The Luddington buoy is currently undergoing repairs, it will be offline for at least a week and a half.)".  Also during off season, display that information.

[2016-08-02 18:51] kkoch opened #40 "Add 45175 (Mac Straits) buoy"
Believe this is a glos funded buoy so should be in Portal/Obs.

GN permalink > http://data.glos.us/metadata/srv/eng/main.home?uuid=6a0ba163-9a9e-4266-8c10-ebc25fcd84bf  (will need updating once we get into obs)

[2016-08-11 19:26] kknee commented on #6
from Tad:

I used NCO ncks to append all of the GLEAM files together, and placed the result at:

https://limno.sharefile.com/d-sbd1105eb0f747a8b

Please check it out and let me know if it works.

[2016-08-11 19:35] kknee opened #41 "Add mouse position coordinates to map"

[2016-08-11 19:35] kknee opened #42 "Add GLAHF Coordinates to Map"

[2016-08-16 16:36] kkoch commented on #37
fixed

[2016-08-16 16:36] #37 closed

[2016-08-16 16:56] kkoch commented on #39
Short term patch that works for single one-off buoys (but I'd like to see an easier solution down the road where we could update all buoys off season) - I just modified the title in GN for 45025 to indicate the status and will need to remember to remove that statement when the buoy is fixed.
![buoy_status](https://cloud.githubusercontent.com/assets/6392982/17707953/b7ade194-63b0-11e6-890a-906c3ca5

[2016-08-16 18:13] kkoch commented on #10
45176b is in obs cache. Guan having issues because obs explorer cannot handle that 45176 and 45176b are both at same location. Portal does not appear to have an issue with same location (both buoy id's show) but even though GN obs link is in place, 45176b (bottom/sonde) does not show data.  Not sure if this is the obs issue manifesting itself there. Suggestion for the  > Would a possible fix work

[2016-08-16 18:20] kkoch commented on #14
Correction (addition) to this issue.  I see that it was changed for external links on catalog page. Also needs to be changed on map page from "Data Source" to "Metadata".  (I also don't think it needs the word 'record' following metadata.)

[2016-08-17 16:37] kkoch opened #43 "GLENIJC - add to GLOS obs"
Add to obs database and to portal the GLENIJC stations (do not know if this is a new procedure since we have been working on the netCDF files). Some of them are currently showing in portal from NDBC but I believe we want to link through to our GeoNetwork metadata.  PI contact(s) are Greg Cutrell and John Lenters at Limno.  Tad will need to advise on what the process really should be.

Spectacle Re

[2016-08-17 17:04] kkoch opened #44 "Station popups can be hidden by Nav/Search boxes"
The issue is where the map positions itself when you click on the link.  A good percentage of the time the station is off to the right but otherwise it can put it behind the search/catalog box. Not necessarily intuitive to user that if you move the map over you can now see the popup.  Interestingly if you pull up a location which is off to the right of the screen, the map does move automatically o

[2016-08-17 17:11] kknee commented on #44
If you add a station to the map, it does indeed re-center itself.  Easiest solution would be to have the map recenter on clicking any of the layers, but some people find that really annoying.

[2016-08-17 18:40] tslawecki commented on #9
45169 still not displayable in http://portal.glos.us

[2016-08-17 18:40] tslawecki commented on #9
Oops. Pay more attention to the prompts!

[2016-08-17 18:57] kknee commented on #9
still no link to the obs cache in GN, which explains why it's not in the portal.

[2016-08-17 19:18] kkoch commented on #9
Rather circular but it is not linked in GN because there is no link for me to put from cache.  Tad's last message states "is" in postgres (and Guan can see it on ObsExplorer). I checked that as well and agree that it is odd that it is not showing via cache.

Based on the title in the database I extrapolated the following URL, but that doesn't work (just shows [ ] on the webpage > http://data.glos.

[2016-08-17 19:52] kkoch commented on #9
Got it I think.  I noticed that the Crib buoy has the ? in the title that looks odd but works. So I replaced wind for the crib > http://data.glos.us/portal/getObsByPlatform.php?provider=glos&platform=Cleveland+Wind+Buoy+%3F+Cleveland%2C+OH

I'm testing by putting that url into GN

[2016-08-17 21:02] kkoch commented on #9
In postgres database but does not display the ndbc ID (which is why I wasn't finding it in obs cache) – I think it needs to be entered into the ‘other ID’ field or possibly update the station_url with the ndbc link?

Platform URL is correct > http://data.glos.us/portal/getObsByPlatform.php?provider=glos&platform=Cleveland+Wind+Buoy+%3F+Cleveland%2C+OH

I’ve put this in GN with the variables. It ha

[2016-08-17 21:02] #9 closed

[2016-08-18 18:54] kknee commented on #43
@tslawecki let us know if @cheryldmorse should tackle this one.

[2016-08-18 18:57] kknee commented on #40
45175 is in the portal and pop-up correctly displays no results at the moment because there's no data in obs cache.  @kkoch @tslawecki who do you want to tackle the obs cache piece?

[2016-08-18 19:08] kknee commented on #24
this is a non-issue for the new MTRI map server services, will leave open until they are all added and reviewed.

[2016-08-18 19:08] kkoch commented on #40
Guan says there is a bug. Seems a bit odd that we would see a bug between ndbc data and ours since we do this all the time (see below), but I'm sure I don't really understand the issue. (To answer you @kknee it is Tad's call but I'd like to see more ASA involvement).
Following is Guan's last email on this >
"OK, took a look on 45175 and 45176.
Obs explorer API provides 45176 data without any issue

[2016-08-18 19:09] kknee commented on #23
fixed:
![image](https://cloud.githubusercontent.com/assets/196868/17787129/cf3edd62-6555-11e6-9c01-d7de97bc88fc.png)

[2016-08-18 19:09] #23 closed

[2016-08-18 19:11] kknee commented on #22
Update, GFI for time ranges was not working.

Mike Billmire fixed week of 8/15.

ASA needs to integrate new requests and test

[2016-08-18 19:11] kknee commented on #21
@kkoch is this all set?

[2016-08-18 19:14] kkoch commented on #21
Nope. Still waiting on document from PI

[2016-08-18 19:14] kknee commented on #14
@kkoch where do you still see "Data Source", I see "Metadata Record" everywhere.

[2016-08-18 19:16] kknee commented on #6
@lukecampbell reports that the file looks good.  @tslawecki next step to replace what we have in the portal?

[2016-08-18 19:19] kkoch commented on #14
Click on buoy that we don't have data for and it will show the external links (which actually I'd like to also see on buoys that we have data for, but that's another request needing) > e.g., 45176 Cleveland Crib Buoy.  This is on map view.

[2016-08-18 19:50] kknee commented on #43
@cheryldmorse the plan is for you to coordinate with Greg and @kkoch to get this data into the GLOS obs cache and subsequently GN and the portal.

at the same time we nee to document this process, including the GLOS Cookbook for PIs.

[2016-08-19 00:41] kknee opened #45 "Add 45176b to HABS"
@lukecampbell - if you'd prefer that @cheryldmorse take this on please reassign.

[2016-08-22 18:14] lukecampbell commented on #45
I need information.
- Is this already on thredds as netCDF files?
- Station Name
- Institution
- Institution logo
- Parameters
- Location (Lat/Lon as decimal degrees, not minutes/seconds)
- Institution Description

[2016-08-23 16:23] kkoch commented on #45
Don't have the thredds answer but metadata is:

45176b
lon/lat: 41.55016 N, 81.76528 W
station name: Cleveland Crib Lake Bottom
YSI sonde is suspended ~1’ from the lake bottom. We are sending at 10 minute intervals:
• YSI sonde depth
• Temperature
•  Specific conductivity
•  DO sat
•  DO
• BGA rfu/ugl/raw
• CHL rfu/ugl/raw

parameters: [
"ysi_chlorophyll",
"ysi_blue_green_algae",
"water_conductivi

[2016-08-23 16:44] kkoch commented on #45
Institution is LimnoTech

[2016-08-23 17:04] kknee commented on #45
It's not in thredds yet, @cheryldmorse can you tackle that part?  You might need to ask Guan about the process that he used to get started.

[2016-08-23 17:14] kknee commented on #34
this one needs to be discussed as a group to figure out the best solution.

[2016-08-23 17:21] #15 closed

[2016-08-23 17:23] #12 closed

[2016-08-23 17:24] kknee commented on #7
MARACOOS TDS has been performing well with 4.6.6, recommend upgrading the GLOS TDS.

[2016-08-23 19:12] kkoch commented on #10
all is good

[2016-08-23 20:18] lukecampbell commented on #45
This is the one that I'll have to stagger it's location for right? Since HABS can't display two points on top of each other.

[2016-08-23 20:20] kknee commented on #45
you got it.

[2016-08-24 17:53] kknee commented on #45
@cheryldmorse apparently there is a script that writes data from the obs cache to netCDf that Guan used.  I'm not sure where to point you to track it down.

[2016-08-24 18:24] kknee opened #46 "Implement QARTOD for HABS"
couple moving pieces here:
- [ ] @tslawecki & LT to develop test parameters
- [ ] @cheryldmorse to insert QC variables into netCDF files
- [ ] @lukecampbell to implement QARTOD scripts

[2016-08-24 18:30] tslawecki commented on #45
I've added @cheryldmorse to https://github.com/glos/glos_server_script/tree/master/habs, which has the source code. @hellocomrade should be able to tell you where to look, my first guess is on \process1 - there's a habnc executable in /usr/local/glos/habs that might be related.

[2016-08-24 18:37] tslawecki commented on #6
Here's what I want to be able to do:
- Search for a stressor variable in the catalog - e.g. shore hardening. It looks for right now like there is only the combined stressors in the portal catalog, though @kkoch has shown me individual stressors in GN.
- From the record, preview or view on map - show that variable as any other grid.

Separately, I'd like to have a pre-made map (permalink?) with all

[2016-08-24 18:41] tslawecki commented on #45
Note to self. Push "Comment", not "Close and comment". Unless I actually know what I'm doing.

[2016-08-24 18:45] hellocomrade commented on #45
@kknee

It has been on TDS for a week. For example:
http://tds.glos.us/thredds/dodsC/glos/habs/lakes/ysi_blue_green_algae/45176b/45176b.ncml.ascii?blue_green_algae[0:1:973]

[2016-08-24 18:47] hellocomrade commented on #45
@cheryldmorse

I will need to push 45176b's files onto git at https://github.com/glos/glos_server_script/tree/master/habs

[2016-08-24 18:49] hellocomrade commented on #45
@kknee

I never read from obscache. habs2nc is the code base I use. It's a revision from obs2nodc.

[2016-08-24 18:51] tslawecki commented on #46
An additional moving piece is what we do with the QC variables once we have them. A few notions as a starting point, let's discuss ... tomorrow's call? Next week?
1. Provide indication of how many points in a displayed time series have non-zero QC flags.
2. Add (optional) shading to chart to show where potentially "severe" or "minor" QC issues may be present. "Severe" and "Minor" to be defined.
3.

[2016-08-24 18:53] hellocomrade commented on #45
@lukecampbell, @tslawecki, @kknee

I don't think you have to swift the location for 45176b on Habs viewer since 45176 is definitely not on Habs.

This is actually a "mistake" to split 45176 between "regular" NDBC recognizable measurements and HABs specific. NDBC's script can discard unrecognized tags.

[2016-08-31 16:43] cheryldmorse commented on #45
This buoy is already on TDS.

[2016-08-31 20:13] lukecampbell commented on #45
The rest of the task is for me to add it to the habs portal

[2016-09-02 19:21] cheryldmorse commented on #43
@kkoch  Do you have the metadata for these stations?

[2016-09-06 13:34] kkoch commented on #43
All the metadata is on GeoNetwork.  Here are the permalinks:
Spectacle Reef SRLM4 > http://data.glos.us/metadata?uuid=10d10ee5-6bca-45cf-a140-b2ef9fea69e7
Long Point LNPQ6 > http://data.glos.us/metadata?uuid=04c0d6a5-f2ff-47c1-aeab-86f9b2be7b5c
White Shoal WSLM4 > http://data.glos.us/metadata?uuid=d1766782-a3ff-44be-a59f-296d656b6239
Stannard Rock STDM4 > http://data.glos.us/metadata?uuid=c9cf4bfb

[2016-09-06 13:35] kkoch commented on #43
Let me know what updating I need to do to make the magic on your end happen.

[2016-09-06 18:51] kkoch commented on #10
Before vacation on 8/26 we were seeing data for the bottom sonde in portal.  Now we are not.  Not sure if it is a problem on our end, or on data provider's.

[2016-09-06 18:53] #10 closed

[2016-09-06 18:54] kkoch commented on #10
Needed to remove 45176b from geonetwork since I see we are pulling in parameters as one buoy (as it should be).

[2016-09-12 17:36] kkoch commented on #22
Not sure if this fits in this issue or if we need a new one. But MTRI has re-posted all of the 2016 data to their FTP to capture any missing data on the Portal.  Let Amanda Grimm (aggrimm@mtu.edu) know if there is something else that they need to do on their end.

[2016-09-12 18:00] kknee commented on #22
@kkoch yes, and all the latest data is on the GLOS TDS, so we're in good shape on that front.

Still working out a few issues with the new MTRI MapServer services and we'll be good to switch to those services for the portal.

[2016-09-13 15:56] kkoch opened #47 "Desirable data download interaction"
From Tad > Brought up as an example of desirable data download interaction - downloader submits information about intended use. How easily can we add a popup to collect this information, perhaps that is not shown if you log in as a registered user?

Example:

_This is an automated message sent to <user>.

FLUXNET2015 data from your tower sites were downloaded today by <user>
(xxx@xxxxx.edu)

List

[2016-09-14 14:15] kkoch opened #48 "Add 45173 (Munising) buoy"
Not sure how I missed this all these months, but we also are not seeing the Munising buoy 45173 in the portal.  I've added preliminary links to GeoNetwork, but will need to know the exact Obs title and parameters once we get that added.  The data provider should be Greg Cuttrell here at Limno so let me know if there needs to be some back and forth to get data into the ftp folder.

GN permalink > h

[2016-09-14 14:19] kkoch opened #49 "Browser refresh when in map view"
When user refreshes their browser page (F5 or similar) when in map view, it pops them back to the catalog.  Expected behavior (IMHO) is that it should remain on the map. (I've verified it works same way in both FF and IE)

[2016-09-14 14:41] kkoch commented on #40
All is well in Portal.

[2016-09-14 14:41] #40 closed

[2016-09-14 15:27] kknee commented on #49
I would expect the opposite, that it reloads the page entirely, thus showing the catalog.

If it were to stay on the map and you had already customized the map, what would you expect?

Sent from my iPhone

On Sep 14, 2016, at 10:20 AM, Kathy Koch <notifications@github.com<mailto:notifications@github.com>> wrote:

When user refreshes their browser page (F5 or similar) when in map view, it pops them

[2016-09-14 16:31] kkoch commented on #49
Well the times I’ve just brainlessly done it, I think what I was expecting to happen is to have a cleared map.  So I’d done a bunch of searches for buoys and populated the map but I want to have a clean map. Or for me, more commonly I’m testing a buoy and want to refresh the map to see if a GN parameter fix has popped in.

So I just automatically refresh in order to clear what is on the map, but I

[2016-09-15 18:15] kknee commented on #49
@kkoch 10-4, we'll discuss the LOE for this.

In the meantime - you can select 'new collection' to clear your map.

[2016-09-15 18:19] kknee commented on #43
@kkoch the Obs Cache link in the GRIM4 GN record points to STDM4, can you take a look?

[2016-09-15 18:31] kkoch commented on #43
Ooops. Fixed

[2016-09-16 16:15] kkoch opened #50 "Redirect old portal to new"
http://data.glos.us/portal still goes to old portal (suggest redirect with wording like > “The GLOS Data Portal has changed location. You will be redirected to portal.glos.us in ___ seconds. Please make a note and change bookmarks.”

[2016-09-16 16:34] kkoch opened #51 "Add descriptive metadata to portal for GOOGLE search summary"
Right now a Google Search is displaying a description of the leash buoy in the catalog.  Which is somewhat odd since that isn't even the first buoy in the list.

I looked at the page source and do see a tag for description which just reads "oceansmap".  I also read Google's information regarding summary snippets and they say that if the description is not descriptive enough they will pull text fro

[2016-09-16 16:58] kkoch opened #52 "Fix Google Analytics tracking"
GLOS is only seeing 9 hits for Portal traffic for last month.  (Not sure if this is a Charlton fix or not, but tagging him as assignee for now since that's who I have in my notes as having the responsibility).  Please feel free to re-assign as appropriate.)

I do not see GA code in the page source on Production portal. However I do see it on DEV as follows (which I assume is where the 9 hits is co

[2016-09-16 17:02] kkoch commented on #52
Intel from Devra >

I'd imagine the reason the analytics code has been in testing on dev.oceansmap.com/myglos and not up on the live http://portal.glos.us yet is that it has 2 complicated factors:
1) The default Google Tags Manager event tracking doesn't actually capture events tracking for this product the way it does for, say, internal files like .pdf's. So Charlton had to add custom event track

[2016-09-16 17:29] kknee commented on #52
@kkoch if you can give us the thumbs up that dev looks okay to push to production (generally, not the GA stuff specifically) we'll release on Monday.

[2016-09-16 18:12] kkoch opened #53 "MTRI Satellite metadata (abstracts)"
Suggested titles and abstracts for MTRI satellite mapping (from old portal):

• Cdom

Title: Colored dissolved organic matter (absorption/m @ 443nm)

Abstract: Water Color of inland and coastal zones results mainly from three different parameters known as color-producing agents (CPAs). Colored Dissolved Organic Material (CDOM) is the optically measurable component of the dissolved organic carbon i

[2016-09-16 18:15] kkoch commented on #14
Just thought I'd show a specific example since above example is not valid.  Buoy where we are getting active data shows "metadata record" as requested.  Buoy that has been decommissioned but is still ours, has GN link but no data feed so shows 'data source' instead.

![metadatarecord](https://cloud.githubusercontent.com/assets/6392982/18596588/e149b878-7c17-11e6-8c79-7fe79bf64170.PNG)

Another goo

[2016-09-16 18:50] kkoch commented on #52
Sent you an email. Some concerns about MTRI but since that is a production issue as well, doesn't preclude the push to production IMHO.  And my comment about the checkboxes is also minor.  Don't see any reason why you can't move forward.

[2016-09-16 19:17] kkoch commented on #6
WMS link has been removed from GeoNetwork so we should no longer see two records in place once the server refreshes data.  Also I will take the action item to create a permalink to use for the website and others once we push the dev site to production.

Luke: how would you suggest being able to search for the child record data as Tad requests?  If we were still pulling from GN, I would put them in

[2016-09-16 20:39] cheryldmorse commented on #43
@kkoch I'm getting an error now when trying to access this:  http://data.glos.us/metadata?uuid=e5357aed-7af0-4c63-97b6-2ecde90e6a68

[2016-09-17 15:27] kkoch commented on #43
Every once in awhile GN goes rouge on me and resets the access privileges when I edit a record.  98% of the time, I can edit and it retains it's privileges but then there are those times... I usually remember to double-check but apparently did not do so when I tweaked the record the other day.  Should be okay now.

[2016-09-19 18:41] lukecampbell commented on #6
if you put a list of keywords here, I can add them to the record.

[2016-09-20 13:20] kkoch commented on #6
Here you go. Let me know if you need the titles split out from other keywords.

Keywords

environmental impacts, stress, phosphorus, Great Lakes, Laurentian Great Lakes, Lake Huron, Lake Erie, Lake Superior, Lake Michigan, Lake Ontario, Laurentian Great Lakes, Great Lakes, GLEAM, stress, impact, environment, Phosphorus Loading, non-point pollution, models, invasive species, ballast water, models,

[2016-09-20 14:14] kkoch commented on #6
Also, still seeing two records on portal even though I have removed links from GN.  So must be something that needs to be removed on ASA side.

[2016-09-20 14:18] kknee commented on #52
Analytics went live this morning

[2016-09-20 14:18] #52 closed

[2016-09-20 14:23] kknee commented on #42
deployed to production 9/20

[2016-09-20 14:23] #42 closed

[2016-09-20 14:23] kknee commented on #41
deployed to production 9/20

[2016-09-20 14:23] #41 closed

[2016-09-20 14:29] kkoch commented on #50
NOTE: We also need to be sure to leave a backdoor access point for developers and Kathy K when needed for troubleshooting/comparing new to old portals.

[2016-09-20 14:32] kkoch commented on #46
Per discussion at DMAC mtg > Dissolved Oxygen numbers were failing (due to them actually being DO% and issues with incorrect variables). Luke strongly suggests we get the metadata correct even where it would minimally pass some inspection. Tad will have Greg look at and at a minimum take care of issues where the variable names have spaces (should be lowercase and use underscores for spacing (e.g.,

[2016-09-20 14:46] kkoch commented on #35
Adding screenshot for clarification >

![plussign_coops](https://cloud.githubusercontent.com/assets/6392982/18675170/88363530-7f1f-11e6-88b8-5e9b3c0b1c54.jpg)

[2016-09-20 14:49] kkoch commented on #21
Greg Cuttrell  has updated the netCDF files.  Per Tad at last DMAC > Tad needs to take one last look at the netCDF files Greg Cuttrell has modified and then he will run them by ASA

[2016-09-20 15:00] kkoch opened #54 "GLEAM pop-up box pushes map off screen"
The pop-up with all the child records currently pushes the map off screen (down).  Suggest that it be a scrollable box or be positioned to the side instead of top.  Kelly noted that they’ve been wanting to make the boxes scrollable anyway so that might be the easier of the two options.

![gleam_childrecords](https://cloud.githubusercontent.com/assets/6392982/18675739/54fa788c-7f21-11e6-8714-2d0eae

[2016-09-20 15:09] kkoch opened #55 "GLOS By the Numbers (extremes)"
Becky would like to programmatically capture various GLOS by the numbers (extremes like 'highest waves').
- Short term have them emailed to GLOS to use in marketing.
- Longer term would like it to be something that displays on the portal itself.

Kelly confirmed capturing ‘extremes’ data is feasible but would like to wait until after annual meeting. Tad will put on the next fiscal year planning.

[2016-09-20 15:17] kkoch opened #56 "GLEAM website deployment"
Need to have a landing place (server location) for GLEAM.

Message sent to Guan on 9/8. No reply to Kathy but he may have talked with Tad (?).

[2016-09-20 15:31] kkoch commented on #56
For now am creating a sub-directory on 64.9.208.36 in the data.glos directory called 'gleam'.  We can always move it later if needed.

[2016-09-21 13:30] kkoch commented on #48
I've been informed this buoy has been recovered for the season. We can postpone until spring.

[2016-09-21 13:55] kkoch opened #57 "Suppress ndbc feed for GLOS supported buoys"
45161 is showing both NDBC and ‘our’ feed.  Should the NDBC be suppressed?

![45161](https://cloud.githubusercontent.com/assets/6392982/18713785/8639e034-7fe1-11e6-9c1d-a6fea9b3b9d8.PNG)

[2016-09-21 17:53] lukecampbell commented on #6
Right, I have to force clean the catalog for it to remove old records.. I'm making the metadata changes as I type this, once I update the catalog and test it locally, I'll update it on Production with the changes and do a force-clean.

[2016-09-21 18:20] kkoch opened #58 "Permalink lost its data"
My permalink to all the GLOS buoys is no longer working - shows a link in my list but there are no buoys listed below or in the map >

http://portal.glos.us:/?map=cURYbFNEc0hSOXFSLUVURzNwN3BzZzpHTE9TIEJ1b3lz&name=GLOS%20Buoys

This concerns me on several levels in addition to the time spent to build the link:

• I’ve given this link to several people to ease their angst about not seeing buoys when

[2016-09-21 18:32] kkoch opened #59 "Obs displaying knots and degC"
Portal displaying knots and degC.

1) knots - we'd had discussions via emails that there was confusion about what is in obs and thought we'd fixed that and decided on mph and haven't really been paying attention so don't know if that was ever resolved or if we just stuck with knots.

2) I am pretty sure it was displaying degF - not sure when it started showing in C although I'm sure our Canadian f

[2016-09-21 18:33] kkoch opened #60 "Toggle between Units"
Portal displays in knots and degC.  User would like a toggle to switch unit types (e.g. between knots and mph; or between degC and degF).

[2016-09-21 18:39] kkoch opened #61 "Update hover text"
Need to clarify hover text for the following:

1) Hover for Graph parameters reads: "Create a timeseries parameters graph".  Suggest changing this to: "Click on a parameter checkbox to create a timeseries/parameters graph"

2) Hover for Buoys & Station Obs in sidebar reads "Buoys &amp; Station Obs".  Need to change the &amp; to just an &.

3) Hover for Enter Buoy Virtual Creation Mode reads: "Togg

[2016-09-21 18:42] kkoch opened #62 "Timezone change"
We changed the timezone recently to GMT but user (Ed) is suggesting that it not be GMT because users might have difficulty converting.  Suggest looking into a way to either recognize the user's location or make it Eastern or Central depending on the location of the observation.  Perhaps possibility of saving a preferred location in MyGLOS and having the map recognize it?

[2016-09-21 18:48] kkoch commented on #34
Just updating that we got another user saying that we didn't have buoys.  Possible short term fix/suggestion is that we add an instruction to the sidebar.

Something like : "Map view contains the items in the list below. To see more, click on the "Next" button below."

But then we definitely need to find a way to let the user display everything in that category (or have some pre-built buckets that

[2016-09-22 16:47] lukecampbell commented on #6
http://myglos.asa.rocks/ is all set, do you want to take a look at that to see if it jives with the metadata?

[2016-09-22 17:30] lukecampbell commented on #62
I don't understand. The times are completely based on your browser locale settings. If your computer/browser is set to EDT, it will render EDT for example, I'm on the east coast and here it is in EDT.

![screen shot 2016-09-22 at 1 29 53 pm](https://cloud.githubusercontent.com/assets/1155163/18759062/c5facb74-80c8-11e6-8840-2f73c0f974de.png)

[2016-09-22 17:32] everhamme commented on #62
The issue is putting text  “EST” next to it or “EDT”.. not many folks know how to interpret GMT -4:00

From: Luke Campbell [mailto:notifications@github.com]
Sent: Thursday, September 22, 2016 1:31 PM
To: glos/myglos myglos@noreply.github.com
Subject: Re: [glos/myglos] Timezone change (#62)

I don't understand. The times are completely based on your browser locale settings. If your computer/browser

[2016-09-22 17:40] lukecampbell commented on #62
I was afraid you were going to say that. Timezone names are not trivial... We deliberately removed them because of a discussion on the moment.js issues tracker.

To summarize the issue; there's not a consistent or standard way to correctly identify the time zone. For example, if you live in Arizona, you cross MST and PST, I think. And there was noted to be several issues with all of the Asia Pacif

[2016-09-22 17:41] lukecampbell commented on #62
Reference too
https://en.wikipedia.org/wiki/List_of_time_offsets_by_U.S._state

just because I think it's amazing how complicated timezones are.

[2016-09-22 17:41] kkoch commented on #62
Well it is in the future/proposed enhancement section.  So lets keep it on the burner and there may be something that comes thru in the next planning cycle.

[2016-09-22 17:42] everhamme commented on #62
99% of our users should be in either eastern or central… most will be eastern….   Agreed timezones are messy.. we’ll add it to the list!

From: Luke Campbell [mailto:notifications@github.com]
Sent: Thursday, September 22, 2016 1:40 PM
To: glos/myglos myglos@noreply.github.com
Cc: Ed Verhamme everhamme@limno.com; Comment comment@noreply.github.com
Subject: Re: [glos/myglos] Timezone change (#62)

I

[2016-09-22 17:58] kknee commented on #62
all, using EST and EDT get really tricky and is something we specifically tried to ignore.  The recent change to the portal timezone label was an effort to make it more understandable.

We could add "Local" to the label, e.g.:  Sep 22, 2016 12:30 Local (GMT -04:00)

[2016-09-22 18:25] kknee commented on #61
1 - but what if they already have parameters checked?
2 - I'm not clear on this one
3 -virtual buoy mode does not require a myGLOS account.

[2016-09-22 18:26] kknee commented on #60
@kkoch could we start with a global Metric vs English units toggle?

[2016-09-22 18:57] kknee opened #63 "Create WAF for registering with IOOS Catalog"

[2016-09-22 19:10] kknee opened #64 "Add Privacy Policy"
To registration page/login page & menu

[2016-09-23 12:34] kknee commented on #61
@kkoch for no. 1, how about "create a timeseries plot of selected parameters"

[2016-09-23 14:22] kkoch commented on #62
I really like the idea of adding 'local'.

[2016-09-23 14:28] everhamme commented on #62
In the NDBC world.. “local” means observations are reported in the time zone of the station..  not necessarily the time zone of the user reading the data.

From: Kathy Koch [mailto:notifications@github.com]
Sent: Friday, September 23, 2016 10:23 AM
To: glos/myglos myglos@noreply.github.com
Cc: Ed Verhamme everhamme@limno.com; Comment comment@noreply.github.com
Subject: Re: [glos/myglos] Timezone c

[2016-09-23 14:28] kkoch commented on #61
3 - okay it wasn't working the other day then but does seem to be today (and I just thought oh maybe I need to be logged in).  So scratch that request.

2 - ah because github changed my code to the appropriate text. Let's try this. Hover for Buoys & Station Obs in sidebar reads "Buoys `&amp;` Station Obs". Need to change the `&amp;` to just an &.

1 - I don't think it will matter if they have them

[2016-09-23 14:29] kkoch commented on #60
I'm game.

[2016-09-23 14:30] everhamme commented on #62
I  suggest a temporary fix is to add a time zone description to the “About” pop up description.

Note:  time.gov can identify my timezone just fine..  http://time.gov/   we can’t?

From: Kathy Koch [mailto:notifications@github.com]
Sent: Friday, September 23, 2016 10:23 AM
To: glos/myglos myglos@noreply.github.com
Cc: Ed Verhamme everhamme@limno.com; Comment comment@noreply.github.com
Subject: Re:

[2016-09-23 14:42] kkoch commented on #61
And yes your suggestion for text on #1 is a good compromise

[2016-09-28 12:56] beckypearson opened #65 "MyGLOS Message sending failures"
I forgot my myGLOS password, and therefore, I requested to change it.  However, I get an error saying that my request could not be sent.  Then I tried to submit some feedback using the feedback form, and I get another error window saying that there was a problem sending your feedback message.

[2016-09-28 13:17] lukecampbell commented on #65
This seems like a critical issue. I'm taking a look now.

[2016-09-28 13:24] lukecampbell commented on #65
Ok, this should be fixed now. Can you try again?

[2016-09-28 13:27] beckypearson commented on #65
I tried both features (password change request and feedback form) again.  They both work!

[2016-09-28 13:36] lukecampbell commented on #65
The credentials for sending email through AWS was stale, I updated them to match the latest keys.

[2016-09-29 18:58] #65 closed

[2016-10-04 18:16] kkoch commented on #58
I've rebuilt the link.  Luke looked into this but not sure why it occurred and hoping it was a momentary network error/glitch. Do we want to close for now as unresolved but we can re-open if it happens again?

[2016-10-04 18:18] lukecampbell commented on #58
I'll just knock off the high priority. it's still a bug and I don't feel any closure with this since we couldn't find any evidence or information as to what happened. And that worries me.

[2016-10-04 18:20] kkoch commented on #57
Looks like other buoys are now showing ndbc feeds that were not before as well.  Listed below are the ones I've come across >

45026
45028
45161
45171

[2016-10-04 18:28] kkoch opened #66 ""Popular" Permalinks"
Starting a list of possible 'popular' or useful permalinks.  Would like to eventually have a discussion on offering these to users (maybe in portal menu or even another left nav sidebar).

- **GLOS 2016 funded obs** > http://portal.glos.us:/?map=cURYbFNEc0hSOXFSLUVURzNwN3BzZzpHTE9TIEZ1bmRlZCBPYnMgMjAxNg%3D%3D&name=GLOS%20Funded%20Obs%202016

- **GLOS tracked buoys/obs** > http://portal.glos.us:/?m

[2016-10-04 18:53] kkoch opened #67 "Add 45170 to portal"
45170 (Indiana-Illinois Sea Grant) buoy is also not in the portal/not in obs.  May need to get with data provider (Jay Beugly maybe?) to get into ftp cache.

GN permalink > http://data.glos.us/metadata/srv/eng/main.home?uuid=dbccce4c-6b18-4f4b-b70a-ff043d37c702

Looks like this buoy is still in water and is a glos-funded buoy (and could potentially be looked for at annual meeting next week) so may

[2016-10-04 19:07] everhamme commented on #67
This buoy isn’t GLOS funded..  we have assisted in the past with coding and have the ability to easily modify the code.  I will email about getting data sent to GLOS.

From: Kathy Koch [mailto:notifications@github.com]
Sent: Tuesday, October 4, 2016 2:54 PM
To: glos/myglos myglos@noreply.github.com
Subject: [glos/myglos] Add 45170 to portal (#67)

45170 (Indiana-Illinois Sea Grant) buoy is also no

[2016-10-04 19:10] kkoch commented on #67
Interesting - because GLOS staff this morning told me that it (along with 45174) was funded and I put it on their map for the annual meeting.

[2016-10-04 19:10] cheryldmorse commented on #67
We are already receiving data for buoy 45170.

[2016-10-04 19:12] kkoch commented on #67
That's good. Now we just need to make it show up in portal.  Doesn't show in obs

[2016-10-04 20:46] cheryldmorse commented on #67
Added 45170 to the database. @kkoch here is the obs cache link: http://data.glos.us/portal/getObsByPlatform.php?provider=glos&provider=glos&platform=Illinois-Indiana+Sea+Grant+Buoy+%2845170%29+-+Michigan+City%2C+Indiana

[2016-10-06 18:19] kkoch opened #68 "Bad behavior with logging in and menus"
Becky reported not seeing the dropdowns when she clicks on the Account icon (MyGLOS Login and Create an Account). Also other login behavior issues.

Kathy's troubleshooting >
• Logged in to my account to Chrome several times at NOAA with no issue.

• Becky then attempted to log in to her account and it told her that her password was wrong.
• She clicked on reset password, entered her email, got th

[2016-10-06 18:22] kkoch commented on #68
Luke/Kelli reported:
This is the issue I see often, when I log in. There's a problem with UserApp, and I can't solve it on our end since they completely control our authentication. I've emailed their support email twice and have never heard a response. I suspect that since we're not a paying account/customer, we take less priority in their queue of issues.

Luke took a look at the feedback, about

[2016-10-06 18:27] kkoch commented on #67
Done. Looking good!

[2016-10-06 18:27] #67 closed

[2016-10-06 18:44] kkoch opened #69 "Permalink behavior change"
When you search or browse to an entry on the map using the top search nav you click on the title (e.g., Ashtabula water intake (leash)) and it takes you to the map marker with the pop up showing observation values.

![permalink](https://cloud.githubusercontent.com/assets/6392982/19165599/6b69795c-8bd2-11e6-9c3f-fe4f3a2358b0.PNG)

However, when you click on the similar link in a list of permalink i

[2016-10-06 18:50] kknee commented on #34
@kkoch @lukecampbell can we revisit the idea of grouping all GLOS funded buoys into a collection that consists of a single entry in the catalog?  Or do we lose too much opportunity for attribution?

[2016-10-06 18:57] kkoch commented on #34
Well based on what I found out yesterday when prepping for annual meeting - there are only about 5 buoys plus 2 that are adopt-a-buoy, the evaporation stations, simcoe and gliders that are actually funded by GLOS.  So we pretty much have two categories at that point.  One which is actual glos funded http://portal.glos.us:/?map=cURYbFNEc0hSOXFSLUVURzNwN3BzZzpHTE9TIEZ1bmRlZCBPYnMgMjAxNg%3D%3D&name=G

[2016-10-07 12:53] kkoch commented on #6
Sorry somehow I missed your comment.  Yes while I didn't search for every keyword, everything I did try came up and I only see the one record with all it's child records.  How soon can we push to production?

[2016-10-07 14:44] lukecampbell commented on #6
Monday at the earliest.

[2016-10-07 15:44] kkoch opened #70 "Collections pop-up off screen"
I made the mistake of updating Firefox on my laptop today to 49.0.1 and it is now doing what I believe is the same or similar behavior Tad was seeing -   I have a large amount of permalinks (maybe hit the practical limit of how many to have - problem with that is that I have more to add) and it would pop-up the list of saved datasets but it would be off the top of my screen and not allow me to get

[2016-10-07 15:59] kkoch opened #71 "Add option to rename a saved search"
I believe right now the only way to rename a saved permalink/search is to save it again under the new name and delete the old.  I think it would be useful to have a rename search option.

[2016-10-12 17:15] kkoch opened #72 "Variables selection list"
Add list of parameters/variables to portal (so that users can just see mapped items relating to a specific variable - e.g., everything that tracks currents).

[2016-10-12 17:16] kkoch opened #73 "Add ability to narrow by lake"
Add selection list or filter by lake

[2016-10-12 17:42] kkoch opened #74 "Model/Satellite metadata/access to thredds"
1) Add to external links for data available on products (e.g. Modis sat) over to thredds for data download.
(Part of manual creation of record).  [for discussion - not sure if we want it that visible but seems like it could be]

2) Add metadata link over to GN (i) option which would also be another way to access thredds - Kathy will need to revamp the metadata records for all, but the link icon cu

[2016-10-12 18:33] kknee opened #75 "Add MOE-49 (LOBOviz - new buoys for GLOS)"
From Tad:
It's SOS 1.0.0, but the service request returns a .tsv file for download (?).
http://ontario2.loboviz.com/cgi-ioos/GetCapabilities

[2016-10-12 18:34] kknee commented on #75
From Luke:

I don't see that happening in the scale of 1-day. Off the cuff estimates are several days for integrating SOS sources.
- [ ] Add new harvest source [LT]
- [x] Create and compile metadata for the source [LT]
- [ ] Link the geonetwork metadata record with the harvested dataset in oceansmap [RPS]
- [ ] Address any data quality issues [TBD]
- [ ] Deploy to dev [RPS]
- [ ] Test dev [RPS]
-

[2016-10-12 19:27] kknee opened #76 "Add OFS Water Level and Water Temp parameters"
These are available via the GLOS EDS key.  @lukecampbell I think that means the ball is in your court to add them to the data catalog.

[2016-10-12 19:42] lukecampbell commented on #76
Correct, GLOS doesn't use an EDS API Key because of the use case for grouping layers together under a model name. So I have to manually manage layers.

[2016-10-18 14:27] #24 closed

[2016-10-18 14:28] kknee opened #77 "Pull Older Versions of Satellite Data from Catalog"
All of the 'MODIS' records can be removed from the catalog in favor of the new 'MTRI' records.

[2016-10-18 14:31] kknee commented on #22
see sources called "MTRI..." in catalog

[2016-10-18 14:31] #22 closed

[2016-10-18 14:34] #6 closed

[2016-10-18 15:25] kknee opened #78 "Click Speed Issues with Menu Items"
Users reporting no response when clicking on menu items.  @lukecampbell determined it might have to do with click speed.

[2016-10-18 16:28] kkoch commented on #58
Just lost all my gleam permalinks.  They still appear in my saved collection but don't do anything.  This is pretty major since that is what I'm using for the website.

Example permalinks:
http://portal.glos.us:/?map=cURYbFNEc0hSOXFSLUVURzNwN3BzZzpnbGVhbQ%3D%3D&name=gleam

http://portal.glos.us:/?map=cURYbFNEc0hSOXFSLUVURzNwN3BzZzpHTEVBTSAtIEFxdWFjdWx0dXJl&name=GLEAM%20-%20Aquaculture

![gleam_per

[2016-10-20 19:19] kkoch commented on #51
We need to change this line (or add an additional line) in the html code for the site:

<meta name="description" content="OceansMap">

...to something similar to what we have on HABs…

<meta name="description" content="The HABs Data Portal provides access to real-time data from stations around the Western Lake Erie Basin, including measurements of temperature, specific conductivity, turbidity, pH,

[2016-10-20 19:49] kknee commented on #55
Extremes:

Highest (Air and Water) Temp for the Day
Highest Wave for the Day
Lowest (Air and Water) Temp for the Day
Highest Wind Speed for the Day
Fastest Current for the Day
Highest or Lowest Water Levels on a specific Great Lakes this year

Calculated used all available buoys/stations

[2016-10-21 13:28] kkoch commented on #50
Decision >
Change old portal to new url (e.g., portal-2103)
Redirect old to new

[2016-10-21 13:28] kkoch commented on #55
“Today on the Great Lakes” LoE will need to be done in next contract. However, we have a short term need which is to provide the data to Kristin so she can tweet. Simplest all stations (if not, then just glos), daily basis.  Longer term, need to discuss if we have this actually display on home page, on portal, and then how to display it (button, pop-up, stationery box, etc.).

[2016-10-21 13:29] kkoch commented on #68
Luke has put a fix on dev for the one issue that seems to be related to click speed (and a separate ticket has been opened for this). Kathy will test dev on Friday and let him know whether okay to push to production.

[2016-10-21 13:30] kkoch commented on #46
Luke to apply Tad's numbers to the data and visually inspect.  To be done this budget year if possible (before end of Oct.)

[2016-10-21 13:33] kkoch opened #79 "IOOS 52NSOS update"
Shane at Axiom is updating to latest version. He inquired whether we though Docker is a good idea. Luke doesn’t think the 52N server has a version of Linux that is compatible with Docker, but otherwise, up to Axiom.  NOTE: Tad wants this done so that he can take advantage of the WaterML2 capabilities for an EPA project.

[2016-10-21 13:34] kkoch opened #80 "NCEI submittals"
No one on team is aware of status of NCEI but Tad hasn't received any accession numbers since July. He will check the system and see if there are issues and if so connect with Matt Biddle for next steps.

[2016-10-21 13:35] kkoch commented on #75
Due to the bi-national nature, would be really good if we could get this done this year even though the buoys will be out of the water Nov. 15.  Since it is unlikely ASA will be able to fit this in by end of October, Kathy will email them and ask them to fill out a metadata form and let them know we are working on it.

[2016-10-21 13:37] kkoch commented on #78
Luke has a fix on dev. Kathy will test dev and okay push to production on Friday.

[2016-10-24 14:46] kknee commented on #43
@cheryldmorse or @kkoch, whats the status of this issue?

[2016-10-24 18:45] kkoch commented on #43
GRIM4 Granite Island looks good
WSLM4 White Shoal - had to fix the variables, should look good after next refresh
SLRM4 Spectacle Reef - had to fix the variables, should look good after next refresh

LNPQ6 Long Point - not showing data but does show the QA documentation link I added the other day [I see a record in obs but doesn't have variables - guessing this was one @cheryldmorse was trying to

[2016-10-24 20:40] cheryldmorse commented on #43
@kknee We don't have any data for LNPQ6 or STDM4 yet.  I sent an email today to the contact at GLERL  to see if he can start pushing the STDM4 data. I asked  Greg Cuttrell about LNPQ6 and he said that  the real-time data is technically Environmental and Climate Change Canada's data and he doesn't have any contact information for their data mangers.

[2016-10-25 13:22] kkoch commented on #43
I'm also sending an email to Greg to verify since he filled out the metadata forms which if we don't have access to the data for LP then we shouldn't have it in the portal IMHO and then what is in the form is incorrect. Same for Stannard.  I also fixed the longitude in GN for Spec Reef since what he had in his form differs from obs (and it was placing the point in Lake Michigan).

[2016-10-25 14:02] kkoch opened #81 "Ashland Break Water Lighthouse data"
Contact form from GLOS on Oct. 3>

Name : Paul Reneau
Company : USGS
Email Address : pcreneau@usgs.gov

Comments
    Recently we installed equipment on the Ashland Break Water Lighthouse. This includes water velocity, water temp, water level, precip, air temp, wind speed, wind direction, RH, and two cameras. In the spring we will be installing a water quality probe, wave height sensor and ice draf

[2016-10-25 14:05] kkoch commented on #81
Sent Paul email asking if the data is already being published by USGS – possibly in WMS format somewhere and if not, that we might have to have him ftp the data to us.

Also asked him to fill out metadata form or to provide me with xml for ISO19115/19139 metadata.

[2016-10-25 14:07] kkoch commented on #75
Emailed John telling him we will be working on this and asking someone from his organization to fill out my metadata form (one form per buoy).

[2016-10-25 14:09] kkoch commented on #75
Here is full text of John's original email to Tad so we have it captured here for integration >

From: Thibeau, John (MOECC) John.Thibeau@ontario.ca
Sent: Wednesday, October 12, 2016 1:40 PM
To: Tad Slawecki
Subject: FW: SOS interface for LOBOviz

Hi Tad,
Sorry this took so long.

We’ve deployed our new buoy system in the central basin of Lake Erie. It’s also been included here with the two Lake O

[2016-10-25 14:10] kkoch commented on #78
Tested dev.  Seems to work just fine. Okay to push to  production.

[2016-10-26 19:42] kkoch opened #82 "Add fields to user feedback form"
It does not seem intuitive to users if they are having a technical issue to submit a Feedback form.  Suggesting we maybe add to the form something like a check box for 'technical issue' or 'need support' and one for 'general feedback'.    In addition we might want to rename "Feedback" to "Contact Us".

We might also want to add some contact information to the "about us" screen - or point them to C

[2016-10-26 21:50] tslawecki commented on #82
Also, is it feasible to store a permalink and attach it to the e-mail so that we can easily reproduce the state of the portal? We might want to ask for the user's permission to do this at the time of ticket submittal.

[2016-10-28 13:40] kkoch opened #83 "User seeing incorrect day when using MTRI model and virtual buoy"
User submitted the following issue >

Thanks for your assistance guys, This might get a little convoluted, but I'll try to the best of my ability to describe a) what I'm trying to do and b) the problem I'm encountering. I actually sent some feedback through the website, so the project team may be getting this twice.

Basically, I have these 15 sites in Western Lake Erie that I've been conducting s

[2016-10-28 13:45] kkoch commented on #28
User (Doug Kane) reports that he is unable to create a myGLOS account:

"....I am having a problem signing up for a MyGLOS account.  When I click on that option in the Data Portal nothing happens.  Please help if you can or send this on to someone who might be able to help.  I am a GLOS member and went to the conference in Toledo."

We have had him try again and this is his reponse: "Just tried in

[2016-10-28 13:46] kkoch commented on #28
Asked @lukecampbell to create an account for him while we investigate further.

Doug Kane dkane@defiance.edu

[2016-10-28 14:55] kkoch commented on #28
Doug reports that he was able to create an account.

Kelli Knee reports that the issue is with click speed so closing this issue again and putting that under the other issue tracker for click speed.

[2016-10-28 14:55] #28 closed

[2016-10-28 14:57] kkoch commented on #78
Luke reported that the fix worked for the popover for "provide feedback, about and tutorial videos". But it's not working for the login popover. We'll have to create a separate fix for that popover at some point.
Production is updated.

User Doug Kane reported issue with not being able to create an account.  Kelli says this is this click speed issue.  He has managed to create an account, but obvio

[2016-10-28 19:18] kknee commented on #83
I think there are two things in play here:
1. MTRI map services are EPSG 4326, but our GFI sends coordinates in EPSG 3857.  There is already a known issue that the GFI doesn't always return results because of the projection difference.

so...why does the same GFI work for Christine for some dates and not for others....
1. Take a look at the two screenshots closely, the newer image is much higher r

[2016-11-01 16:00] kknee opened #84 "Add checksums to TDS for GLCFS data"

[2016-11-03 17:47] kknee commented on #78
fix is now applied for login menu.

[2016-11-03 17:47] #78 closed

[2016-11-03 17:54] kknee commented on #83
This is fixed.  We decided to unproject the coordinates in our request rather than ask MTRI for changes.  @kkoch will you get in touch with the user?

[2016-11-03 17:54] #83 closed

[2016-11-03 19:20] kknee commented on #63
WAF created: http://tds.glos.us/waf/

[2016-11-03 19:20] #63 closed

[2016-11-03 20:26] kkoch commented on #83
Email sent to user.  Will let you know if this resolves it for her.

[2016-11-04 12:44] kkoch commented on #83
User reports all is well with the world.

[2016-11-04 13:14] kknee opened #85 "Add GLCFS 50-day netcdf files for days 101-150, and 251-300"
From Greg:

I've posted the GLCFS 50-day netcdf files:
http://www.glerl.noaa.gov/emf/glcfs/tmp/forTad/

There are 34 files, totaling 11 GB.

These would replace the 6-hr nowcast-2d, nowcast-3d, and nowcast-forcing files for doys 101-150, and 251-300.

For example:
http://tds.glos.us/thredds/catalog/glos/glcfs/archivecurrent/michigan/ncfmrc-2d/files/catalog.html
http://tds.glos.us/thredds/catalog/g

[2016-11-09 21:22] cheryldmorse commented on #85
All of the files have been updated on the TDS.

[2016-11-09 21:22] #85 closed

[2016-11-14 02:22] cheryldmorse commented on #7
Upgraded glos to TDS 4.6.6

[2016-11-14 02:22] #7 closed

[2016-11-15 17:29] kkoch commented on #56
@lukecampbell
Here’s what I think I need
• A production landing place for the gleam website/html and a proxy redirect (reverse proxy?) so that data.glos.us/gleam functions for the user
• Ability to sftp files easily (I usually use winSCP and/or dreamweaver) for both the initial setup and subsequent changes
• If I am not able to sftp to the production landing spot, then I also need a dev URL where

[2016-11-29 15:48] kknee commented on #82
Decision is to change "Provide Feedback' to "Contact Us" and then update title of feedback text box to "Provide Feedback or Report Issue"

[2016-11-29 16:03] kknee commented on #16
show individual use constraints from GN metdata?

[2016-11-29 16:41] kknee commented on #59
This likely got fixed as a results of routine OceansMap updates.  We did not apply a specific change here.
It is worth noting that OceansMap will have the option to switch between metric and english units very soon.

[2016-11-29 16:41] #59 closed

[2016-11-29 16:52] tslawecki commented on #80
Confirmed with Matt that NCEI has not received submittals since July. @gcutrell tasked to start looking into task.

[2016-11-29 16:52] tslawecki commented on #79
Checking in with Axiom.

[2016-11-29 16:53] tslawecki commented on #79
Also, we need to update the ServiceProvider information in 52N to match new address and phone number, so I requested credentials from Shane.

[2016-11-29 16:55] tslawecki commented on #21
The link to QA documentation is in there properly, so perhaps @gcutrell or @lukecampbell  can do one last compliance check and we close this?

[2016-11-29 16:56] tslawecki commented on #46
@lukecampbell - do you now have credentials/edit access to THREDDS, or is this still blocking?

[2016-11-29 17:49] lukecampbell commented on #46
We need to figure out a way to create a read/write mount. Right now the THREDDS mount for the data is read-only, which is fine. But, wherever we process the data we need to be able to write to the datasets. The old approach was to generate netCDF files and transfer them to the host using `scp` but doing that continuously for QARTOD would result in a lot of additional labor and would very likely bo

[2016-11-29 18:09] gcutrell commented on #21
In a previous email it was noted from an example of Lukes that the qa/qc information was placed as a "references" attribute under each parameter. Looking back at my files I placed the instrument type and model for each parameters "references" and placed the qa/qc information under the global "references" attribute . If this is OK I did not receive any compliance alerts that a parameter or global r

[2016-12-15 16:41] kknee commented on #55
emails successfully being sent to Becky and Kristen

[2016-12-22 20:46] kkoch opened #86 "HABs portal back data unavailable"
From: Abigail Tomasek <toma0074@umn.edu>
Sent: Monday, December 19, 2016 4:22 PM
To: dmac@glos.us
Subject: [GLOS DMAC] Problem with HABs data portal

Hello,

I am trying to download phycocyanin and temperature data from Lake Erie buoys for 2016. It appears that there might be an issue with the website and the data isn't available for the buoys before November (all variables are reporting as 0). Is

[2016-12-22 20:48] kkoch commented on #86
Tad and Cheryl checked thredds and data seems available - just not showing in portal.  Possible aggregation issue?

Tad replied to user > The data are available (not as conveniently) through the GLOS THREDDS Data Server - see
[http://tds.glos.us/thredds/catalog/glos/habs/lakes/ysi_blue_green_algae/catalog.html]
[http://tds.glos.us/thredds/catalog/glos/habs/lakes/sea_surface_water_temperature/catal

[2016-12-22 20:51] kkoch commented on #82
Note this was also a recommendation from the UofM student team.

[2017-01-03 16:38] kkoch opened #87 "HECFWS not working"
From Tad: I noticed this AM that HECFWS is not showing anything for me ... http://data.glos.us/hecwfs/

[2017-01-03 16:38] kkoch commented on #87
Luke wrote: There's no obvious directory, that I can see, that needs to be created due to the new year.

I don't really know what or how HECWFS enters the system. There's a job that runs on data.glos.us called HECWFS but it's been failing since August, so I don't think that's the way it gets onto THREDDS.

hecwfs.py forecast (Job)
User: gwang
Location: /usr/local/glos/script/hecwfs.py
Schedule: Ev

[2017-01-03 16:39] kkoch commented on #87
Gwan replied: There should be two identical scripts running on data.glos and process1.glos. The one populates thredds is at process1

[2017-01-03 17:05] kkoch opened #88 "TDS catalog "Current Year" not pointing to 2017 files."
From Greg Lang, NOAA >

FYI, TDS catalog "Current Year" not pointing to 2017 files.

http://tds.glos.us/thredds/glcfs/glcfs_nowcast.html
http://tds.glos.us/thredds/glcfs/glcfs_forcing.html

And there are no 2017 files:
http://tds.glos.us/thredds/glcfs/glcfs_nowcast.html
http://tds.glos.us/thredds/glcfs/glcfs_forecast.html
http://tds.glos.us/thredds/glcfs/glcfs_forcing.html

Greg

--
Gregory A. Lan

[2017-01-03 17:06] kkoch opened #89 "GLCFS netddf files posted"
Hi Tad, DMAC

I've posted the 2016 GLCFS 50-day (301-350) netcdf files:
http://www.glerl.noaa.gov/emf/glcfs/tmp/forTad/

There are 17 files, totaling 5.6 GB.

Also,
I've posted the GLCFS 16-day (351-366) netcdf files:
http://www.glerl.noaa.gov/emf/glcfs/tmp/forTad/

There are 17 files, totaling 1.8 GB.

These 34 files would replace the 2016 6-hr nowcast-2d, nowcast-3d, and nowcast-forcing files fo

[2017-01-03 17:29] kkoch commented on #87
From Luke > I'm still debugging but I'm like 90% sure that GLERL moved the files so it broke our harvesting. It looks like they enabled HTTPS and disabled HTTP connections for downloads.

https://https.cio.gov/

The whitehouse issued a memorandum a while back requiring all federal sites to enable HTTPS only, so I suspect this is going to cause a lot of issues that we'll have to work through.

[2017-01-03 17:31] kkoch commented on #88
? possibly related to http:// to https:// disabling/enabling issue

[2017-01-03 17:32] kkoch opened #90 "HABs data end of year"
HABs portal data seems to stop at 12/31/2016, too.

[2017-01-03 19:42] kknee commented on #90
This was related to a missing 2017 folder in the HAB TDS directories, e.g. http://tds.glos.us/thredds/catalog/glos/habs/lakes/ysi_turbidity/utlcp/catalog.html.

@lukecampbell added the directories and issue seems resolved.

[2017-01-03 19:42] #90 closed

[2017-01-03 19:43] kknee commented on #88
GLERL switched to https 8 weeks ago - @cheryldmorse will update script links to https, create 2017 TDS directories, and look into what else is going on.

[2017-01-03 19:44] kknee commented on #87
script on process1.glos was updated and files are now being harvested onto TDS correctly.  Still looking into issue with HECWFS tool.

[2017-01-03 19:46] kknee opened #91 "Update TDS harvesting scripts?"
Can GLCFS, HECWFS, and HABS harvesting processes be updated so that they don't break on New Year's Day every year?

[2017-01-04 14:27] lukecampbell commented on #86
I found the issue. At some point the netCDF the variable names of the files switched from "blue_green_algae" to "ysi_blue_green_algae". This broke the THREDDS aggregation.

http://tds.glos.us/thredds/dodsC/glos/habs/lakes/ysi_blue_green_algae/leorgn/2016/leorgn_ysi_blue_green_algae_2016263.nc.html

http://tds.glos.us/thredds/dodsC/glos/habs/lakes/ysi_blue_green_algae/leorgn/2016/leorgn_ysi_blue_gr

[2017-01-04 14:48] kknee commented on #86
@kkoch @tslawecki is the above change something that you would like us to tackle or something @gcutrell can do?

[2017-01-04 20:18] gcutrell commented on #86
@tslawecki is out on vacation and may be slow to respond. Changing the variable names seems straight forward. Do we want to rename all the old variables "ysi_blue_green_algae"?

Any idea on why on why there was a name change @lukecampbell? It looks like the platform configurations on process1, which all define the variable name as "ysi_blue_green_algae", have not been modified since 2015.

[2017-01-04 20:48] lukecampbell commented on #86
I don't know why there was a name change but files before November of 2016 are named "blue_green_algae" instead of "ysi_blue_green_algae". Maybe more.

[2017-01-04 22:06] kknee commented on #86
@gcutrell - please also note that blue_green_algae is just an example - multiple variables seem to have 'ysi_' added to the name after Nov 2016.

[2017-01-06 14:28] kkoch opened #92 "Thredds out of disk space"
Greg C just checked Munin on our remote server and it looks like thredds has run out of disk space (maxed out at 99.94%.

[2017-01-06 14:30] kkoch commented on #92
Note: I assigned this to @cheryldmorse because I think you worked on this after Guan left.  Please re-assign if it's really someone else.  And @gcutrell added you just to keep you in the loop.

[2017-01-06 16:39] kkoch opened #93 "GLCFS 2016 query not working"
Ed reports that he can’t access results from GLCFS for 2016 using the following query:

http://data.glos.us/glcfs/glcfsps.glos?lake=erie&i=-81.821&j=41.615&v=wvh&st=2016-01-01:00:00:00&et=2016-10-31:00:00:00&u=e&order=asc&doy=1&tzf=-5&f=csv

Can someone take a look and determine if this is related to the thredds disk space issue or if it is something else?

[2017-01-06 16:40] kkoch commented on #81
Paul reports that he will revisit this in the spring. So on hold for now

[2017-01-06 16:43] kkoch commented on #77
We also then will need to enhance the MTRI records (abstract, keywords).  Probably can steal heavily from the modis records.

[2017-01-06 16:44] kkoch commented on #75
John had a question on metadata.  He is working on that part and will get back to us.

[2017-01-06 17:07] kkoch opened #94 "Logins/Passwords not working for several servers"
Greg (and ASA?) have not being able to log into certain servers

Greg tested each username/password that Tad provided. A quick summary is I can’t log into thredds.glos.us or mon.glos.us with either root/glosea. Gateway.glos.us times out all together when trying to connect and there are another four root passwords that don’t work.

Per Tad, Greg to check with Guan and/or Luke (or someone else at AS

[2017-01-06 17:19] kknee commented on #94
@cheryldmorse got in to the TDS through wms.glos.us. She can provide instructions to @gcutrell  but he should call her (401.789.6224) for the PW.  Can someone at LT please look into why access was suddenly cut off?

[2017-01-06 17:20] gcutrell commented on #89
Spoke with Guan on 1/3/2017 about the details to complete this action. The notes from our conversation are in [https://github.com/glos/glos_server_script/blob/master/glcfs/README.md]. As of now I don't have a username/password for GLOS storage to complete this task, so it has yet to be done.

Guan mentioned he never wrote a code to automate this task because it only comes up a few times a year and

[2017-01-09 19:38] gcutrell commented on #89
Gregory Lang's files have been archived and old 2016 Nowcast files have been removed.

[2017-01-09 19:38] #89 closed

[2017-01-09 20:54] gcutrell commented on #80
Matt confirmed that they NCEI started to ingest the new packages on 1/3/16. The bash file "jobs.sh" in /usr/local/glos/obs2nc of process1 was not running as it should be.

[2017-01-09 20:54] #80 closed

[2017-01-12 20:58] kkoch commented on #55
GLOS would like to know which buoy or data source a particular extreme value is reported from (e.g., high wind value from 45176).

[2017-01-18 18:12] kkoch opened #95 "Newly created GeoNetwork records not showing in Portal"
GN records not displaying in portal.  Verified that the records had the required "GLOS Keywords", "GLOS Categories" and "Info URL".

Issue determined to be a 'bad' GN record where the namespaces were defined in the child elements instead of in the root element. This possibly occurred because the record in question was an xml import of metadata from ArcGIS. This record broke XPath's ability to find

[2017-01-18 18:12] #95 closed

[2017-01-18 18:22] lukecampbell commented on #92
This is resolved, we now have enough space

[2017-01-18 18:22] #92 closed

[2017-01-18 18:24] lukecampbell commented on #94
We can now access tds.glos.us

[2017-01-18 18:24] #94 closed

[2017-01-18 18:25] lukecampbell commented on #93
I get data from that URL and it looks right. Can you verify that this is still an issue?

[2017-01-18 18:27] lukecampbell commented on #88
- [x] GLCFS Nowcast Files exist and "current year" points to 2017
- [x] GLCFS Forcing Files exist and "current year" points to 2017
- [x] GLCFS Forecast Files exist and "current year" points to 2017

[2017-01-18 18:36] lukecampbell commented on #88
![download](https://cloud.githubusercontent.com/assets/1155163/22077644/0cdc2c88-dd83-11e6-974a-867a0f1e288e.png)

[2017-01-18 18:36] lukecampbell commented on #88
I think this is fixed.

[2017-01-18 18:39] kkoch commented on #93
Tad fixed last week  > 1/13/17 "Access to archived 2016 model results through the Point Query Tool is now available."  Cheryl restarted TDS but Tad found it required a tomcat restart as well.   (Kathy tried to restart tomcat since this is the same machine as GN but she didn't have SUDO privileges to do so.)

[2017-01-18 18:39] #93 closed

[2017-01-18 18:45] lukecampbell commented on #87
The tool loads but there's no contents. Do you guys want me to investigate into the tool or is it functional enough?

[2017-01-18 18:50] kkoch commented on #87
I believe Tad was going to verify that the tool is still in use.  Maybe check on analytics??? I've added him to the assignee list so he sees and can update.

[2017-01-18 18:57] lukecampbell commented on #86
I just checked and this is still outstanding, we need to patch the files. Let me know if I should take a look.

[2017-01-19 13:17] kknee commented on #88
this is indeed all set.

[2017-01-19 13:17] #88 closed

[2017-01-19 15:11] gcutrell commented on #86
Luke, I was planning on tackling this ticket this week, but won't have time. If you could look into the issue more that would be great. I will have some availability next week to help it needed.

[2017-01-19 18:37] lukecampbell commented on #86
Ok, I'll take a look at it now. On a historical note, I think I see what happened. It looks like when the metadata attributes were updated, the variable names got perhaps mistakenly altered as well.

![screen shot 2017-01-19 at 1 37 38 pm](https://cloud.githubusercontent.com/assets/1155163/22120160/7724a3bc-de4c-11e6-9b28-7eea271df640.png)

[2017-01-19 19:48] lukecampbell commented on #86
I fixed the files but I can't access wms.glos.us to restart the HABS portal and re-harvest dataset metadata from THREDDS.

[2017-01-19 19:49] lukecampbell commented on #86
![screen shot 2017-01-19 at 2 49 34 pm](https://cloud.githubusercontent.com/assets/1155163/22122588/870c22b4-de56-11e6-9f6d-a22e5de2d14c.png)

[2017-01-20 16:52] #86 closed

[2017-01-20 16:53] lukecampbell commented on #86
This all set now.

[2017-01-24 15:07] kknee commented on #91
For now - putting a calendar invite on @cheryldmorse @tslawecki @kkoch and @kknee schedules to remind us to update TDS in December 2017

[2017-01-24 15:09] kknee commented on #84
need to determine if we can fit this into the 2017 budget

original request:

I’ve been doing some work here at EPA with James Pauer on nearshore modelling – not sure if you’re one of the people he’s been in touch with at NOAA or not.

Quick question – are there any checksums (SHA1 or MD5 etc.) available for the files under:
http://tds.glos.us/thredds/fileServer/glos/glcfs/archiveall/ ?

The glaci

[2017-01-24 15:17] kknee commented on #70
we can solve this with a scroll bar

[2017-01-24 15:20] kknee commented on #56
from @lukecampbell on 1/19:

http://data.glos.us/gleam/

As far as setting up a dev site, that needs to fall onto the network administrator to find or register a domain for testing, open up the port and if you guys need my help after that I can help set up Apache to host content on that port.

[2017-01-24 15:20] #56 closed

[2017-01-24 15:27] kknee commented on #43
@kkoch to follow up with @gcutrell

[2017-01-24 15:28] kknee commented on #21
@lukecampbell can you do one final check that this looks okay to you and then close?

[2017-01-24 15:40] tslawecki commented on #87
I've tasked Guan with checking it out. There may still be a few people who use it,

[2017-01-24 15:41] gcutrell commented on #21
The QA documentation (https://drive.google.com/file/d/0B7pJZVmOuWvzWUhuNDF4djBkeDA) is located in the global attributes "references" for each station and year.

[2017-01-24 15:41] #21 closed

[2017-01-24 15:43] tslawecki commented on #46
Luke, is this a blocking issue or can we proceed for now with scp? I will talk to Guan about his configuration of the NFS server unless you already know what you want to change.

[2017-01-24 16:11] kkoch opened #96 "TDS running out of space"
Brought up at last dmac meeting that TDS is/was out of space. Was 50% full until November. Ben looked at diagnostics during meeting and seems like it is 'logging' taking up space. This may have been turned up to respond to queries on analytics.

Ben will compress older logs and Tad will find another location.

[2017-01-24 16:27] kknee commented on #53
@kkoch just realized that we don't break down these layers by variable in the catalog anymore.  How should we proceed with metadata in that case:

![image](https://cloud.githubusercontent.com/assets/196868/22256191/05eaafea-e228-11e6-92f8-1eab1a0373f2.png)

[2017-01-24 17:07] kknee commented on #46
Status Update:
1. we are successfully performing basic QARTOD on all HABS datasets in test environment
2. we are working on installing and automating QARTOD processing on process1.glos.us

[2017-01-24 17:53] kkoch opened #97 "GLEAM record display"
Is it possible to display the 'parent' record first when you get the pop-up for the GLEAM collection?  The child records can remain in alpha order.

Also wondering if we can abbreviate the titles in the popup since it makes the list longer and actually very hard to decipher.  We could, also if possible, keep the hover and info text reading the full title.

Current display:
![image](https://cloud.g

[2017-01-24 19:21] lukecampbell commented on #46
We worked around the NFS issue because of time constraints. Ben's got an approach worked out where we make local changes to the files and use [`scp`](https://en.wikipedia.org/wiki/Secure_copy) to shuttle the files to the storage server.

We had it kind of ready to go but the last round of testing revealed that:
1. Some of the files had inconsistent variables names (now fixed)
2. If something went

[2017-01-24 19:24] lukecampbell commented on #21
For some reason we're marking the instruments as belonging to CenCOOS?

[code]

[2017-01-24 19:27] lukecampbell commented on #84
Can anyone access that URL?

[2017-01-24 19:28] kknee commented on #84
@lukecampbell this one can be ignored, that's why it's marked as 'future'

[2017-01-24 19:42] radomishel commented on #96
@kkoch wrong ben

[2017-01-25 12:52] gcutrell commented on #21
That's strange. Is it only instruments from HABs stations?

[2017-01-25 13:10] kknee opened #98 "HABS Instruments Marked as Belonging to Cencoos"
e.g. instrument:long_name = "urn:ioos:sensor:cencoos:leorgn:sea_surface_water_temperature" ;

I spot checked a few stations and found this in every case.

@gcutrell is this something that you can look into updating?

[2017-01-25 19:56] kknee commented on #29
@lukecampbell can you document here who these are going to and how you are transmitting them?

[2017-01-27 16:44] kkoch commented on #51
![image](https://cloud.githubusercontent.com/assets/6392982/22379074/cc981876-e485-11e6-9054-0a19418aac2d.png)

Looks like this is done thus I'm closing.

[2017-01-27 16:46] kkoch commented on #51
Partly done.  At least the old portal is showing something useful.  The new portal has changed from the YSI Sonde text, but is still showing HABs info.

![image](https://cloud.githubusercontent.com/assets/6392982/22379145/2030e404-e486-11e6-8c6a-4b4e7dc755f3.png)

[2017-01-30 19:26] kknee commented on #77
MODIS removed from dev.

[2017-01-30 19:39] lukecampbell commented on #29
I'm sending them to @tslawecki via RPS secure file transfer. Last one was sent on 26 January. Time before that was October. So far no one has downloaded the one from January

![screen_shot_2017-01-30_at_2_36_00_pm](https://cloud.githubusercontent.com/assets/1155163/22438422/ea44c1fa-e6f9-11e6-9648-4aee36f9428c.png)

[2017-01-31 20:28] kkoch commented on #51
Keywords:
observations
point observations
satellite observations
model forecasts
model forecasting
nowcasting
nowcasts
forecasts
models
computer models
winds
waves
water temperature
water surface temperature
water level
air temperature
dissolved oxygen
streamflow
turbidity
base reflectivity
chlorophyll
colored dissolved organic matter
cdom
dissolved organic carbon
natural color
suspended minerals

[2017-01-31 21:24] lukecampbell commented on #51
Ok, I implemented this and it's available on DEV.

[2017-01-31 22:00] kkoch opened #99 "Login Behavior - timing out of session"
I'm not sure what the time period is for being logged in to myGLOS but the issue is that it seems to time out after a certain amount of time (I know I'm not logged in anymore only because it won't let me save permalinks or other logged in abilities) however it still shows me as being logged in when I click on the icon.

![image](https://cloud.githubusercontent.com/assets/6392982/22486175/7953120c-

[2017-02-01 21:18] kknee opened #100 "Add Grand River Conservation Authority data to GLOS portal"
Contact = Bryan McIntosh

From Bryan:

This just became very easy for us both. We use the exact same REST service types as Lake Simcoe.

- GRCA (CSV same as Simcoe): http://kiwis.grandriver.ca/KiWIS/KiWIS?datasource=0&service=kisters&type=queryServices&request=getStationList&format=csv

On that note, I see you are requesting CSV from their REST endpoint. Since the company that makes the software i

[2017-02-01 21:19] lukecampbell commented on #100
Is this for the old portal or MyGLOS?

[2017-02-01 21:23] kknee commented on #100
It is for The Glos Portal: http://portal.glos.us/

@cgalvarino needs to get the data flowing and then this task will transition to you.

[2017-02-02 17:20] cgalvarino commented on #100
@kknee, I need a bit more info before I can add these.  I'll email you.

[2017-02-06 18:29] tslawecki opened #101 "Datetime format changed in THREDDS?"
Jessica Lucido at USGS noted that the USGS ENDDAT tool is having problems with the datetime format in THREDDS retrievals of GLCFS model data. She says:

_The service used to provided dates with this format (e.g. "2016-01-01T00:00:00Z") and now uses this format (e.g. "2016-01-01 00:00:00.000 UTC"). Would it be possible to change the format back?_

Can we change the default format back (to ISO 8601?

[2017-02-06 18:45] kknee commented on #101
The sample link that Jessica provided seemed outdated - sent her a follow up email to check the current best time series link.  Waiting to hear back.

[2017-02-06 19:37] lukecampbell commented on #101
for book keeping, it helps to keep this in the issue thread

[2017-02-09 19:11] tslawecki opened #102 "Add temperature, other HECWFS parameters to portal"
GLERL request/suggestion - we show currents, how about the rest of the variables?

[2017-02-09 20:40] kkoch commented on #60
On dev. Waiting for deployment

[2017-02-09 21:10] kkoch commented on #87
Need to add to site that the tool is deprecated (@gcutrell will work with @tslawecki).  Potentially add additional variables to view in Portal. Once we have that we could also put a redirect to the Portal (once Permalinks are working).

[2017-02-09 22:06] kkoch commented on #102
In thredds (just not showing in portal):
Sigma layers
Bathymetry
Water surface elevation
Eastward water velocity
Northward water velocity
Bed stress magnitude from currents
Temperature
Salinity
Short wave radiation
Surface net heat flux
Wet nodes
Wet cells

Luke to check to see if we are grabbing from EDS or sciWMS and then will give LOE.

[2017-02-09 22:14] kknee commented on #102
we're using sciWMS, getCaps indicates that water temp is available.  Which other parameters are wanted?

[2017-02-09 22:27] tslawecki commented on #102
Water surface elevation for sure.

________________________________
From: Kelly Knee <notifications@github.com>
Sent: Thursday, February 9, 2017 5:14 PM
To: glos/myglos
Cc: Tad Slawecki; Author
Subject: Re: [glos/myglos] Add temperature, other HECWFS parameters to portal (#102)

we're using sciWMS, getCaps indicates that water temp is available. Which other parameters are wanted?

-
You are receiv

[2017-02-15 14:51] #45 closed

[2017-02-15 15:58] lukecampbell commented on #102
Water Elevation, Salinity and Temperature are added to the HECWFS model. They are viewable on the dev site.

[2017-02-15 15:58] lukecampbell commented on #102
Do we need to wait until a production release to close the issue or is this sufficient for the moment?

[2017-02-21 15:00] kkoch commented on #102
Just wondering what to expect.  It looks like currents and temp work.  Are salinity and water level?  Wasn't quite sure what values to expect, but it looks flat lined.

![image](https://cloud.githubusercontent.com/assets/6392982/23170217/6d2802de-f81c-11e6-8363-76a651457a41.png)

[2017-02-21 15:06] kknee commented on #102
@lukecampbell which variable are you using for Water Level?

@tslawecki should we remove salinity?

[2017-02-21 15:14] kknee commented on #82
@cgalvarino still need to update title  feedback text box to "Provide Feedback or Report Issue"

[2017-02-21 15:15] #77 closed

[2017-02-21 15:15] lukecampbell commented on #102
The variable for water level is DYE.
![screen shot 2017-02-21 at 10 15 14 am](https://cloud.githubusercontent.com/assets/1155163/23170832/a6fd972e-f81e-11e6-8793-6a062a815ece.png)

[2017-02-21 15:17] #76 closed

[2017-02-21 15:19] #70 closed

[2017-02-21 15:22] #61 closed

[2017-02-21 15:24] cgalvarino commented on #82
@kknee, maybe I misunderstood.  This is what I put in place.

![snag-0000](https://cloud.githubusercontent.com/assets/180985/23171206/d9f4a8f6-f81f-11e6-8837-4bd249034e74.jpg)

[2017-02-21 15:25] #60 closed

[2017-02-21 15:34] #51 closed

[2017-02-21 21:00] kknee commented on #102
Can you check with Brian? I think it should be zeta.

Sent from my iPhone

On Feb 21, 2017, at 10:15 AM, Luke Campbell <notifications@github.com<mailto:notifications@github.com>> wrote:

The variable for water level is DYE.
[screen shot 2017-02-21 at 10 15 14 am]<https://cloud.githubusercontent.com/assets/1155163/23170832/a6fd972e-f81e-11e6-8793-6a062a815ece.png>

—
You are receiving this because

[2017-02-22 16:08] lukecampbell commented on #102
Brian was the one who had me use DYE

[2017-02-22 16:08] lukecampbell commented on #102
@brianmckenna can you confirm DYE?

[2017-02-22 19:31] kknee commented on #102
I think we might want Zeta - @brianmckenna<https://github.com/brianmckenna> can you confirm?

Kelly Knee
Director of Coastal Hazard Services - RPS ASA
55 Village Square Drive
South Kingstown, RI 02879-8248
USA
Tel: +1 (401) 789-6224
Fax: +1 (401) 789-1932
Cell: +1 (401) 374-5245
Email: kelly.knee@rpsgroup.com<mailto:kelly.knee@rpsgroup.com>

From: Luke Campbell [mailto:notifications@github.com]
Se

[2017-02-22 19:40] brianmckenna commented on #102
try zeta, looks like two **standard_name: sea_surface_height_above_geoid**

[2017-02-23 14:24] lukecampbell commented on #102
Even for zeta the WMS returns solid blue

![hecwfs](https://cloud.githubusercontent.com/assets/1155163/23262764/da599e6a-f9a9-11e6-9b1b-1bead30f8525.png)

![legend](https://cloud.githubusercontent.com/assets/1155163/23262769/dc61ff40-f9a9-11e6-9269-95ceb4533fb2.png)

However when I use the virtual buoys with zeta selected there's a lot more values than indicated by the WMS response:

![screen shot

[2017-02-23 15:53] kknee commented on #102
that looks much better in terms of data returned by GFI.  The WMS could probably use a different range because of the small variation in water levels, but all in all I think we're pulling the right data now.

[2017-02-23 16:26] lukecampbell commented on #102
The WMS should be showing lighter blue for that area according to the legend but it's not.

[2017-02-24 17:07] gcutrell commented on #98
Found the issue in "common_fix.lua" within  "v.vars.instrument.attributes.long_name="urn:ioos:sensor:cencoos:". Removed "cencoos" and new metadata begins in file "####_2017055.nc".

[2017-02-24 17:16] kknee commented on #98
thanks @gcutrell  - can you change so that they're marked as glos - urn should be similar to : ioos:sensor:glos:utlcp:ysi_turbidity.  It would be good to apply this change to the whole archive.

[2017-02-24 19:38] gcutrell commented on #98
Okay. Just noticed the platform attribute has `urn:ioos:station:glos:`. I'll work on changing cencoos to glos for the archive.

[2017-03-03 17:09] kkoch commented on #58
In order to test I have created a new myglos account (dmac2017) to see if the issue is attached to my account instead of an inherent issue in the programming behind permalinks.  I  have added in all the gleam records as saved collections.

[2017-03-03 17:13] kkoch opened #103 "GLEAM - missing one child record"
The Phosphorus Loading child record to the GLEAM collection does not appear mapable in portal (doesn't show on the pop-up).

Here is the GN metadata record in case that helps >
http://data.glos.us/metadata/srv/eng/main.home?uuid=5e49955f-5401-4ba8-88ae-9fe358b0c082

[2017-03-03 17:22] lukecampbell commented on #103
JIRA Bug: MGLS-166

[2017-03-03 19:21] kkoch commented on #103
May not be "our" issue.  From client > "The deal with phosphorus is that I don’t have it CDF-transformed correctly – I think I didn’t send the data to you at all because of it.  So that’s why there are 33 instead of 34 stressors."

I will close this for now until we hear more.

[2017-03-03 19:21] #103 closed

[2017-03-23 19:08] kknee commented on #101
This issue can be closed.

Temporary 4.3 instance was added for USGS to use while they updated their scripts to handle the 4.6 format.  Scripts were eventually updated and 4.3 instance shut down.

[2017-03-23 19:08] #101 closed

[2017-03-23 19:09] kknee commented on #100
We're waiting on metadata from the data provider.  @kkoch can you follow up?

[2017-03-23 19:11] kknee commented on #98
@gcutrell i just checked these out again, i think we're missing a colon between the RA name and Station Name:

ioos:sensor:glosglerlwe8:ysi_turbidity

can you add that?

[2017-03-23 19:12] kknee opened #104 "Add 2016 thermistor chain data for Keweenaw North & South locations"
From Colin:

When the power finally comes back up in northeast Ann Arbor (and we can turn on our servers again - we've been without power at MTRI for 24 hours now!), you should be able to find the 2016 thermistor chain XML data for the Keweenaw North & South sites at this location in GLOS-friendly format to our public ftp:
ftp://ftp.mtri.org/pub/DMAC/Keweenaw_Thermistor/

[2017-03-23 19:31] kknee opened #105 "GLCFS 50-Day Files Upload"
Add 50-day netCDF files to TDS to replace 6-hr nowcast-2d, nowcast-3d, and nowcast-forcing files in 50-day batches.

This is a regular task that can't be started until we have a new batch of files from Greg Lang.

- [x] Days 001-050
- [ ] Days 051 - 100 - not yet received
- [ ] Days 101 - 150  - not yet received
- [ ] Days 151 - 200  - not yet received
- [ ] Days 201 - 250  - not yet received
- [

[2017-03-23 19:32] kknee commented on #105
@gcutrell will be the lead for this task and reach out to @cheryldmorse if he is unavailable

[2017-03-24 13:37] kkoch commented on #57
Bumping this up to be worked on for new buoy season (buoy does appear back in water).

[2017-03-24 13:50] kkoch commented on #100
I have the metadata form (received last week from Bryan) and will be working on updating GN today.

[2017-03-24 14:52] kkoch commented on #100
Initial GN record is in place.  Have gone back to GRIN and asking them to provide QAQC details.  I am assuming this will be a Luke manually curated dataset so did not add in a link other than for the info URL or variables. But GLOS keywords are there for you to pull. http://data.glos.us/metadata/srv/eng/main.home?uuid=522af949-054f-4252-b0ff-98979ef90c59

In addition, they do list some use contrai

[2017-03-27 15:32] tslawecki opened #106 "Guidance on ncsos access to HABs portal stations"
Need guidance on accessing data from ncSOS for Greg Cutrell and Reid Sawtell to read for asset landing page.

Also timeline for moving buoy data to ncSOS?

[2017-03-27 15:39] tslawecki opened #107 "Asset Landing Page - figure out semantics"
What do we call individual pages and the map? What URLs?

  greatlakesbuoys.org/whatever?ID=45176 (previous URL)
  data.glos.us/greatlakesbuoys/45176
  glb.glos.us/45176

Asset Landing Page? Asset Page? Buoy Page? ????

[2017-03-27 15:42] everhamme commented on #107
I vote for  “station pages”

I’d love it if we could not break the old url for folks… or at least provide a way that the old url maps/forwards to the new one.. but recognize there might be a transition period

http://greatlakesbuoys.org/station_page.php?station=45169

From: Tad Slawecki [mailto:notifications@github.com]
Sent: Monday, March 27, 2017 11:40 AM
To: glos/myglos <myglos@noreply.github.c

[2017-03-27 15:50] tslawecki opened #108 "Asset Landing Page - Access from portal.glos.us and glos.us"
Discuss at next DMAC call (4/6) how to integrate access to asset landing page into existing glos.us pages.

[2017-03-27 16:59] beckypearson commented on #107
Kristin and I can get behind naming the pages, station pages.  That is what NDBC calls them.

[2017-03-28 13:40] kkoch commented on #108
Will need GN metadata record.  Can create one 'now' for greatlakesbuoys.org which can be used for testing placement and which can then be modified for nuance changes with the final asset page.

[2017-03-29 18:11] gcutrell opened #109 "GLCFS Point Query Cataloging"
GLCFS point query is not locating the 50-day glcfs files within the archived directory in storage at /var/local/glos/storage/GLCFS/Archive/2017. This is related to the cataloging located in tds at /var/lib/tomcat/applications/thredds-4.6.6/content/thredds/glcfs/nowcast.  Currently "glcfs_nowcast_2017.xml" was copied from "glcfs_nowcast_2016.xml" and all "2016" text was changed to 2017. The 50-day

[2017-04-02 14:53] hellocomrade commented on #109
archival dir for current year is never used to feed TDS. You should use /Nowcast folder instead for current year. Archival folders are used to serve previous years data on TDS though.

I don't think there is a "archivecurrent" before. Could you please explain why it was created?

[2017-04-03 15:33] gcutrell commented on #109
Thanks for the archival vs. current year directory clarification. Could the "archivecurrent" directory have been created when I created the "glcfs_nowcast_2017.xml" in the TDS catalog to incorrectly point to the 2017 archived data? Should the "glcfs_nowcast_2017.xml" file be removed from the catalog?

[2017-04-03 15:33] gcutrell commented on #109
Thanks for the archival vs. current year directory clarification. Could the "archivecurrent" directory have been created when I created the "glcfs_nowcast_2017.xml" in the TDS catalog to incorrectly point to the 2017 archived data? Should the "glcfs_nowcast_2017.xml" file be removed from the catalog?

[2017-04-04 12:49] gcutrell commented on #98
Made the correction. Now reads long_name: urn:ioos:sensor:glos:glerlwe8:ysi_turbidity.

[2017-04-04 13:00] gcutrell commented on #104
Best guess is the xml files go in mtri's "MTRI-NKW" and "MTRI-SKW" in michigan.glin before being parsed and placed in the Glos_obs database? @kknee does that sound right?

[2017-04-04 13:21] kknee commented on #104
@gcutrell actually we're using netCDF and THREDDS for these - the previous ones are here: http://tds.glos.us/thredds/mtri/water_temp_in_situ.html

[2017-04-04 14:03] gcutrell commented on #104
@kknee Thanks. So the two xml files should be placed in their respective thredds directories within "MTRI-WT"? You then have a script to update the current .nc file with the new xml data? I'm assuming this is a manual process since we would only receive their data once a year? Just curious about the process to better understand what is happening.

[2017-04-04 15:07] kknee commented on #104
@gcutrell - Guan did the conversion from XML to nc and places the nc files in the TDS directories.  I'm not sure where his scrip is. If you'd like us to help with the conversion please just coordinate with @tslawecki to task us.  Thanks!

[2017-04-04 16:35] kkoch commented on #75
New person assigned for metadata (details below).  He will send me the metadata for the first of 4 buoys shortly and we can then determine what our next steps need to be.  Buoys to be implemented for the season soon.

Ryan Mototsune
Crew Chief, Great Lakes Field Operations
Ontario Ministry of the Environment and Climate Change
Environmental Monitoring and Reporting Branch
125 Resources Road
Toront

[2017-04-04 19:26] kknee commented on #98
@gcutrell in randomly checking the fix that you made I found some cases with the colon issue:
http://tds.glos.us/thredds/iso/glos/habs/lakes/ysi_turbidity/utlcp/2017/utlcp_ysi_turbidity_2017093.nc?catalog=http%3A%2F%2Ftds.glos.us%2Fthredds%2Fcatalog%2Fglos%2Fhabs%2Flakes%2Fysi_turbidity%2Futlcp%2F2017%2Fcatalog.html&dataset=glos%2Fhabs%2Flakes%2Fysi_turbidity%2Futlcp%2F2017%2Futlcp_ysi_turbidity_2

[2017-04-04 19:30] kknee commented on #98
Looks like the following also have CENCOOS in the URN:

http://tds.glos.us/thredds/mtri/water_temp_in_situ.html

[2017-04-07 12:36] kknee opened #110 "Add Adjustable Ranges for Model layers"
From Ed:

Can wave height legends be user adjustable?  See the problem below for the Lake Huron forecast for right now … everything RED!

[2017-04-12 12:50] tslawecki opened #111 "Address missing files in GLCFS forecast from new year"
We've identified a problem with GLCFS forecast timestamp being off by 24 hours, likely attributable to missing 1/1/2017 and/or 1/2/2017 files. Suggest @gcutrell talk with Guan further about whether it's feasible to address through catalog fix, code change (not sure what code), or creation of blank netcdfs.

[2017-04-12 12:51] tslawecki commented on #111
Figuring out the right way to test for this condition (maybe count of files in Forecast directory) would be good.

[2017-04-12 12:53] tslawecki commented on #111
Hold on -- Greg Lang just advised that he has a restore request on and should know shortly if the files are available.

[2017-04-14 11:45] gcutrell commented on #111
Added missing model runs Greg L. provided for DOY 001 and 002 for all lakes and restarted thredds. Using the large wave event around 4/7 both Lake Erie and Michigan forecast look good now. Guan has a script to check the GLCFS but I'll see what is being done in the script and make sure any alert emails are not being sent to Guan.

[2017-04-14 13:38] tslawecki commented on #108
We have a show-and-tell scheduled with GLOS on Thursday 4/20. I'd like to have a link from the dev version of the data portal map view to the associated station page that "works" in the sense that there is a hyperlink in buoy popups that take the user to a station page. Can be crude, just needs to give a sense.

Also need to have links to the portal - not sure if this means map, catalog, or both -

[2017-04-14 13:46] kknee commented on #108
@tslawecki that doesn't give us much time.  Can you get us the links asap?  Were you thinking that the links are from the buoy titles?

![image](https://cloud.githubusercontent.com/assets/196868/25044877/2ffcbcb6-20f7-11e7-8a44-79f944572346.png)

[2017-04-14 13:50] tslawecki commented on #108
For demo purposes we can just link all buoys to the same page, the important thing is to have that link available. We can populate later, probably based on buoy number/name in the format http://glos.us/glbuoys/buoyid (not yet available). We would want to have this fully working before IAGLR.

________________________________
From: Kelly Knee <notifications@github.com>
Sent: Friday, April 14, 2017

[2017-04-14 13:51] kkoch opened #112 "Evaporation stations (glenijc) - dual feeds in portal"
We are seeing two hits in the Portal.  Assume one is now an active NDBC feed, the other is from our own GN.  GN is not showing any results.  Seems like in theory we would like to have the GN one as the active record (this is the one titled "Lake Michigan Evaporation and Meteorological Data from....).  If there isn't a way to do that, I will disable the GN records.

IDs : WSLM4, SRLM4

![image](htt

[2017-04-14 13:52] kknee commented on #108
@tslawecki ok, its there a link to a dev page that we should use for all?  Or should we use: http://glos.us/glbuoys/buoyid?

[2017-04-14 13:54] tslawecki commented on #108
Let's get @gcutrell to tell us what to use for now.

________________________________
From: Kelly Knee <notifications@github.com>
Sent: Friday, April 14, 2017 9:52 AM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Asset Landing Page - Access from portal.glos.us and glos.us (#108)

@tslawecki<https://github.com/tslawecki> ok, its there a link to a dev page that we should use f

[2017-04-14 13:56] kknee commented on #112
@kkoch there is no data in the obs feed for this station, which is why we are showing no results: http://data.glos.us/portal/getObsByPlatform.php?provider=glos&platform=Station+WSLM4+-+White+Shoal%2C+MI

[2017-04-14 13:57] kkoch commented on #112
Yes. Thus my submitting as an issue.  Should have clarified that.
a) we need to get to obs
b) we need to disable NDBC feed

[2017-04-14 14:00] gcutrell commented on #108
@kknee I'm planning on moving the current dev page location to Amazon's AWS Monday. If I provide the new link by then would that give you enough time to complete the task?

[2017-04-14 14:11] kknee commented on #112
got it.  @gcutrell let us know if you need help looking at the obs issue. We'll suppress the NCBC feed once we have an alternative up and running

[2017-04-14 14:45] kkoch opened #113 "Suppressing NDBC feeds"
Need to suppress NDBC feeds for the following GLOSsy buoys (I'm sure there will more as the season progresses). Obs feed is working fine/active.

45026 (Cook)
45161 (Muskegon)

[2017-04-17 15:28] gcutrell commented on #112
@kknee @kkoch I just checked but we don't have any station platform obs for any of the evaporation stations. I believe @tslawecki decided using the NDBC feed was the easiest way to get data into the portal since the GLEN stations directly send data to NDBC via's GLERL's comm network. I think we would need to push the NDBC feed into GLOS's xml incoming obs directory and configure station platforms

[2017-04-17 19:06] gcutrell commented on #108
@kkoch The homepage is located at http://52.42.141.198/. Currently right now the only way to go to a specific buoy is through the home page.

[2017-04-17 19:13] kknee commented on #108
@gcutrell received, we will try to get it linked to the portal in time.

I do not see anyway to get to an individual buoy, however:

![image](https://cloud.githubusercontent.com/assets/196868/25100991/6e9b7184-2380-11e7-92e0-6b7e05888832.png)

[2017-04-17 19:19] gcutrell commented on #108
@kknee I'm having to change location references in the code. Should be working in a bit. I just spoke with Tad and for Thursday I will just create two buoy.html sites for show that we can directly access from the portal. I'll get you those links shortly.

[2017-04-18 11:48] gcutrell commented on #108
At a minimum we will have two stations we can reference. [http://52.42.141.198/45029](http://52.42.141.198/45029) and [http://52.42.141.198/45169](http://52.42.141.198/45169). I'll be working on these pages today and tomorrow.

[2017-04-18 12:10] kknee commented on #108
@gcutrell @tslawecki - can you clarify exactly what we should link in the portal?  Last week @tslawecki said to link all buoys to the same homepage, but now it sounds like we should be linking two buoys to their individual pages.  Please confirm which route we should take and we'll get this implemented.

@kkoch are you planning on entering these links into GN records for each station?

[2017-04-18 12:18] tslawecki commented on #108
For this week any link should go to a station page, which can be the same one for all buoys with links.

-------- Original message --------
From: Kelly Knee <notifications@github.com>
Date: 4/18/17 8:11 AM (GMT-05:00)
To: glos/myglos <myglos@noreply.github.com>
Cc: Tad Slawecki <tslawecki@limno.com>, Mention <mention@noreply.github.com>
Subject: Re: [glos/myglos] Asset Landing Page - Access from p

[2017-04-18 12:24] kknee commented on #108
@tslawecki ok, so link everything to  http://52.42.141.198/ or http://52.42.141.198/45029?

[2017-04-18 12:25] tslawecki commented on #108
Yes. We are just showing the concept.

-------- Original message --------
From: Kelly Knee <notifications@github.com>
Date: 4/18/17 8:24 AM (GMT-05:00)
To: glos/myglos <myglos@noreply.github.com>
Cc: Tad Slawecki <tslawecki@limno.com>, Mention <mention@noreply.github.com>
Subject: Re: [glos/myglos] Asset Landing Page - Access from portal.glos.us and glos.us (#108)

@tslawecki<https://github.com/ts

[2017-04-18 14:32] kknee commented on #54
fixed by adding scroll bar

[2017-04-18 14:32] #54 closed

[2017-04-18 14:34] kknee commented on #46
@lukecampbell can this be closed?

[2017-04-18 14:37] kknee commented on #14
fixed

[2017-04-18 14:37] #14 closed

[2017-04-18 14:42] lukecampbell commented on #46
Yes

[2017-04-18 14:42] #46 closed

[2017-04-18 15:35] kkoch commented on #102
Okay to remove "salinity" as a variable.

Looks like its been zero since Saturday April 15 (not sure if this is correct data).  We might want to consider fine tuning the legend on this one since even if it is working, it looks like the nuances in changes are infintesimal.

![image](https://cloud.githubusercontent.com/assets/6392982/25139335/f05c67f0-242a-11e7-9f0c-25b0b69b54e8.png)

[2017-04-18 16:45] kknee commented on #106
@gcutrell NDBC has great documentation on how to use ncSOS. @cheryldmorse will provide some links.

timeline for buoy data is 4/30 as outlined in our SOW.

[2017-04-18 16:49] cheryldmorse commented on #106
@gcutrell Check out the  [NDBC SOS site](http://sdf.ndbc.noaa.gov/sos/)
That site shows the required parameters and also has many examples.

[2017-04-18 16:57] kkoch opened #114 "External links display in map view"
When you click on External Links in Catalog you see any/all links created in GN

![image](https://cloud.githubusercontent.com/assets/6392982/25142814/463c371c-2436-11e7-884c-2814b8e94ff0.png)

When you click on the "i" icon in Map view, you only see metadata link.

![image](https://cloud.githubusercontent.com/assets/6392982/25142937/a678a476-2436-11e7-83fa-e2445ae1789c.png)

[Didn't we used to see

[2017-04-18 17:01] kknee commented on #114
@kkoch we can do whatever makes the most sense.  But per this issue that we just closed this morning: https://github.com/glos/myglos/issues/14.  I thought we had decided to change the map view to metadata only.

[2017-04-18 17:04] kkoch commented on #114
Ah that’s where it got confused.  Glad I wasn’t dreaming that it used to be there.

No - #14 was to correct the wording of “data source” to metadata.  Never had anything to do with removing the other links.

[2017-04-18 17:54] kkoch commented on #53
Colin approved >

Title:
MTRI Great Lakes Remote Sensing Products: Lake [insert lake name here]

Abstract:
Mapping of remote sensing products for Lake [insert lake name here]. Imagery is provided for colored dissolved organic material (CDOM), chlorophyll (Chl), dissolved organic carbon (DOC), lake surface temperature, natural color imagery, and suspended minerals. Note that satellite data is gener

[2017-04-18 17:56] tslawecki commented on #106
So NDBC is running ncsos ... or are NDBC SOS and ncsos identical from the API side?

The theory here is that we can use the HABs ncsos endpoints to build test queries ahead of the 4/30 rollout of "everything as ncsos". Is there any separate documentation for the ncsos API ... or is it simply SOS-compliant so my question doesn't really make sense?

________________________________
From: cheryldmors

[2017-04-18 18:45] kkoch commented on #108
All buoys that are currently in GLBuoys site are linked to 45029 [http://52.42.141.198/45029] in order to test.

Entered in GeoNetwork  with the Tag of "Station Page".  Will update these to actual links (and/or remove the incorrect link shortly).

With the exception of GLRCMET, 45002 and 45007 [these buoys do not appear in the portal]. I also added to all the HABs stations making the assumption th

[2017-04-18 20:06] cheryldmorse commented on #106
@tslawecki, no NDBC is not running ncSOS. That site just shows you the required parameters and how to format a getObservation request. To make a getObservation request you would need to parse the getCapabilities response to determine what offerings/response formats/ observedProperties/etc.. exist for each dataset

[2017-04-19 11:58] gcutrell commented on #106
@cheryldmorse is there an endpoint for ncSOS to get the getCapabilites?

[2017-04-19 12:04] cheryldmorse commented on #106
@gcutrell There would be a getCapabilities for each netCDF file. Are you just looking for an example endpoint? ncSOS hasn't been setup yet for GLOS.

[2017-04-19 12:17] tslawecki commented on #106
@cheryldmorse I thought the HABs portal was ncSOS-driven - if I'm wrong we need to consider a little short-term scrambling at this end.

________________________________
From: cheryldmorse <notifications@github.com>
Sent: Wednesday, April 19, 2017 8:04 AM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Guidance on ncsos access to HABs portal stations (#106)

@gcutrell<https://

[2017-04-19 12:19] kknee commented on #106
ncSOS is setup for HABS, all the endpoints are available from the TDS.  ncSOS is simply listed as another access option, e.g.

![image](https://cloud.githubusercontent.com/assets/196868/25179693/f3c6a0b4-24d8-11e7-9210-120c17642aea.png)

[2017-04-19 12:25] kknee commented on #105
@gcutrell data received for days 051 to 100.

[2017-04-19 12:28] tslawecki commented on #106
@gcutrell I was a little narrow in my thinking, the server-side harvest can use whatever method to grab the data ... doesn't have to be SOS.

________________________________
From: Kelly Knee <notifications@github.com>
Sent: Wednesday, April 19, 2017 8:19 AM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Guidance on ncsos access to HABs portal stations (#106)

ncSOS is setup

[2017-04-19 15:20] kkoch commented on #114
Not quite sure what to call this.  Isn't really an enhancement and not really a bug since it was something purposefullly (albeit accidently) removed.  But would be a very good thing if easy to bring back for the asset landing page project since we should show Station Page link if someone clicks on the "i" as well.

How easy/quick is it to put that back in place?

[2017-04-19 15:23] tslawecki commented on #114
Confirming we would like to have it back, but noting that we can live without it for tomorrow.

________________________________
From: Kathy Koch <notifications@github.com>
Sent: Wednesday, April 19, 2017 11:20 AM
To: glos/myglos
Cc: Subscribed
Subject: Re: [glos/myglos] External links display in map view (#114)

Not quite sure what to call this. Isn't really an enhancement and not really a bug si

[2017-04-19 16:10] IWN-Currents opened #115 "Redirect data.glos.us/glatos to glatos.glos.us"
@lukecampbell - This feels like you, LMK if not. The GLATOS folk are done with data.glos.us/glatos and would like to have all traffic there redirected to glatos.glos.us. Is this best done at the site level> Might we need to add a 404? Copying @kknee FYI, scheduling is important.

Apparently Cam sent me an email requesting this several weeks ago but I never received it, so client is antsy ...

[2017-04-19 16:12] tslawecki commented on #115
BTW, IWN-Currents is a clone of me ...

[2017-04-19 17:02] lukecampbell commented on #115
On data.glos.us, change `/etc/httpd/conf/httpd.conf` **Lines 1073** from

[code]

To

[code]

After that, restart apache with

[code]

You can do this whenever you want, let me know if you have any trouble.

[2017-04-19 18:33] tslawecki commented on #115
Thanks @lukecampbell - changed httpd.cong and restarted apache per directions, and checked that data.glos.us/glatos is redirected to glatos.glos.us per client request.

[2017-04-19 18:33] #115 closed

[2017-04-26 13:35] kkoch commented on #58
Links have disappeared again:

My main one for GLEAM is still there (http://portal.glos.us:/?map=MzkyNTljMjYtNjIxMS00ZThlLTk4YzMtMTczOTdkMTYxNmIyOkdMRUFNIC0gQWxs&name=GLEAM%20-%20All) , as are all my buoy ones, but all the  secondary GLEAM links I'd set up seem to have gone.

Example: GLEAM - Aquaculture
http://portal.glos.us:/?map=MzkyNTljMjYtNjIxMS00ZThlLTk4YzMtMTczOTdkMTYxNmIyOkdMRUFNIC0gQXF1YW

[2017-04-26 15:13] kkoch commented on #114
BTW Very strange that I see multiple links for some things and not others.  Although it is also strange that on this I see the phrase "data source" instead of "metadata record" for the GN link so am guessing there is code that was changed for buoys but not for other non-mappable items.

![image](https://cloud.githubusercontent.com/assets/6392982/25441404/278eda6e-2a70-11e7-91df-d8783ec5e049.png)

[2017-04-26 17:06] kkoch opened #116 "MTRI (and possibly other organizations) Logo"
MTRI is asking if there is a way to put their logo by their product(s) in the portal. Not sure where that would go so I'm just opening this one up for discussion.

Maybe on legend?  Maybe with the abstract when that issue gets resolved/updated (see issue #53)?  Maybe we provide a link to GN metadata (I do have individual metadata records for the 'old' way we provided the MTRI sat models which was

[2017-04-26 17:15] kkoch commented on #100
GN record is complete.  Passing back to @cgalvarino to get into portal (obs) and then can do the circular thing in GN for variables/parameters.

[2017-04-26 17:23] kkoch commented on #64
@kknee to send @kkoch an example or two

[2017-04-26 17:47] cgalvarino commented on #100
I'm not sure I need to do anything.  If you see dots in the obs cache (old portal), my work is done.  That appears to be the case.

![image](https://cloud.githubusercontent.com/assets/180985/25448554/d0a6d64a-2a86-11e7-850e-f6c045dbadb3.png)

[2017-04-26 18:20] kkoch commented on #100
Need to have a DMAC discussion on how to handle this.  I believe @lukecampbell we need to add this as a collection similar to co-ops, ndbc, etc?  Next steps?  I can add a single "GR Cons Auth" GN record (actually already created as noted above) and/or can be manually curated or I can add all stations as individual records.

If needed obs data is at >
http://data.glos.us/portal/getObsCatalog.php?pr

[2017-04-26 20:13] cheryldmorse commented on #5
The contents of the glos_obs database is now being written to netCDF. The data is available [here](http://tds.glos.us/thredds/buoys/glos_buoys.html)

[2017-04-28 15:19] kkoch opened #117 "GeoNetwork server out of space"
VM (GN25.glos.us; 64.9.208.34 - a VM on the server 192.168.79.111) that hosts GeoNetwork filled up on disk space.

The GN log files have been significantly running rampant such that the catalina-daemon.out file was over 151GB in size.  When looking at the logs (some of which were also significant in size), appears that the massive logging might be related to the Portal hitting GN

![image](https:/

[2017-04-28 15:22] kkoch commented on #117
@lukecampbell > Pulling you in to see if you have any ideas on either some ways to whitelist the portal hits from the logs or programmatic ways we can purge them on a regular basis.  I'm also researching the GN system manual to see if I can glean something there.

[in the interim Greg and I now will be keeping a closer eye on the disk utilization]

[2017-04-28 17:14] lukecampbell commented on #117
There's a service on most if not all linux distributions that handles cleaning up logs and logfiles called [logrotate](http://www.linuxcommand.org/man_pages/logrotate8.html).

[2017-04-28 19:01] kkoch commented on #58
And it gets more fun.  Sent to co-worker a permalink that should work (the one to the main GLEAM record - "GLEAM - all") - which is showing in my collections list >

http://portal.glos.us:/?map=MzkyNTljMjYtNjIxMS00ZThlLTk4YzMtMTczOTdkMTYxNmIyOkdMRUFNIC0gQWxs&name=GLEAM%20-%20All

He reported back to me that it didn't work.

Sure enough I tested using FF, IE and Chrome.  And in all browsers it just

[2017-04-28 19:05] beckypearson commented on #117
Do we know when the disk space for this server became a problem? Is Greg working on it? Has this been fixed yet?

Just want an update. Once it is fixed, we should document this in a brief, postmortem report.

[2017-04-28 19:08] kkoch commented on #117
It is fixed.  Greg just needs to document his end of things. (And I wanted Luke's feedback on the logrotate so it may remain open until we get something like that in place).  But GN itself is back and we just need to put something in place to keep it from occurring again.

[2017-04-28 19:12] beckypearson commented on #117
Good to hear it is fix.  How much down time was there for that server?  Again, a brief report would be great, or it should be integrated in our quarterly report on GLOS infrastructure which we start doing.

[2017-04-28 19:29] kkoch commented on #117
I don't believe it needs to be reported as the main person affected was me. I was unable to add data starting at about 3pm on Wednesday (and was not working on Thursday so figured it could wait until today).  However, GN should have still been available to the general user and portal until this morning where it was down for less than an hour while Greg and I figured out what needed to be done to c

[2017-04-28 20:27] lukecampbell commented on #58
That's a bug that was brought up to me this morning. If you go to the map though, data should be there:

![screen shot 2017-04-28 at 4 27 09 pm](https://cloud.githubusercontent.com/assets/1155163/25546100/8c3f7e58-2c2f-11e7-8fa9-0323d6ac336e.png)

[2017-05-05 12:55] kkoch opened #118 "Portal need to extend the disk volume"
404 not found for portal.glos.us

[2017-05-05 12:58] kknee commented on #118
it was working after the updates to production yesterday - I tested late last night

[2017-05-05 13:10] tslawecki commented on #118
Here's a current traceroute ...

Tracing route to portal.glos.us [64.9.208.40]
over a maximum of 30 hops:

  1    47 ms     2 ms     1 ms  10.89.254.253
  2     3 ms     5 ms     4 ms  173-167-227-78-ip-static.hfc.comcastbusiness.net [173.167.227.78]
  3    10 ms    18 ms    26 ms  96.120.41.109
  4    14 ms    15 ms    36 ms  te-3-8-ur02.ypwest.mi.michigan.comcast.net [68.85.48.5]
  5    48 ms

[2017-05-05 13:30] kkoch commented on #118
threads:
The portal.glos.us VM that runs the portal ran out of space. It only has 20 GiB on it.
It's a local GLOS VM.
Space recommendation? 100 GiB would be safer. We don't use a whole lot of space. The docker images take up the most room which are a few gigs but I can clean them up after deployments to keep the space down. ElasticSearch which is the search engine does take up quite a bit of room

[2017-05-05 14:03] kkoch opened #119 "Documentation update"
Recent issues with GN and the Portal bring to my attention that we urgently need to update the following document in the Wiki:

https://drive.google.com/file/d/0B7pJZVmOuWvzU0FUZERyUGZhcjg/edit?usp=sharing

I've attached owners as I know them.  Please within the next couple of weeks make sure
a) the information is correct and
b) include a list of the VM's, their IP, their 'common name' (e.g., GN25

[2017-05-05 14:10] kkoch commented on #68
Closing following upgrade to MyGLOS logins/user management.

[2017-05-05 14:10] #68 closed

[2017-05-05 14:14] kkoch commented on #58
Luke has pushed to production some changes including logging when a user saves a collection.
Also added ability to export/import collections.  Will close this for now. If we have further issues will re-open.

[2017-05-05 15:21] tslawecki commented on #118
We are restoring the Wed 10 PM snapshot, should be back up around 11:30 AM.

Two follow-up items we may want to turn into separate issues:

1) Monitoring up/down for portal.glos.us --- we should have been notified rather than serendipitously discovering problem. Was this already being monitored by RPS, or do we need to add.

1a) Add monitoring of CPU/disk/RAM for portal.glos.us for munin.

2) Rest

[2017-05-05 16:17] kknee commented on #99
This issue should be moot now that we have adopted a different user management approach.

[2017-05-05 16:17] #99 closed

[2017-05-05 16:18] kknee commented on #33
@kkoch can you test this once the portal comes back up?

[2017-05-05 16:21] kknee commented on #5
@kkoch can you try making a separte GN record for one station so that we can look at switching oceansmap over to using the netCDF data?

[2017-05-05 16:40] kkoch commented on #5
Copy of 45169 buoy metadata.  Does not have a valid obscache link so you'll need to let me know if or what needs to be done to make that so it shows on dev. But does have categories, keywords, info link.

http://data.glos.us/metadata/srv/eng/main.home?uuid=1a478f2e-eafa-4925-9b67-3120a3276aef

[2017-05-05 16:46] kknee commented on #5
doesn't need a valid obs cache link, but it does need a link to the TDS record.  @lukecampbell what does oceansmap need?  a link to the ncml?

[2017-05-05 17:36] kkoch commented on #118
Looks like it's back?

[2017-05-05 17:36] lukecampbell commented on #118
It's back but we still need to extend the disk volume which will require a reboot at some point in the future.

[2017-05-05 17:48] kkoch commented on #33
This still works as I originally reported.  Added to map, decided to save collection, Login to MyGLOS, after logging in it takes me to catalog view.  Go to map, and it is just the default map - my map view (potential future collection) I was building is no longer there.

(NOTE: I tested on DEV and it works the same way)

[2017-05-11 17:27] kknee opened #120 "45027 Missing Air Temp"
Data appears in the obs cache, but not in the portal pop-up

obs cache: http://data.glos.us/portal/getObsByPlatform.php?provider=glos&platform=UMD+Coastal+Buoy

[2017-05-12 13:29] kkoch commented on #120
We need to remember that if the PI changes a parameter name (e.g., was "Air Temperature" and now they present it as "AirTemperature" (had a space and now doesn't), I need to make that fix in GeoNetwork.

For UMD this was the case so I've made the correction in GN.  It is something I check each week (or more often during the season) but before we think it is a huge problem, check with me and I'll m

[2017-05-12 13:29] #120 closed

[2017-05-19 17:54] kknee commented on #53
@kkoch the above are showing up as a separate set of records in GN and thus we have two records for each lake in OceansMap: we need to combine/sync:

![image](https://cloud.githubusercontent.com/assets/196868/26260314/bcd90cca-3c9a-11e7-8cea-a779510fa01c.png)

[2017-05-23 14:57] gcutrell opened #121 "Increase frequency of thredds/buoy files"
Do we have the capacity to increase the frequency at which the buoy netcdf's are updated on thredds? The current greatlakesbuoys is generally only 10-20 minutes behind actual time and we really need to try and match it for the new website. We are currently pulling data from Thredds every 10 minutes.

@kknee @cheryldmorse

[2017-05-23 15:26] kkoch opened #122 "ESF3 (and other ESF buoys) not reporting"
It was brought to my attention at IAGLR that ESF3 (and potentially other ESF buoys) 'should' be showing up in the portal but are not.  Before I go back to the PI to verify that they are submitting correctly, would someone just check the FTP folder and make sure it hasn't gone into the wrong folder or see if the data is there but with errors?

Then if the data is not there, I will go back to the PI

[2017-05-23 16:05] kkoch opened #123 "45171 buoy not showing obs data"
45171 (Granite Island) is showing data from NDBC but not through our obs cache. Can we verify that we should be getting data from PI (NMU) and see if it is an issue on our end or it they are no longer submitting to our ftp folder?

[2017-05-23 16:09] kkoch opened #124 "45170 data not in obs cache (but is being ftp'd)"
45170 (Illinois-Indiana Sea Grant) is showing data from NDBC but not through our obs cache. Can we verify that we should be getting data from PI and see if it is an issue on our end or it they are no longer submitting to our ftp folder?

[2017-05-23 16:23] gcutrell commented on #123
I still control 45171's reporting and forgot to enable the reporting to GLOS (opps)! 45171 is now reporting to glos.

[2017-05-23 16:23] #123 closed

[2017-05-23 16:58] gcutrell commented on #122
@kkoch The only stations that are retrieving data in their ftp directory is ESF4 and ESF7 (which are working on the protal). Directories for ESF1, 2, 3, and 5 have not received data since 11/11/2016 and 11/12/2016. My guess is the their programs ftp has not been enabled or maybe they are sending data to glos.us, but I don't know if that would have worked in November.

[2017-05-23 19:28] kkoch commented on #75
Metadata has been added at this point as a single record. GN record is > http://data.glos.us/metadata/srv/eng/main.home?uuid=7d8d48b6-a6d9-4f5e-9dd9-75028cd55f4b

Next steps?  Believe that Dan Rusinski @limnotech has been working on getting these into thredds.  If we are handling these like other buoys, they'll need to get to obs and then I'll need to create separate GN records with the correct li

[2017-05-23 21:21] kknee commented on #121
@gcutrell  - we currently harvest once an hour.  @cheryldmorse will update to every 10 minutes tomorrow morning and keep an eye on it throughout the day to make sure that each harvester process finishes before the next one starts and that we're not impacting TDS performance.

[2017-05-24 12:42] gcutrell commented on #121
@kknee Great! Thanks! I think we could get away with once every 15 minutes without people complaining but every ten minutes would be optimal since most buoys report at that frequency.

[2017-05-24 13:26] cheryldmorse commented on #121
@gcutrell The data is being harvested every 10 minutes now.

[2017-05-26 09:25] tslawecki opened #125 "NDBC buoys not available in Data Portal!"
I was cross-checking between Boater's Tool and Data Portal this morning, and noticed that I could not get 45006 or 45008 in Data Portal - 45005 seems to be the only buoy in the NDBC collection.

[2017-05-26 13:50] kkoch commented on #125
I also briefly noticed this the other day when I was working on GLBuoys that I wasn’t seeing expected NDBC buoys in Portal but was immersed and figured I’d done something odd on my end and then didn’t remember to revisit.

When we search for NDBC and partner stations and add to map all I’m seeing are NWS stations (e.g.,
Station bsbm4 - Big Sable Point, MI ) not the buoys (e.g. 45006 etc.).  The bu

[2017-05-26 18:13] kkoch opened #126 "Rename untitled collection?"
Suggestion from GLOS (Kristin) that we rename the column header for "Untitled Collection" as she feels it un-intuitive for users to know that is where they go to save searches.  We brainstormed that it might make sense to incorporate the MyGLOS branding and so maybe something like "My Saved Collections".

[2017-05-26 18:15] kkoch opened #127 "Rename Models category?"
Seems to confuse the more novice portal users on the term models.  Suggest we change it to "Models/Forecasts".   Other suggestions?

[2017-05-26 18:20] kkoch opened #128 "Split logo linking on portal?"
Suggested by GLOS (Kristin) that we split the logo in the header such that the left part takes user to glos.us main site but if the Click on the "Data Portal" portion it returns them to Data Portal home/catalog.

[2017-06-07 14:18] kkoch commented on #122
ESF3 reporting. Sent email to ESF so assuming other buoys are just not transmitting at this time.

[2017-06-07 14:18] #122 closed

[2017-06-07 14:25] kkoch commented on #112
I am removing the links from GeoNetwork will leave the (very nice IMHO) metadata there but of course with getting the NDBC feed only we lose that connection to the metadata from the portal.

[2017-06-07 14:25] #112 closed

[2017-06-08 12:10] tslawecki opened #129 "Missing *_20170608.nc files?"
As noted to dmac@glos.us, the Buoy Portal is showing many out-of-date stations. Checking, I saw that (e.g.) there is no 45023_20170608.nc file for today's observations, though the Data Portal shows 8 AM observations. I did do a quick check - there is still disk space on the thredds server and the NAS.  @kknee , I'm thinking this is for @cheryldmorse to check into?

[2017-06-08 16:39] cheryldmorse commented on #129
This was an issue with storage.glos.us not accepting incoming connections. A reboot solved the issue.

[2017-06-08 16:39] #129 closed

[2017-06-08 17:00] everhamme commented on #129
Any idea if this might be a recurring issue?  Do we have any checks in place to actively notify us of issues other than waiting for a user to notify?

From: cheryldmorse [mailto:notifications@github.com]
Sent: Thursday, June 8, 2017 12:39 PM
To: glos/myglos <myglos@noreply.github.com>
Cc: Subscribed <subscribed@noreply.github.com>
Subject: Re: [glos/myglos] Missing *_20170608.nc files? (#129)

Thi

[2017-06-09 10:51] kknee commented on #129
We can set up a daily report on the latest files and highlight those that are more than xx hours old.  Probably a couple of days of effort to setup.  Let me know if we should proceed.

From: Ed Verhamme [mailto:notifications@github.com]
Sent: Thursday, June 8, 2017 1:00 PM
To: glos/myglos <myglos@noreply.github.com>
Cc: Kelly Knee <Kelly.Knee@rpsgroup.com>; Mention <mention@noreply.github.com>
Sub

[2017-06-09 11:21] everhamme commented on #129
Greg has a similar automated  email report setup for the old gl buoys.    I'm sure he could adapt with very little effort.

Greg can respond?

Ed Verhamme
Project Engineer
LimnoTech www.limno.com
Ph: (734) 332-1200<tel:(734)%20332-1200>
Direct/Cell:  (734) 681-0577<tel:(734)%20681-0577>
everhamme@limno.com<mailto:everhamme@limno.com>

-------- Original message --------
From: Kelly Knee <notificati

[2017-06-09 11:35] tslawecki commented on #129
I think that this is a different type of fault ... what we need is an alert that the ssh is not working.

________________________________
From: Ed Verhamme <notifications@github.com>
Sent: Friday, June 9, 2017 7:21 AM
To: glos/myglos
Cc: Tad Slawecki; Author
Subject: Re: [glos/myglos] Missing *_20170608.nc files? (#129)

Greg has a similar automated email report setup for the old gl buoys. I'm su

[2017-06-09 11:37] everhamme commented on #129
A check on the glbuoys.glos.us timestamps per buoy would catch a host of problems.

Ed Verhamme
Project Engineer
LimnoTech www.limno.com
Ph: (734) 332-1200<tel:(734)%20332-1200>
Direct/Cell:  (734) 681-0577<tel:(734)%20681-0577>
everhamme@limno.com<mailto:everhamme@limno.com>

-------- Original message --------
From: Tad Slawecki <notifications@github.com>
Date: 6/9/17 7:35 AM (GMT-05:00)
To: glos

[2017-06-09 12:00] kknee commented on #129
Agree – first step is to be alerted that they are not current, then we can work out why.

From: Ed Verhamme [mailto:notifications@github.com]
Sent: Friday, June 9, 2017 7:37 AM
To: glos/myglos <myglos@noreply.github.com>
Cc: Kelly Knee <Kelly.Knee@rpsgroup.com>; Mention <mention@noreply.github.com>
Subject: [EXT] Re: [glos/myglos] Missing *_20170608.nc files? (#129)

A check on the glbuoys.glos.us

[2017-06-09 16:06] kknee commented on #105
@gcutrell @tslawecki are we all set on days 51 to 100?

[2017-06-11 00:31] tslawecki commented on #129
Btw something's  off again in case anyone is anle to check.
-------- Original message --------
From: Kelly Knee <notifications@github.com>
Date: 6/9/17 8:00 AM (GMT-05:00)
To: glos/myglos <myglos@noreply.github.com>
Cc: Tad Slawecki <tslawecki@limno.com>, Author <author@noreply.github.com>
Subject: Re: [glos/myglos] Missing *_20170608.nc files? (#129)

Agree – first step is to be alerted that they

[2017-06-13 12:00] everhamme commented on #129
Many many stations aren't current as of now

Ed Verhamme
Project Engineer
LimnoTech www.limno.com
Ph: (734) 332-1200<tel:(734)%20332-1200>
Direct/Cell:  (734) 681-0577<tel:(734)%20681-0577>
everhamme@limno.com<mailto:everhamme@limno.com>

-------- Original message --------
From: Tad Slawecki <notifications@github.com>
Date: 6/10/17 8:32 PM (GMT-05:00)
To: glos/myglos <myglos@noreply.github.com>
Cc

[2017-06-13 12:09] kknee commented on #129
@everhamme aren't current where?  Spot checked portal and TDS and am seeing 6/13/17 data in both places.

[2017-06-13 12:16] tslawecki commented on #129
http://glbuoys.glos.us ...

________________________________
From: Kelly Knee <notifications@github.com>
Sent: Tuesday, June 13, 2017 8:09 AM
To: glos/myglos
Cc: Tad Slawecki; Author
Subject: Re: [glos/myglos] Missing *_20170608.nc files? (#129)

@everhamme<https://github.com/everhamme> aren't current where? Spot checked portal and TDS and am seeing 6/13/17 data in both places.

-
You are receivin

[2017-06-13 12:23] tslawecki commented on #129
Two examples:

  45028 is > 6 hours old, but that's consistent with data.glos.us/status, which suggests UMnD is having some sort of problem, so *maybe* this is all right.

  45001 is also outdated, but it's more problematic: I can't get to 45001 (NDBC) in portal.glos.us at all. NBDC link shows it as current, so two problems here:

  - glbuoys harvest

  - display/access in main data portal

______

[2017-06-13 12:27] kknee commented on #129
taking 45176 as an example- same deal, data is more than 6 hours old but that is consistent in the portal and TDS.

For 45001 we may need to update the NDBC buoy collection layer

[2017-06-13 12:42] tslawecki commented on #129
NDBC is an existing issue - I'm surprised it's still open ... https://github.com/glos/myglos/issues/125

Is this a Kathy or RPS issue?

________________________________
From: Kelly Knee <notifications@github.com>
Sent: Tuesday, June 13, 2017 8:27 AM
To: glos/myglos
Cc: Tad Slawecki; Author
Subject: Re: [glos/myglos] Missing *_20170608.nc files? (#129)

taking 45176 as an example- same deal, data i

[2017-06-13 12:47] kknee commented on #129
This was an issue with the NDBC collection, which we updated and deployed to dev to keep an eye on: http://dev.oceansmap.com/myglos/#

I think we're probably good to push to production

[2017-06-13 12:55] everhamme commented on #129
About 30 were red this morning on glbuoys.glos.us

Ed Verhamme
Project Engineer
LimnoTech www.limno.com
Ph: (734) 332-1200<tel:(734)%20332-1200>
Direct/Cell:  (734) 681-0577<tel:(734)%20681-0577>
everhamme@limno.com<mailto:everhamme@limno.com>

-------- Original message --------
From: Kelly Knee <notifications@github.com>
Date: 6/13/17 8:09 AM (GMT-05:00)
To: glos/myglos <myglos@noreply.github.com

[2017-06-13 13:31] kkoch opened #130 "45014 not pushing data to system"
According to PI, Buoy 45014 (Green Bay - UWM) was released May 31, but portal indicates that it is out of the water.

I (Kathy) have responded to Becky's email to UWM that they should check and see if they are submitting data to ftp.glos.us.  If we could also check on our side and make sure there isn't something in error on our side.  I also am removing the out of water statement from GN but we ne

[2017-06-13 13:33] #117 closed

[2017-06-13 13:38] kkoch commented on #43
Per Greg per Tad relying on NDBC feeds. Removed links to GN however they are still showing in Portal. Possibly needs manual RPS effort to remove?

[2017-06-13 14:03] kkoch opened #131 "45027 temperature variables"
45027 Univ Milwaukee-Duluth showing as "Thermistor String Node 10 Depth In Water" instead of "WaterTemperature @   x ft".  Since 45028 is showing correctly, need to check with PI to have them correct on their end (vs. changing the GN metadata).

[2017-06-13 14:03] kknee commented on #130
there's no data in the obs cache: http://data.glos.us/portal/getObsByPlatform.php?provider=glos&platform=GB17 so seems to be a data flow issue

[2017-06-13 14:39] kknee commented on #125
This is updated on dev (dev.oceansmap.com/myglos) and needs to be pushed to production

[2017-06-13 14:40] #121 closed

[2017-06-13 14:41] kknee commented on #119
I will check with Ben Adams on location of documentation updates that were done in Nov/Dec 2016

[2017-06-13 14:45] kkoch commented on #108
All GN records point to actual landing page

[2017-06-13 14:47] #106 closed

[2017-06-13 14:49] kknee commented on #102
RPS added HECWFS to EDS, recommend that we update the endpoint from the sciWMS service to the EDS WMS service.  The EDS source is currently being QAQC'd by one of our oceanographers

[2017-06-13 14:56] kkoch commented on #48
Not getting obs data from PI.  Need to investigate.

[2017-06-13 14:59] gcutrell commented on #129
Strangely we are getting an error reading in some NDBC buoys but not others. Usually it is all or nothing. Not 100% sure why the error is occurring so I asked Reid if he knows what is going on.

I have also adopted a previous program where I scrap Limnotech's stations last update and check for a time difference greater than two hours and if this occurs an email is sent out. This program has been v

[2017-06-13 15:34] kkoch commented on #131
Have email in to Jay Austin but he's on travel this week.

[2017-06-13 15:55] kkoch opened #132 "Boaters Tool transition"
Boater's Tool Oceansmap has been created > http://dev.oceansmap.com/boaters/

Changes done to be completed before beta release:
- [x] reorganization of TOC categories per @kkoch comments [RPS]
- [x] rename categories per @kkoch comments [RPS]
- [x] add hamburger button [RPS]
- [x] add feedback form (to hamburger menu) [RPS]
- [x] finalize users guide and quick start guide [LT-kk]  [add marinas doc

[2017-06-13 15:58] kkoch commented on #130
From PI

Hi Kathy, sorry for the slow response.  We are having communication issues with 45014 and are sending a crew up on Thursday, weather permitting, to install a new antenna - which hopefully will correct the problem.

Jeff will keep you posted on the status.

thanks Val

J. Val Klump, JD, PhD
Senior Director and Dean
School of Freshwater Sciences
Great Lakes WATER Institute
University of Wis

[2017-06-13 16:04] kkoch commented on #124
Sent email to Jay Beugly jbeugly@purdue.edu asking if he is pushing the data.

His response: _Thanks for letting us know, I think there was a problem on Greatlakesbuoys too. Everything seemed fine on our site. I have cc’d those who might have a better handle on how the data might be pushed. Hopefully we can all sort it out quickly. Jay_

[2017-06-13 16:06] kkoch commented on #113
Closing as this is a duplicate issue to Issue #57 (but it is still an issue)

[2017-06-13 16:06] #113 closed

[2017-06-13 16:12] gcutrell commented on #124
@kkoch GLOS is receiving the data because I can view it in their ftp directory. The issue is I couldn't find the platform ID setup for 45170. Guan also didn't recall setting up a platform ID for 45170. So I need to create a new platform for 45170.  The confusing part is how there was data in thredds even though Guans script was not setup to ingest 45170. @kknee  Where is thredds pulling the buoy d

[2017-06-13 16:14] kkoch commented on #82
1) Suggest also changing form header
from: Please provide us with some feedback.
to:   Please provide us with feedback or report an issue.

2) Suggest changing Feedback box to:
Feedback or Issue

3) Future ehancement might also be adding a checkbox for urgency (e.g., Priority (high, medium, low).

4) Also add a box for User Organization (optional)

[2017-06-13 16:15] kkoch commented on #53
GN changes have been made for awhile.  Needs RPS to remove from catalog.

[2017-06-13 16:17] kkoch commented on #48
@gcutrell can you check on why we wouldn't be getting data into obs?  I believe Ed said you were the "PI" for this one

[2017-06-13 16:22] gcutrell commented on #48
45173 is not deployed right now.

[2017-06-13 16:22] kkoch opened #133 "GLBuoys transition"
glbuoys.org site developed; includes ability to link directly to a buoy (e.g., glbuoys.org/xxxxx).

Load testing is in progress with some issues noted.  Also some minor issues with user displays on mobile devices.

[2017-06-13 16:24] kkoch commented on #48
Okay. I'm putting the notice in that it is out of the water. Let me know when (if) it is deployed.

[2017-06-13 17:37] kknee commented on #48
@kkoch since there is no issue specific to this buoy i'm going to close this.

[2017-06-13 17:39] kknee commented on #124
@cheryldmorse did we end up pulling live data from the obs DB directly or 52NSOS?

[2017-06-13 17:45] cheryldmorse commented on #124
The data is coming directly from the obs database. There already is a table in the db for station 45170.

[2017-06-13 17:55] gcutrell commented on #105
@kknee All set. Checked off the box for DOY 101-150.

[2017-06-13 18:30] kkoch commented on #124
Here is the original issue for when this was set up in case that helps >https://github.com/glos/myglos/issues/67

[2017-06-13 18:31] kkoch commented on #133
Also from our SeaGrant folks > _I have a request for the new data portal (which I'm very glad will now include all of the buoys in the Great Lakes and be mobile-friendly!!): would you please include the links for our IISG pages on our individual buoy pages somewhere? I know we're not the only groups tailoring data presentation for local audiences, and it would be very nice for the individual organ

[2017-06-13 19:51] tslawecki opened #134 "MIssing .nc files?"
See <a href=http://tds.glos.us/thredds/catalog/buoys/45176/2017/catalog.html>45176 in THREDDS</a> and <a href=http://greatlakesbuoys.org/show_pic.php?station=45176&meas=WVHGT&uom=E&time_diff=-4&time_label=EDT>45176 in legacy GreatLakeBuoys.org</a> - why aren't there .nc files for 0610 and 0611? Perhaps related to ssh problems, is this easy to correct? There are some other stations with this issue

[2017-06-13 20:05] gcutrell commented on #133
I'll need to add a new key to the metadata files since I imagine others will like to add a link to their own data as well. The question is where to put this link and its styling?

[2017-06-13 20:07] tslawecki commented on #133
Buoy information at the bottom, like the (future) uglos links.Could it just be in the text instead?

________________________________
From: gcutrell <notifications@github.com>
Sent: Tuesday, June 13, 2017 4:06 PM
To: glos/myglos
Cc: Subscribed
Subject: Re: [glos/myglos] GLBuoys transition (#133)

I'll need to add a new key to the metadata files since I imagine others will like to add a link to the

[2017-06-13 20:35] cheryldmorse commented on #134
@tslawecki I'm not seeing any data in the obs database for buoy 45176 on the 10th or 11th

[2017-06-13 20:51] tslawecki commented on #134
Adding @gcutrell (and by e-mail) Ed since this is one of "our" buoys. Greg or Ed ... how can we check if our buoy data server had issues at that time pushing to GLOS? It seems pretty clear that UGLOS was receiving, so we need to figure out where the breakdown was in the 45176 -> LimnoTech -> GLOS -> obs/nc flow was.

________________________________

From: cheryldmorse <notifications@github.com>
S

[2017-06-14 12:54] gcutrell commented on #134
@tslawecki @cheryldmorse I have noticed that gwangs app is not removing old xml files from the 45176 directory so when checking the xml files from the 9th and 10th there are many files with 0 bytes size. I also just checked the buoy and it is currently not successfully sending data to glos. We are sending the same xml file to glos, mtri, and ndbc so I am not sure why there would be a file size of

[2017-06-14 15:39] kkoch opened #135 "Portal emails not going anywhere"
Comments/feedback from Portal do not appear to be working.  Should go to dmac email address but no one is receiving anything.  I looked at the page source and while I'm guessing this is something driven by oceansmap and some javascript, I didn't see any submit 'behind' the buttons nor anything that called up the dmac email so not quite sure what is supposed to be happening behind the curtain so to

[2017-06-14 17:08] kknee commented on #135
we're on it, will let you know what's going on and whether any changes are necessary to GLOS servers.

[2017-06-14 17:42] kknee commented on #135
update - emails from the dev instance of oceansmap are working fine and there have been no recent changes to the feedback code.  need to dig a little deeper.

[2017-06-14 18:08] kkoch commented on #131
User reports no changes on their end and is displaying correctly today. Unknown correction?
![image](https://user-images.githubusercontent.com/6392982/27147439-d07f64b6-510a-11e7-9d3a-441fc29f8c33.png)

[2017-06-14 18:08] #131 closed

[2017-06-14 18:09] kkoch opened #136 "UMN reports GLOS ftp server not letting them write"

[2017-06-14 18:11] gcutrell commented on #136
Which buoys are those?

[2017-06-14 18:12] kkoch commented on #136
UMN > 45027 and 45028

[2017-06-14 18:41] gcutrell commented on #136
It appears not to be isolated to UMN. The error is sporadic with data coming in intermittently. I spoke to Guan about 45170 and 45176's issues this morning and just alerted to him that not being able to ftp data into glos is more widespread. He said he will look into it today.

[2017-06-15 13:05] gcutrell commented on #136
We ran out of disk space. Can you confirm that they havnt seen the error today?

[2017-06-15 16:17] kknee commented on #132
@kkoch don't kill me, but i reorganized the above so it would be easier for folks to follow while I'm out.  I think all the task are still there.

Also hamburger button is good to go on dev

[2017-06-15 16:19] kknee commented on #135
this is fixed.

[2017-06-15 16:19] #135 closed

[2017-06-15 16:23] kknee commented on #75
@kkoch if we want to handle like other sources, they need to get into obs DB first and then into THREDDS.  @cgalvarino and @cheryldmorse have handled many 3rd-party sources for us let us know if/when you need us to jump in.

[2017-06-15 16:34] kknee commented on #31
@kkoch given other priorities, i think this shoudl be moved to a future enhancement to be discussed later.

[2017-06-15 16:35] kknee commented on #30
@kkoch I believe we can close this based on the all the Google Analytics/GTM work that's been completed.

[2017-06-15 16:35] #30 closed

[2017-06-15 16:41] kknee opened #137 "Implement QARTOD for Core GLOS Buoys"
Add QARTOD to these: http://tds.glos.us/thredds/buoys/glos_buoys.html
Similar to existing process for http://tds.glos.us/thredds/habs/habs.html

[2017-06-15 17:00] kknee commented on #130
@kkoch please close if you see successful data flow

[2017-06-15 17:02] kkoch commented on #136
UMW says it is working.  Closing ticket.

[2017-06-15 17:02] #136 closed

[2017-06-15 17:40] kknee commented on #125
deployed on production

[2017-06-15 17:40] #125 closed

[2017-06-15 17:45] kknee commented on #119
updated documentation posted to Google Drive (https://drive.google.com/drive/folders/0B7pJZVmOuWvzZU9EUXZLazkzalU)

See Annotated GLOS Master Documentation

[2017-06-15 17:45] #119 closed

[2017-06-15 19:16] kknee commented on #5
@kkoch example links to add to GN:

1. GLOS ncSOS Service: http://tds.glos.us/thredds/sos/buoy_agg/utlcp/utlcp.ncml
2. GLOS OPeNDAP Service: http://tds.glos.us/thredds/dodsC/buoy_agg/utlcp/utlcp.ncml.html - note on this one that appending '.html' at the end makes this link readable in a browser, but folks actually wanting to hit the data via opendap programatically would want to truncate after '.n

[2017-06-15 19:18] kknee commented on #5
checked the IOOS catalog (catalog.ioos.us) and they provide both the straight .ncml and the .ncml.html, differentiating them like this:

![image](https://user-images.githubusercontent.com/196868/27197857-e48ff4d8-51dd-11e7-8fb6-c7077e27ae31.png)

[2017-06-15 19:51] kknee opened #138 "Add "Station Page" links from GeoNetwork to GLOS Buoy Pop-Up titles"
Similar to the proof of concept deployed in April:

![image](https://user-images.githubusercontent.com/196868/27198974-4b6915c8-51e2-11e7-8f54-af885d88d3c0.png)

[2017-06-15 19:55] kknee opened #139 "Investigate adding SMS option to Alerts"
would require adding a field to collect mobile numbers to the "Create an Account Page"

[2017-06-16 01:09] kknee commented on #111
@gcutrell sounds like we're all set here, so closing.  Please re-open if I'm incorrect.

[2017-06-16 01:14] kknee commented on #108
@kkoch I believe this can be closed as we have links to station pages from the Portal Catalog and a separate issue for linking to popups, #138

[2017-06-16 01:14] #108 closed

[2017-06-16 01:40] kknee opened #140 "Add Grand River Conservation Authority Data to GLOS TDS"
see #100 for background.  If we're going to retire the obs cache, this data should make it onto the GLOS TDS too.

[2017-06-16 02:00] kknee commented on #64
@kkoch at long last, some examples:

http://www.dubaicoast.ae/en-GB/sites/help/privacy - overkill?
https://coast.noaa.gov/PrivacyPolicy/privacyPolicy.html

I think it's also worth chatting with Devra since many of the privacy issues will be related to collected analytics.

Consider the ball officially in your court!  I'm also thinking that we might want the policy on the main glos.us page.

[2017-06-16 02:09] kknee commented on #53
@kkoch looks like we're good on the number of records in the portal, but still no abstracts.  Can you point me to exactly which records in GN we should be pulling from for the abstracts?  it wasn't obvious when I was poking around.

[2017-06-16 02:18] kknee commented on #33
added a task for investigating to Jira - if this is high effort may have to wait for next year

[2017-06-21 13:26] kkoch commented on #53
@kknee @cheryldmorse We weren't pullling from GN for abstracts.  See above Apr 18 comment for text.

[2017-06-21 13:37] kkoch commented on #75
Received additional updates to metadata from Ryan.  He also noted that Western Lake Ontario 1 buoy has stopped communicating with servers so data is not being updated on the website real-time (and he does not have an ETA for when this will be resolved).

[2017-06-21 14:05] gcutrell commented on #109
@hellocomrade fixed after noting that the best time series was apart of a thredds update. Could @hellocomrade elaborate what was done to fix the GLCFS before the issue is closed?

[2017-06-21 17:21] kkoch opened #141 "GN records not pushing to Production"
Not seeing changes made in GeoNetwork on production portal.  I do see them on Dev.

Changes were made to numerous records (about 10) between about 10-11am (it is 1:20pm now).

Last time this happened there was an issue with a metadata record that was preventing the push to production but supposedly Luke had put some code in place to prevent that. Not sure if same thing is happening but see Issue #

[2017-06-21 17:26] #107 closed

[2017-06-21 17:26] kkoch commented on #107
Links from GN & Catalog called Station Page

![image](https://user-images.githubusercontent.com/6392982/27397717-4365667c-5685-11e7-9e50-72a7c76ed096.png)

[2017-06-21 17:31] kkoch commented on #130
I am closing this for now since even though we are not getting data, it does not appear to be a problem on our end.  Will re-open if they let us know they are sending data and we still can't access it.

[2017-06-21 17:31] #130 closed

[2017-06-21 18:09] kkoch commented on #132
Working on user guide but getting an error on dev (thus making difficult to pull screenshots).  Note that I tested this and it displayed the layer for a brief second before removing it and showing the error.

![image](https://user-images.githubusercontent.com/6392982/27399515-066f5d4e-568b-11e7-8b90-0920a3476873.png)

[2017-06-21 18:13] kkoch commented on #132
Also noticed that the metadata link from Boaters left nav for existing buoys reads "Data Access" instead of "Metadata Record" as we have on the Portal.

![image](https://user-images.githubusercontent.com/6392982/27399722-bfd93e08-568b-11e7-81d7-73903dddf907.png)

Portal looks like >
![image](https://user-images.githubusercontent.com/6392982/27399773-e40f8796-568b-11e7-9503-bf3352e3e5b2.png)

[2017-06-21 19:00] kkoch commented on #132
Zooming acting poorly when user clicks on the 'find on map' icon versus just hovering.  Behavior is: first time accessed it zooms super giant sized (image 1) and then resizes slightly smaller but zoom is still too high (see 2nd image where all the user sees is water and then needs to zoom out to get a realistic view). Suggest we leave them at whatever resolution they are currently at or at least n

[2017-06-21 19:24] kkoch commented on #132
Up for discussion but I believe for GLBuoys users wanted units to be in English not Metric so since this is a similar audience, do we want to do the same?  Also, then do we want to provide a toggle to allow them to go to metric?

[2017-06-21 19:31] kkoch commented on #132
DRAFT versions of users guide and a quick start guide completed:

User Guide: https://drive.google.com/open?id=0B7pJZVmOuWvzM0p1RnY2SEVjREk
Quick Start: https://drive.google.com/open?id=0B7pJZVmOuWvzTVc0X3FQWWU1UDQ

PDFs > @Bobfrat the below links are ready to put under the hamburger menu (please list them with a (pdf) after the menu item)
Quick Start (pdf): https://drive.google.com/open?id=0B7pJZ

[2017-06-21 21:07] kknee opened #142 "Update Boaters Tool 'Data Access' links to read 'Metadata Record'"
@bobfrat FYI.  Can't assign you yet...

[2017-06-21 21:14] Bobfrat commented on #142
Looks like I don't have write access to this repo.

[2017-06-21 21:16] kknee commented on #132
@kkoch for your forecast drawing error comment above, which lake are you looking at?

[2017-06-21 21:18] kknee commented on #132
@kkoch for the zoom issue reported above, are you can you replicate the behavior in Image 1, but with your bookmarks bar closed?  I'm wondering if it's a weird screen res issue because things look good to me

[2017-06-22 00:24] kknee commented on #142
@tslawecki can you add @Bobfrat - looks likeI don't have permission to do so.

[2017-06-22 01:44] tslawecki commented on #142
Invited bobfrat to asa team and as direct collaborator.

-------- Original message --------
From: Kelly Knee <notifications@github.com>
Date: 6/21/17 8:24 PM (GMT-05:00)
To: glos/myglos <myglos@noreply.github.com>
Cc: Tad Slawecki <tslawecki@limno.com>, Mention <mention@noreply.github.com>
Subject: Re: [glos/myglos] Update Boaters Tool 'Data Access' links to read 'Metadata Record' (#142)

@tslawec

[2017-06-22 15:20] kkoch commented on #141
Appears to be working now.  Do we know if there was an issue or if the cycle has changed such that it took over 5 hours (at least still hadn't rolled over at 3pm yesterday)?

[2017-06-22 17:01] gcutrell commented on #133
How does something like this look? [http://limnotechdata.com/ALP/45169.php]

I could just add this information to the current station description so there would be no need to create a new metadata key in all the metadata files.

[2017-06-22 17:54] kkoch commented on #132
1) Erie.

2) Yes it does it with bookmarks closed.  Generally just the first time I click then subsequent clicks more normal (although still too far zoomed but not giant).  This is with FF latest version and on two different PC's.  (Added > just tested with Safari on Mac and does it there as well as well as Chrome on several different PC's)

NOTE: Tad and I tested this today in Chrome.  It is repe

[2017-06-22 18:54] kkoch commented on #133
I like (Kathy)

[2017-06-22 18:56] kkoch commented on #130
All is good. Data flowing to GLOS

[2017-06-22 19:37] kknee commented on #141
the catalog should refresh every hour on the hour, but I wonder if there is some other latency in info flowing from GN to OM?

[2017-06-22 19:47] kknee opened #143 "Missing NDBC stations from Env Canada"
@Bobfrat @cheryldmorse  we're still missing NDBC stations - there is only one in Lake Ontario right now.

Is there a way to make sure that we're pulling everything (except those that have been specifically excluded because they are also coming in from GLOS)?

[2017-06-23 14:41] kknee commented on #132
@kkoch the text update from 'Data Access' to 'Metadata Record' is complete

[2017-06-23 15:23] kkoch commented on #141
Closing for now. Will re-open if problem arises again.

[2017-06-23 16:24] gcutrell opened #144 "Add bgsusd2 to data portal"
Bowling Green deployed a new buoy in Sandusky Bay call "bgsusd2". It is in glos_obs and is reporting specific conductivity, pH, turbidity, BGA RFU, RGA RAW, chlorophyll ug/L, chlorophyll RFU, DO saturation and DO mg/L. All the parameters bgsusd is measuring is measured by their new station.

The buoy is located at 41.469318 N/ -82.750450. Let me know if you need any other specific information.

@k

[2017-06-23 16:39] kkoch commented on #144
I will create a GN record (assume copy of bgsusd will work - but need to know if there are metadata differences).  I don't see this appearing in my obs json view so need to get that linking and/or the data_url.

NOTE: I've modified this record a bit - put the habs part over in the habs github tracker (see issue #148) and changed this one to the Data Portal part.

[2017-06-23 16:41] kkoch commented on #144
I will add a GN record (assuming copy of bgsusd will work). Let me know if there are changes.  I don't see this in my obs json view so will need the data url and parameter variables.

NOTE: changed title of this to just portal and created a separate ticket in the habs git repository for the habs part.

[2017-06-23 16:56] kkoch commented on #144
GN record created.  @gcutrell let me know the url (old buoy's was http://data.glos.us/portal/getObsByPlatform.php?provider=glos&platform=Sandusky+Bay)

[2017-06-23 17:23] kkoch commented on #143
These are the buoys I think we should be seeing that we are not. Note that these are all Environment and Climate Change Canada which might be why they are being missed.
Ontario > 45139, 45159, 45135
Erie > 45142, 45132
Lake St. Clair > 45147 (altho' this one is not currently reporting data)
Huron > 45149, 45143, 45137, 45154
Michigan > all is well
Superior > 45136

[2017-06-23 17:29] kkoch commented on #142
Looks good > and looks like @Bobfrat is all set.  So closing.

[2017-06-23 17:29] #142 closed

[2017-06-23 17:32] kkoch commented on #124
Looking good - seeing data now. @gcutrell can you document what the issue was? I closed the ticket.

[2017-06-23 17:32] #124 closed

[2017-06-23 17:44] kknee commented on #143
well that explains it, these aren't in the NDBC SOS feed:

http://sdf.ndbc.noaa.gov/sos/server.php?request=GetCapabilities&service=SOS

Can we close this and setup a new ticket for a new harvest of EC buoys?

[2017-06-23 17:48] kkoch commented on #143
Let's just keep this same ticket (with slightly changed title but it's still same importance).  I know @gcutrell is pulling them into glbuoys already so it must be readily available.  Greg: are you using a separate feed?

[2017-06-23 17:52] gcutrell commented on #143
Yes. We are pulling data straight from the NDBC's website 45-day real-time tables.

[2017-06-23 18:42] Bobfrat commented on #132
@kkoch How's this look? It's on the dev site now.
<img width="198" alt="screen shot 2017-06-23 at 2 25 20 pm" src="https://user-images.githubusercontent.com/5702672/27495985-2e5b74bc-5822-11e7-9cc9-2fa148c48958.png">

[2017-06-23 19:38] kkoch commented on #132
@Bobfrat looks good.  I have the GLOS staff looking at the pdf content.  Once they approve I'll remove the 'draft' notations and we'll be good to go.

NOTE: Tad would eventually like to have these be html but we would then need a landing site/place to host so pdf is good enuf for now.

[2017-06-23 20:14] kkoch commented on #5
@cheryldmorse @Bobfrat

To test, I have added three links to the record for UTLCP in GN.  Once RPS verifies that this works to show the data in the portal, I can take the next step and add the corresponding links to all the buoy records.  This is in addition to the existing GLOS Data Cache (GeoJSON) link we are using now.

URL > http://tds.glos.us/thredds/sos/buoy_agg/utlcp/utlcp.ncml
Protocol > O

[2017-06-23 20:44] gcutrell commented on #133
Have been added in http://glbuoys.glos.us/45174 and http://glbuoys.glos.us/45170

[2017-06-23 20:44] #133 closed

[2017-06-26 15:03] cheryldmorse commented on #143
@gcutrell Where are you pulling the station location from? Are you hard coding the lat/lon or is there a site you are dynamically pulling that data from too?

[2017-06-26 15:09] gcutrell commented on #143
@cheryldmorse We are pulling data from NDBC's 45-day tables based the station ID.
The only dynamic part of the link is the station ID for all their stations. http://www.ndbc.noaa.gov/data/realtime2/45002.txt

[2017-06-26 15:14] gcutrell commented on #143
Sorry. Read your question wrong. We are hard coding the lat/lon although I guess you could pull it from their NDBC pages (ex. http://www.ndbc.noaa.gov/station_page.php?station=45154).

[2017-06-27 17:35] kkoch opened #145 "Add Category"
New category needed for Portal navigation (left nav and dropdown on map)

Name >  Custom Portals
GeoNetwork code > portals

[2017-06-27 18:45] cheryldmorse commented on #144
@kkoch Here is the obs cache link : http://data.glos.us/portal/getObsByPlatform.php?provider=glos&platform=bgsusd2%20-%20Sandusky%20Bay%202

[2017-06-27 18:55] kkoch commented on #144
Thanks GN updated.

@cheryldmorse I've just been having a conv. with @cgalvarino on why I wasn't seeing this plus the parameters list on the json view I use.  Although I see it is there now.  Is there something Greg should be doing to make these show up automatically?

[2017-06-27 19:00] cheryldmorse commented on #144
@kkoch An entry was missing from one of the database tables. I pointed it out to Greg and that step wasn't in the documentation so he's updating the procedure.

[2017-06-27 20:19] kkoch commented on #144
I see bgsusd2 on the portal but no results for data.  @gcutrell are we actually getting data for this buoy into the ftp folder?

[2017-06-27 20:28] tslawecki commented on #132
@Bobfrat - I'm checking in on deployment - do you have the necessary credentials for the Docker host? @

[2017-06-27 20:38] Bobfrat commented on #132
@tslawecki Yes, I have all the docker credentials. Do you know what server we are going to deploy on?

[2017-06-28 00:00] hellocomrade commented on #109
@gcutrell

There is some weird compatibility issues between the current TDS config for GLCFS and the TDS services that GLCFS point query tool can recognize.

More important, FeatureCollection should NOT be used on any Nowcast/Forcing data sets on TDS for GLCFS point query tool.

[2017-06-28 12:13] gcutrell commented on #144
I see up-to-date data in their glos_obs table.

From: Kathy Koch [mailto:notifications@github.com]
Sent: Tuesday, June 27, 2017 4:20 PM
To: glos/myglos <myglos@noreply.github.com>
Cc: Greg Cutrell <gcutrell@limno.com>; Mention <mention@noreply.github.com>
Subject: Re: [glos/myglos] Add bgsusd2 to data portal (#144)

I see bgsusd2 on the portal but no results for data. @gcutrell<https://github.com/

[2017-06-28 14:42] kkoch commented on #144
I see the problem (I think).  URL above that Cheryl gave me has the ascii codes - will see if a copy/paste directly from the json works better (in case there is an extra % in there or somesuch) > http://data.glos.us/portal/getObsByPlatform.php?provider=glos&platform=bgsusd2+-+Sandusky+Bay+2

So we will see if this fixes.

[2017-06-28 15:21] kkoch commented on #144
yep working. closing issue

[2017-06-28 15:21] #144 closed

[2017-06-28 15:25] cheryldmorse commented on #143
NDBC  Environment Canada stations are now being harvested and the data can be viewed on the portal.

[2017-06-28 15:57] kkoch commented on #75
Buoys are reporting in Data Portal.

However @gcutrell notes that another issue is glos_obs doesn't parse blue-green-algae or chlorophyll with units other than rfu. I believe RFU is only used by one sensor manufacturer. The omoecc stations are reporting in ug/L (or ppb) so blue-green-algae or chlorophyll will not go into glos obs.

Turbidity is also an issue.  It seems we will need to gather a lis

[2017-06-28 15:57] #75 closed

[2017-06-28 15:59] kkoch opened #146 "OBS needing new tags (e.g. ug/L, ppb, non-YSI turbidity)"
glos_obs doesn't parse blue-green-algae or chlorophyll with units other than rfu. I believe RFU is only used by one sensor manufacturer. The omoecc stations are reporting in ug/L (or ppb) so blue-green-algae or chlorophyll will not go into glos obs.

Turbidity is also an issue.  It seems we will need to gather a list of new tags/observations to add to glos_obs. I know Ed acknowledged GLOS is lacki

[2017-06-28 16:09] tslawecki commented on #132
@Bobfrat, it goes on myglos.glos.us AFAIK.

[2017-06-28 16:21] kkoch opened #147 "Boater's enhancements"
Longer Term Enhancements
- [ ] Ability to name a buoy (e.g., Kathy's Lake Erie Buoy)
- [ ] Possible way to make it clearer when a user sees the check-boxes for parameters that it only links to graphing
- [ ] discuss if mechanism to locate other tools from Portal can be made more 'elegant' than just a catalog link [DMAC team/RPS]
- [ ] GLOS staff would like users to be able to get to a whole lake v

[2017-06-28 16:38] Bobfrat commented on #132
@tslawecki I'm not sure I have access to myglos.glos.us. Do you mean portal.glos.us?

Are we going to use the same url for the new version? http://data.glos.us/boaters/

[2017-06-28 17:29] tslawecki commented on #132
@Bobfrat, myglos.glos.us is the VM where the docker container that portal.glos.us resolves to is hosted ... I can connect to the console from the vSphere client but *do* *not* have the userID and password. I know that Luke was logging in to do updates in May, perhaps @cheryldmorse has those credentials?

As far as URL goes, I think for now let's go for boaters.glos.us and redirect the old one ther

[2017-06-28 18:47] cheryldmorse commented on #132
@Bobfrat @tslawecki I don't have the credentials.

[2017-06-28 19:57] tslawecki commented on #118
This is completed.

[2017-06-28 19:57] #118 closed

[2017-06-28 20:24] tslawecki commented on #132
Can we reach out to Luke?

[2017-06-28 20:27] kkoch commented on #132
Just a thought >  I thought @gcutrell had all those figured out

[2017-06-28 20:28] Bobfrat commented on #132
I have access to the docker container that runs the data portal at portal.glos.us if that's what we're after. I was just confused about the server names.

[2017-06-30 15:56] Bobfrat commented on #132
@tslawecki What's the time frame for deployment? I'm going to be out all of next week except for Thurs.

[2017-06-30 15:59] tslawecki commented on #132
Would it be easy for you put it up today as a production test with just IP access?

________________________________
From: Bob Fratantonio <notifications@github.com>
Sent: Friday, June 30, 2017 11:56 AM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Boaters Tool transition (#132)

@tslawecki<https://github.com/tslawecki> What's the time frame for deployment? I'm going to be o

[2017-06-30 17:09] Bobfrat commented on #132
yeah I can get it all set up on the server that is hosting the data portal docker image

[2017-07-03 16:28] tslawecki opened #148 "Change private network IP addresses on portal.glos.us?"
I'm looking to set up munin for tracking disk and CU usage on this VM, and noted that it's currently listing 172.18.0.1 and 172.17.0.1 as private IPs in ifconfig. I'm not sure who set this up - I'm guessing Luke - can these be safely changed to 192.168.76.tbd to put them in the same subdomain as the Munin server, or is there something in Docker or the portals dependent on these IPs?

[2017-07-06 14:59] tslawecki commented on #148
Adding @benfish - guessing that's Ben Adams - in case he has any insight into the private IPs ...

[2017-07-06 15:03] cheryldmorse commented on #148
Adding @benjwadams

[2017-07-06 15:20] benjwadams commented on #148
@tslawecki, Docker's stock configuration creates a bridge network over which containers can communicate with each other.  See https://docs.docker.com/engine/userguide/networking .  If you're looking for overall disk/CPU usage you can safely ignore the 172.* IP addresses and use the host IP.

[2017-07-06 15:26] tslawecki commented on #148
@benjwadams - My munin host is only available through the 192.* private network. Do you see any issues arising from adding the requisite 192.* addresses to the portal.glos.us ipconfig? As I understand it, munin-node has to be configured to allow access from the munin server which has a 192.* address.

[2017-07-06 16:02] benjwadams commented on #148
Appears to be an issue with Munin master being able to reach portal.glos.us due to the two servers residing on different subnets.

[2017-07-07 15:57] kkoch commented on #114
@Bobfrat I assigned you since this is something I think you can take care of pretty quickly (?) and it's been hanging around awhile.  If it really belongs to someone else, feel free to re-asign.

[2017-07-13 20:12] kkoch opened #149 "MTRI sat data not showing in portal"
Not seeing any MTRI products in portal >

MTRI - Lake Surface Temperature (MODIS)
MTRI - Lake Surface Chlorophyll (MODIS)
MTRI - Natural Color Imagery (MODIS)
MTRI - Color Dissolved Organic Matter (MODIS)
MTRI - Dissolved Organic Carbon (MODIS
MTRI - Suspended Minerals (MODIS)

@tslawecki checked Thredds and looks like there is a mismatch - files provided back to May 14, however last update would

[2017-07-13 20:18] kkoch opened #150 "Add new MTRI satellite products to Portal"
MTRI has new remote sensing products to add to portal (e.g. HABs).

Amanda will send Kathy list for metadata.  We will then need to coordinate setup including any special legends for RPS end of things and setting up the push to TDS for the data.

[2017-07-13 20:34] kknee commented on #150
If MTRI sets these up as mapserver services, the legend that they specify in mapserver can be used directly in the portal.

Sent from my iPhone

On Jul 13, 2017, at 4:19 PM, Kathy Koch <notifications@github.com<mailto:notifications@github.com>> wrote:

MTRI has new remote sensing products to add to portal (e.g. HABs).

Amanda will send Kathy list for metadata. We will then need to coordinate setup

[2017-07-13 20:35] kknee commented on #149
MTRI data come directly from their mapserver services, shouldn't matter whether we have it on the GLOS TDS. First thing to check is availability of data from mapserver.

Sent from my iPhone

On Jul 13, 2017, at 4:12 PM, Kathy Koch <notifications@github.com<mailto:notifications@github.com>> wrote:

Not seeing any MTRI products in portal >

MTRI - Lake Surface Temperature (MODIS)
MTRI - Lake Surface

[2017-07-13 20:50] kkoch commented on #132
@Bobfrat  Here is the about text.  Ideally would like this to be an html link 'somewhere' or could be a popup. Also feel free to tweak/put your own spin on the couple of places where RPS is mentioned.

The Boaters' View is a custom view of the Great Lakes Observing System (GLOS) Data Portal<http://portal.glos.us/> designed to provide recreational boaters information on lake and river conditions to

[2017-07-13 21:04] kkoch opened #151 "Boaters additional items"
Figured the other ticket was getting too large, so here are the new items:

@benjwadams Two critical items needed for push to production are:
a) ability to go from new url boaters.glos.us and see an entire GL view and/or have a splash entry screen that allows the user to select their lake.  Right now it goes to erie and the user somehow would need to know to navigate to the water body selection na

[2017-07-14 02:43] Bobfrat commented on #132
@kkoch How about in the menu dropdown on the upper right?
<img width="198" alt="screen shot 2017-07-13 at 10 40 11 pm" src="https://user-images.githubusercontent.com/5702672/28196105-6803a1c6-681c-11e7-85df-5f0d8da50326.png">

<img width="947" alt="screen shot 2017-07-13 at 10 41 46 pm" src="https://user-images.githubusercontent.com/5702672/28196121-82fb175c-681c-11e7-8244-f53d151295b3.png">

[2017-07-14 12:55] kkoch commented on #132
@Bobfrat re: about > Perfect!

[2017-07-14 18:04] Bobfrat commented on #151
@kkoch just seeing this now. So the plan is to release on Tuesday?

[2017-07-14 18:05] Bobfrat commented on #145
This is on http://dev.oceansmap.com/myglos/# for testing.

[2017-07-14 18:06] kkoch commented on #151
@Bobfrat yes (that is what @tslawecki would like - if at all within reason)

[2017-07-14 18:07] tslawecki commented on #151
Assuming the landing page glos.us/boaters is available.

________________________________
From: Bob Fratantonio <notifications@github.com>
Sent: Friday, July 14, 2017 2:04 PM
To: glos/myglos
Cc: Subscribed
Subject: Re: [glos/myglos] Boaters additional items (#151)

@kkoch<https://github.com/kkoch> just seeing this now. So the plan is to release on Tuesday?

-
You are receiving this because you are

[2017-07-14 18:07] kkoch commented on #145
Looks good.

[2017-07-14 18:13] kkoch commented on #151
Kristin thinks we will have the Manning landing page done early next week.

[2017-07-14 18:13] Bobfrat commented on #114
This is on dev site now for testing http://dev.oceansmap.com/myglos/#. There are a bunch of updates on Dev and I will push these updates to production once we're happy.

[2017-07-14 18:17] kkoch commented on #114
Close but not quite >  Top one is when I click on the "i" in the catalog nav. Has the right links but not liking the double spacing there.  Bottom one is when I click on the title and it shows on the map - still seeing 'data source' there.

![image](https://user-images.githubusercontent.com/6392982/28224924-da2d5af8-689e-11e7-9159-0d7f98b24bb9.png)

[2017-07-14 18:20] Bobfrat commented on #151
@tslawecki thought it was boaters.glos.us? Did you get my email about that? Do you know who's managing the glos.us DNS entries?

[2017-07-14 18:39] kkoch commented on #151
@Bobfrat I'll answer for Tad > two different things.  We have the landing page on glos.us which is a wordpress page that users will be able to use to access the tool and that is being supported by a different contractor.  Then we have the one that you and @tslawecki are concerned with which is the boaters.glos.us.  I'll let Tad answer the DNS part (but I think it is himself).

[2017-07-14 19:27] tslawecki commented on #151
Thanks @kkoch!

@BobFrat, there is now a DNS A record for boaters.glos.us pointing to 64.9.208.40 - currently reporting unreachable, presumably because the rest of the internet doesn't know about it yet ...

[2017-07-14 19:32] Bobfrat commented on #151
It's actually pointing to myGlos portal because we're directing traffic on port 80 on that IP address to the MyGlos portal. Do you want me to make it point to the Boaters View now? Or make it unreachable until Tuesday?

[2017-07-14 19:35] tslawecki commented on #151
Let's change it now.

________________________________
From: Bob Fratantonio <notifications@github.com>
Sent: Friday, July 14, 2017 3:32 PM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Boaters additional items (#151)

It's actually pointing to myGlos portal because we're directing traffic on port 80 on that IP address to the MyGlos portal. Do you want me to make it point to

[2017-07-14 19:54] Bobfrat commented on #151
Ok, unfortunately updating nginx config restarts all the docker containers on that machine so the myGlos portal will go down for a minute. I see from Google Analytics that 3 users are on the site right now so I'll just wait for a better time to update if thats ok?

[2017-07-14 20:09] Bobfrat commented on #151
Ok we should be set now.

[2017-07-17 14:47] Bobfrat commented on #151
@kkoch we pushed up a solution to these additional items on dev. Can you please have a look and see if they will suffice? Thanks!
http://dev.oceansmap.com/boaters/#

[2017-07-18 13:11] kkoch commented on #151
@Bobfrat I think that works well.  @tslawecki what do you think - push to production?

Also landing page on glos.us by Manning is done > http://www.glos.us/boaters-view/  (once we have the dev changes moved to production I will update or have them update with the full urls (e.g., <url>/boaters/#lake-huron).

[2017-07-18 13:36] tslawecki commented on #151
Looks good to me, too. Let's push it on out!

________________________________
From: Kathy Koch <notifications@github.com>
Sent: Tuesday, July 18, 2017 9:11 AM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Boaters additional items (#151)

@Bobfrat<https://github.com/bobfrat> I think that works well. @tslawecki<https://github.com/tslawecki> what do you think - push to product

[2017-07-18 14:09] Bobfrat commented on #151
Ok http://boaters.glos.us/ has the same version as dev.oceansmap.com/boaters now

[2017-07-18 14:30] kkoch commented on #151
I think the only thing I noticed is that if one clicks 'cancel' from the pop-up it does nothing.  Should we direct them somewhere if they've decided they don't want to choose a lake?  Alternately I would say don't offer them a cancel.

[2017-07-18 14:43] tslawecki commented on #151
Good catch, Kathy ... maybe it's "back" instead of "cancel"?

________________________________
From: Kathy Koch <notifications@github.com>
Sent: Tuesday, July 18, 2017 10:30 AM
To: glos/myglos
Cc: Tad Slawecki; Mention
Subject: Re: [glos/myglos] Boaters additional items (#151)

I think the only thing I noticed is that if one clicks 'cancel' from the pop-up it does nothing. Should we direct them so

[2017-07-18 14:45] kkoch commented on #132
@Bobfrat the hamburger menu is still pointing to the draft versions of the user guides.  Can you update?

Quick Start (pdf): https://drive.google.com/open?id=0B7pJZVmOuWvzQmNYOF8wMEkzWE0
User Guide (pdf): https://drive.google.com/open?id=0B7pJZVmOuWvzYXJJa1p0Ny1MdW8

[2017-07-18 14:49] Bobfrat commented on #151
Removing the cancel is definitely the easiest. Does that work for you guys?

[2017-07-18 15:41] Bobfrat commented on #132
@kkoch I just updated the user guides. You may need a hard refresh.

[2017-07-18 16:23] kkoch commented on #64
https://drive.google.com/file/d/0B7pJZVmOuWvzZkRCU2ptUmVlMW8/view?usp=sharing

Draft policy created. To rest of team for review.

[2017-07-18 16:32] kkoch commented on #132
Perfect. Thanks!

[2017-07-18 17:27] kkoch commented on #141
Need to revisit this.  Would someone at RPS @cheryldmorse ? please verify that pushes to production are happening?  I made changes in GN this morning between 9-10am.  Those changes are appearing on DEV but not on production so apparently the rollover on the hour is not occurring.

Example below:
Updated GVSU1 to fix why we were seeing no results for some variables.  Image 1 is from production. Ima

[2017-07-18 17:46] kkoch commented on #64
Tad's changes > https://docs.google.com/document/d/1Pxi_o_5VSJ0e15H3JeYrWLgdYhmaGcv9JgKMsYb6_nQ/edit?usp=sharing

[2017-07-18 17:46] kkoch commented on #64
Once we get everyone approving, next we need to decide where it lives.

[2017-07-18 18:12] cheryldmorse commented on #141
@Bobfrat - Do you have an info on this?

[2017-07-18 18:25] kkoch commented on #79
@tslawecki what is the status on this one - has it been completed?

[2017-07-18 18:26] #43 closed

[2017-07-18 19:17] #111 closed

[2017-07-18 19:39] kkoch commented on #149
@cheryldmorse Amanda verified that greatlakesremotesensing.org uses the same mapserver instance so the data's definitely available.

So we need to jump on this and find out from our end what's going on.

[2017-07-18 19:43] cheryldmorse commented on #149
@Bobfrat Can you look into this?

[2017-07-18 20:14] Bobfrat commented on #149
I'm on it

[2017-07-19 01:36] Bobfrat commented on #149
The error was on my end. My apologies, were back in business!

[2017-07-19 01:40] Bobfrat commented on #141
Yes, I think I figured out why it wasn't updating. I pushed an update so I'm hoping we won't see this issue again.

[2017-07-19 01:48] Bobfrat commented on #114
@kkoch you can see the updates on http://dev.oceansmap.com/myglos/# now.

Some other updates on dev include station page links in the popup, the Custom Portals category, and adding Organization field (and date created) to user profiles and the feedback form. Please let me know what you think. I can push to production if you give it your blessing.

[2017-07-19 13:04] kkoch commented on #114
Woo hoo.  Everything looks great @bobfrat.  Feel free to find a good time to push to production.

[2017-07-19 13:20] Bobfrat commented on #114
Ok all set 👍

[2017-07-19 13:23] Bobfrat commented on #138
Should be set now

[2017-07-20 16:49] kkoch opened #152 "GLCFS 2D Nowcast archives not available 2016--2017"
Kyle Wilcox <kyle@axiomdatascience.com> noticed that the 2D Nowcast archives for the GLCFS model have either disappeared or haven't been generated since the beginning of 2017. In 2016 they were generated every 50 days.

2017: http://tds.glos.us/thredds/catalog/glos/glcfs/archive2017/erie/ncfmrc-2d/files/catalog.html
2016: http://tds.glos.us/thredds/catalog/glos/glcfs/archive2016/erie/ncfmrc-2d/fil

[2017-07-20 17:03] #145 closed

[2017-07-20 17:04] #138 closed

[2017-07-20 17:04] #149 closed

[2017-07-20 17:04] #141 closed

[2017-07-20 21:10] kkoch opened #153 "Google Tag Manager issues with Boaters & GLBuoys"
Issue reported from Devra:

Hi, Chris--

 It looks like we're having some issues with the GTM implementation on boaters.glos.us. I'm seeing 0 stats appear on the shared GA glos.us property (UA-16070728-1) for this domain in the past 7 days, and it's been live for 2-3 of them with testers on it.

 I took a look in Tag Assistant and am seeing some issues:

 1) This doesn't seem to be using standard

[2017-07-20 21:10] kkoch commented on #153
Update >
1) First off, good news and an update: I was incorrect and boaters.glos.us *is* recording activity. My mistake; I was looking at the dates for last week (ending Sunday) and not this week. It's picked up 140 views/14 unique pageviews from Monday-Wed. of this week. So: whew!

 2) Yes, these are errors/warnings from Tag Assistant (which is a GTM console for Chrome). Detailed reports attached

[2017-07-20 21:12] kkoch commented on #153
@Christopher.Adams@rpsgroup.com
@Bobfrat

[2017-07-21 13:31] kkoch commented on #132
@Bobfrat Can you make one small tweak to the landing pop-up?  Please add to the top above the choose your lake text > "Welcome to the newly designed GLOS Data Portal: Boater's View. First time visitors, please see our user guides in the top right menu for assistance."

[2017-07-21 14:21] kkoch opened #154 "Remove Blue Notification box and update login page"
1) Remove the blue notification to users about passwords >

![image](https://user-images.githubusercontent.com/6392982/28467351-99a2c8d8-6dfd-11e7-8317-b1d83467ff6e.png)

2) On MyGLOS Login page, change "Forgot Password" button to "Change Password"

3) Update the login screen to include the following text:

If you haven't logged in recently your account password may not work. If this is the case,

[2017-07-21 16:33] Bobfrat commented on #132
@kkoch Hows this look?

![screen shot 2017-07-21 at 12 33 23 pm](https://user-images.githubusercontent.com/5702672/28472958-d1ae8fec-6e10-11e7-90e2-e8fe4873de4f.png)

[2017-07-21 16:54] kkoch commented on #132
Make it so Number One.  (NOTE: we will most likely need to change this to something more generic down the road but this is great for roll-out)

[2017-07-21 19:12] Bobfrat commented on #132
Ok deployed to http://boaters.glos.us/

[2017-07-21 20:13] Bobfrat commented on #154
@kkoch
I made those updates on dev: http://dev.oceansmap.com/myglos/
How's it look? Might need to hard refresh to see the updates

[2017-07-25 13:32] kkoch commented on #154
How hard would it be to put that text on the bottom (underneath the buttons)? And a slightly smaller font.

[2017-07-25 13:44] everhamme opened #155 "Major parameters missing - SRAD1 and MWDIR"
ITs been brought to our attention by Guy Meadows that SRAD1 and MWDIR and missing from all GLOS data products (glbuoys and portal).  These two parameters are major parameters that don't appear to be in the GLOS catalog or database.

[2017-07-25 14:32] kkoch commented on #155
NOTE: Per conv. with Ed these are not rush, but should be added to OBS and thus portal (and glbuoys).  @cheryldmorse if you can at least provide LOE that would be great.

[2017-07-25 14:51] Bobfrat commented on #154
@kkoch this will be a true test of my abilities but i will give it a shot!

[2017-07-25 19:06] kkoch opened #156 "Need to update glos status page"
http://data.glos.us/status/

This is a page that was maintained by Guan.  It is somewhat useful as a quick health of the system check because it lists the last time we obtained data into obs.

However... it is not consistent with our metadata (e.g., says MTRI as the owner of what should say Michigan-Tech buoys) and the color scheme of purple while pretty probably would hurt to be changed.

So a) w

[2017-07-25 19:33] Bobfrat commented on #154
@kkoch How's this look?
<img width="1438" alt="screen shot 2017-07-25 at 3 32 56 pm" src="https://user-images.githubusercontent.com/5702672/28590005-954a6aee-714e-11e7-9b57-ace406f6e391.png">

[2017-07-25 19:35] kkoch commented on #154
Yep. I like.

[2017-07-25 19:55] Bobfrat commented on #154
Ok its on http://portal.glos.us/ now

[2017-07-25 20:07] kkoch commented on #154
@Bobfrat I'm having an issue where I go to the myglos login page and if I decide I really didn't want to login > 'map' button is grayed out (inspecting the element says it is disabled). 'Catalog' button is not grayed out but doesn't do anything when I click on it.  I can honestly say I haven't tried that before so I don't know if this is new bad behavior or old bad behavior.  I've tried in both FF

[2017-07-25 20:18] Bobfrat commented on #154
I just rolled back to an older version and the map button is greyed out but catalog works so it appears this is a new issue. I'll have a look.

[2017-07-26 13:07] Bobfrat commented on #154
@kkoch another option might be to remove the catalog and map buttons up top and add a cancel button with the login and change password buttons that brings you back to the catalog. Let me know what you think.

[2017-07-26 13:25] kkoch commented on #154
I could live with that if you can't fix.

[2017-07-26 13:35] everhamme opened #157 "Minor parameter request - SRAD2 and VBAT"
Requested by Guy Meadows.  VBAT is definitely useful...  no idea who even has more than 1 solar radiation sensor?

[2017-07-26 16:15] everhamme commented on #155
Just edited to add ADCP data to this list.

[2017-07-27 15:04] kkoch commented on #146
Guy Meadows has also requested that we add the following parameters:
SRAD1 (solar radiation), MWDIR, ADCP

Of a lower priority: SRAD2 (2nd measure of solar radiation - there may only be one buoy that collects this) and VBAT

[2017-07-27 15:10] kkoch commented on #146
Here is the list of what could be or has been requested to be added:

Currents (see also user_queries https://github.com/glos/user_queries/issues/13)
blue-green algae (ug/L or ppb instead of just RFU)
chlorophyll (ug/L or ppb instead of just RFU)
turbidity (ntu instead of just YSI)
SRAD1 & SRAD2 (solar radiation)
MWDIR (wave direction)
ADCP (water current velocities over a depth range)
VBAT (batte

[2017-07-27 15:11] kkoch commented on #157
Consolidated this into issue #146

[2017-07-27 15:11] #157 closed

[2017-07-27 15:11] kkoch commented on #155
Consolidated this into issue #146

[2017-07-27 15:11] #155 closed

[2017-07-27 15:19] kkoch commented on #104
From Colin > Which reminds me, I think I have a missing year of Keweenaw thermistor chain data to send to you. 2015 perhaps? I'll dig it up. Amanda worked on prepping it for sharing.

[2017-07-27 15:57] #151 closed

[2017-07-27 16:54] gcutrell commented on #146
Has anyone implemented new parameters for the glos_obs parser and database before? If not I'll need to contact Guan.

[2017-07-27 17:23] kkoch commented on #132
I believe this ticket is pretty much done with the only pending item Manning's links from the glos.us site (a non-dmac task).  I've moved the action items related to after-beta release to a new ticket and will close this once we have the glos.us change made.

[2017-07-27 17:23] kkoch opened #158 "Boaters Tool Transition (after Beta tasks)"
Enhancements to be completed after beta release

- [ ] add login capability [RPS]
- [ ] add alerts [RPS]
- [ ] add alerts access to hamburger menu [RPS]
- [ ] create webpage with list of marinas [?] [for beta will just be a pdf document]
- [ ] add marinas webpage to hamburger menu [RPS]
- [ ] zooming issue for 'find buoy' (see screeenshots in issue #132) [RPS]

[2017-07-27 17:25] kkoch commented on #146
might be good to pull in @hellocomrade

[2017-07-27 17:33] kkoch commented on #153
@gitchrisadams @Bobfrat > Do we have a status on this? High priority!

[2017-07-27 17:36] everhamme commented on #153
Note this needs to cover the glbuoys.glos.us website too.

Greg c is tracking but needs help

Ed Verhamme
Project Engineer
LimnoTech www.limno.com
Ph: (734) 332-1200<tel:(734)%20332-1200>
Direct/Cell:  (734) 681-0577<tel:(734)%20681-0577>
everhamme@limno.com<mailto:everhamme@limno.com>

-------- Original message --------
From: Kathy Koch <notifications@github.com>
Date: 7/27/17 1:34 PM (GMT-05:00)

[2017-07-27 18:02] Bobfrat commented on #153
We've been working on this with Devra. There is a long email correspondence. I think we're close

[2017-07-27 18:59] kkoch commented on #146
Additional suggestion > add water depth as a static value to the database table  @gcutrell thinks there might already be a field that could be used (elevation).

[2017-07-28 13:40] kkoch commented on #132
Closing this.  Looks like all our Beta release tasks are complete.  After Beta and future enhancements have been moved to new issue trackers.

[2017-07-28 13:40] #132 closed

[2017-07-28 20:43] Bobfrat commented on #154
Ok login fix on http://dev.oceansmap.com/myglos/ Let me know if you approve and I'll move it over to production

[2017-07-31 20:13] gcutrell commented on #146
@hellocomrade Could you provide some documentation for added new xml tags to the glos_obs parser and database? Hard to believe I never realized GLOS wasn't saving wave direction or solar radiation although I guess I was never looking at buoy data on GLOS before.

[2017-07-31 21:26] kkoch commented on #154
Looks good. Thanks! Make the move when you have a chance.

[2017-08-01 11:36] Bobfrat commented on #154
@kkoch its on portal.glos.us now too

[2017-08-01 14:41] #154 closed

[2017-08-01 14:51] kkoch commented on #82
Form header, hover, and feedback box text have been updated.

Changing this now to a lower priority 'future enhancement' label for the adding an urgency box and user organization (optional) box.

Also changed title to reflect that this is now focused on updating the database/form itself.

[2017-08-01 14:54] Bobfrat commented on #82
Organization field should be in there. We added that recently.

[2017-08-01 15:27] kkoch commented on #82
Ah you snuck that in on me.  Great job.